.auth-form {
  position: relative;
}
.auth-form .loader {
  display: none;
}
.auth-form.inload:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(215, 216, 217, 0.9);
  z-index: 2;
}

.auth-form.inload .loader {
  display: block;
  position: absolute;
  z-index: 3;
}

.loader {
  top: 50%;
  left: 50%;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader.main-loader {
  position: fixed
}
.loader.min {
  position: static;
  font-size: 14px;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 0 0;
  border-width: .2em;
}

.button-loader {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
}
.load-table-data .loader {
  border-color: rgba(0, 0, 0, 0.2);
  border-left-color: #000;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  margin-top: -6em;
  margin-left: -6em;
  box-sizing: border-box;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
