.date-picker-wrapper {
    max-width: 21em;
    background-color: #fff;
}
.date-picker-wrapper .month-wrapper {
    width: 100%!important;
}
.date-picker-wrapper .month-wrapper table {
    width: 100%;
    text-align: center;
    font: inherit;
}
.date-picker-wrapper .week-name {
    display: none;
}
.date-picker-wrapper table thead {
    background-color: #1e252b;
    color: #fff;
    text-transform: uppercase;
    line-height: 3em;
}
.date-picker-wrapper table thead .next,
.date-picker-wrapper table thead .prev {
    cursor: pointer;
    display: block;
    text-align: center;
}
.date-picker-wrapper table thead .next:before,
.date-picker-wrapper table thead .prev:before {
    content: '';
    display: inline;
    font-family: FontAwesome;
    font-size: 1.25em;
}
.date-picker-wrapper table thead .next:before {
    content: "\f105";
}
.date-picker-wrapper table thead .prev:before {
    content: "\f104";
}
.date-picker-wrapper table tbody td {
    border: 1px solid #ececec;
    color: #8497a0;
    line-height: 2.75em;
    width: 14.3%;
}
.date-picker-wrapper table tbody td .valid {
    cursor: pointer;
}
.datepicker-static-container {
    padding: 0.85em 0;
}
.date-range-length-tip {
    display: none!important;
}
.date-picker-wrapper .checked {
    position: relative;
    background-color: #fafafa;
}
.date-picker-wrapper .real-today {
    color: #111;
}
.date-picker-wrapper .last-date-selected:after,
.date-picker-wrapper .first-date-selected:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0.5em;
    border-style: solid;
    border-color: #a9c0c9 #a9c0c9 transparent transparent;
}