.marketplaces-form {
  .field-input + .field-label {
    padding-left: 0.5em;
  }
}

/* Profile manager */
.list-table {
  background-color: #f8f8f8;
  color: #2b2b2b;
  .radio-form {
    display: block;
    text-align: center;
  }
  thead {
    tr {
      background-color: #e8e8e8;
    }
    th {
      line-height: 1.2em;
      padding: 1.5em 1.2em;
      &:last-child {
        width: 1px;
        padding-left: 2.5em;
        padding-right: 2.5em;
      }
    }
    &.dark-head {
      text-align: left;
      font-size: 1.25em;
      th {
        line-height: 0.96em;
        padding: 1em;
        background-color: #d2d3d5;
        border-left: 1px solid #fff;
      }
    }
  }
  tbody {
    > tr {
      &.even {
        background-color: #f8f8f8;
      }
      &.odd {
        background-color: #fff;
      }
      + tr {
        td {
          border-top: 1px solid transparent;
        }
      }
    }
    td {
      padding: 0 1em;
      vertical-align: top;
    }
  }
  th + th, td + td {
    border-left: 3px solid rgba(255, 255, 255, 0.4);
  }
  th, tbody td {
    padding: 0.4em 0;
  }
  &.marketplaces-table {
    tbody td {
      vertical-align: middle;
      border-left: 1px solid #fff;
      line-height: 2.55em;
      .logotype-company {
        margin-top: -0.4em;
        margin-bottom: -0.4em;
      }
      &.name-cell {
        padding-left: 1.35em;
      }
    }
  }
  .button-cell {
    .btn {
      margin: 0.2em 0;
    }
  }
  .empty-row {
    td, th {
      padding: 2em 0;
      line-height: 0;
      background-color: #F5F5F5;
    }
  }
  .sort-btns {
    position: absolute;
    right: 0.9em;
    top: 0.95em;
  }
  .titles-row {
    text-align: left;
  }
}


.logotype-company, .logotype-shipping {
  text-align: center;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  img {
    display: block;
    margin: 0 auto;
  }
}
.logotype-shipping {
  img {
    height: 4em;
  }
}
.logotype-company {
  width: 11em;
  height: 5em;
  font-size: 0.95em;
  &.ebay {
    img {
      width: 115%;
      margin: -6% -7.5%;
    }
  }
  &.shopify {
    img {
      width: 150%;
      margin: -17% -25%;
    }
  }
  &.magento {
    img {
      width: 130%;
      margin: -12% -15%;
    }
  }
  &.bigcommerce {
    img {
      width: 154%;
      margin: -16% -27%;
    }
  }
  &.rd3party {
    img {
      width: 227%;
      margin: -35% -65.5%
    }
  }
}
.marketplace-title-block {
  width: 100%;
  .logotype-company {
    font-size: 1.5em;
    margin-right: 2em;
  }
  .marketplace-title-text {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
  }
}
.marketplaces-list {
  .name-cell {
    padding-top: 1.85em;
    &.disabled-marketplace {
      color: #777;

    }
  }
}

.warning-icon {
  float: right;
  color: #998200;
  .fa {
    font-size: 1.5em;
  }
}

