$color-0: #000000;
$color-1: #1e252c;
$color-2: #17305a;
$color-3: #1a468d;
$color-4: #0071b9;
$color-5: #bcdce5;
$color-6: #ffffff;

$menu-color-1: #1E252B;
$menu-color-2: #2B333A;
$menu-color-3: #36434F;
$menu-color-4: #262f36;

$content-wrapper-color: #BBDCE5;
$content-title-bgcolor: #B0D0D9;
$content-title-border: #8ea7b0;


$cards-color-1: #0167BD;
$cards-color-2: #1E252B;
$cards-color-3: #FFB000;
$cards-color-4: #002A6C;
$cards-color-5: #EC1A3A;
$cards-color-6: #00309B;
$cards-color-7: #EB6C20;
$cards-color-8: #00bfa5;

$cards-color-1-h: #0172cf;
$cards-color-2-h: #2e3e44;
$cards-color-3-h: #ffc000;
$cards-color-4-h: #003ca8;
$cards-color-5-h: #ff1b3e;
$cards-color-6-h: #0043e1;
$cards-color-7-h: #ff7523;
$cards-color-8-h: #00b89c;

$cards-color-1-a: #014c98;
$cards-color-2-a: #0c0c11;
$cards-color-3-a: #c88700;
$cards-color-4-a: #001b41;
$cards-color-5-a: #901324;
$cards-color-6-a: #00309B;
$cards-color-7-a: #a95018;
$cards-color-8-a: #00846f;