$base-font-size: 14px;
body, html {
  width: 100%;
  overflow: auto;
  height: 100%;
}
body {
  margin: 0;
  font: $base-font-size 'Ubuntu', sans-serif;
  color: #111111;
  position: relative;
  min-width: 320px;
  background: #1E252B url(/images/bba_login_background.jpg) no-repeat fixed center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  &:after {
    position: fixed;
    content: '';
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  &.data-transfer {
    &:after {
      display: block;
    }
  }
}

.left-sidebar, .top-bar, .all-page-handler {
  @include opacity(0);
  @include transition(0.2s opacity linear);

}
html.onload-page {
  height: 100%;
  .left-sidebar, .top-bar, .all-page-handler {
    @include opacity(1);
  }
  body {
    min-height: 100%;
    height: auto;
    background: $content-wrapper-color none;
  }
}

a {
  outline: 0 none;
  img {
    border: 0 none;
  }
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  line-height: 1.2em;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  margin: 0;
}

.title-holder {
  background-color: $content-title-bgcolor;
  padding: 1.2em 1.65em;
  clear: both;
  z-index: 14;
  position: relative;
  white-space: nowrap;
  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.title-content {
  margin: -1.35em 0 -1.3em;
}
h1 {
  line-height: 1.2em;
  font-size: 1.985em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 0.9em;
  line-height: 1.12em;
  span {
    font-weight: normal;
  }
}
h1, h2, h3 {
  @include text-shadow(0 1px 2px rgba(255, 255, 255, 0.45));
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0069cc;
  &:hover {
    text-decoration: underline;
  }
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
  display: block;
}
table {
  font: inherit;
}

/* Datepicker */
.datepicker {
  float: none;
}
.fa {
  font-size: inherit;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
.float-right {
  float: right!important;
}
.float-left {
  float: left!important;
}
.nowrap {
  white-space: nowrap;
}
.white-space-normal {
  white-space: normal;
}
.block {
  displaY: block;
}

.block-important {
  displaY: block !important;
}
.normal-weight-text {
  font-weight: normal!important;
}
.bold {
  font-weight: bold;
}
.bottom-align {
  vertical-align: bottom!important;
}
.bottom-5em {
  padding-bottom: 5em!important;
}
.bottom-1em {
  padding-bottom: 1em!important;
}
.bottom-2em {
  padding-bottom: 1.85em !important;
}
.bottom-10px {
  padding-bottom: 0.7em;
}
.h-09 {
  height: 0.9em;
}
.h-12 {
  height: 1.2em;
}
.relative {
  position: relative;
  z-index: 1;
}

.z-index-5 {
  z-index: 5;
}
.absolute {
  position: absolute !important;
  z-index: 2;
}
.bottom-position {
  position: absolute;
  bottom: 0;
}
.right-text {
  text-align: right;
}
.size-1-25 {
  font-size: 1.25em!important;
}
.size-2 {
  font-size: 2em!important;
}
.size-1 {
  font-size: 1em!important;
}
.size-1-5 {
  font-size: 1.5em!important;
}
.size-0-75 {
  font-size: 0.75em!important;
}
.size-0-9 {
  font-size: 0.9em!important;
}
.size-0-6 {
  font-size: 0.5em!important;
}
.size-0-5 {
  font-size: 0.5em!important;
}
.no-text-transform {
  text-transform: none!important;
}
.clear-fix {
  &:after, &:before {
    content: '';
    display: table;
    width: 100%;
  }
}
.clear-both {
  clear: both!important;
}
.disabled {
  @include opacity(0.7);
}
.grey-block {
  background-color: #f8f8f8;
  border-bottom: 3px solid #e0e1e1;
}
.no-padding-lr {
  padding-left: 0!important;
  padding-right: 0!important;
}
.grey-line {
  background-color: #F5F5F5;
  padding: 1.5785714285714283em 1.2857142857142858em;
}
.dark-grey-line {
  background-color: #e8e8e8;
  padding: 1.5785714285714283em 1.2857142857142858em;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.block-center {
  margin: 0 auto;
}
.no-visibility {
  visibility: hidden;
}
.update-data {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 4em;
    height: 4em;
    position: absolute;
    z-index: 101;
    left: 50%;
    top: 50%;
    margin: -2em auto auto -2em;
    background: url(/images/preloader.svg) center center no-repeat;
    background-size: contain;
  }
  &:after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &.table-container {
    &:after {
      @include transition(all linear 0.1s);
    }
    &:not(.active-update-data):after {
      @include opacity(0);
      z-index: 0;
    }
    &.active:after {
      @include opacity(1);
    }
    &:before {
      content: none;
    }
  }
}
.in-progressing {
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    background: url(images/preloader.svg) center center no-repeat rgba(255, 255, 255, 0.7);
    z-index: 99;
  }
}
.display-table {
  display: table;
}
.display-row {
  display: table-row;
}
.display-cell {
  display: table-cell!important;
}
.settings-checkboxes .display-cell {
  padding-top: 1em;
  padding-bottom: 1em;
}
.settings-checkboxes .checkbox-form {
  padding-right: 1em;
}
.existing-list {
  background-color: #f1f1f1;
  color: #898989;
  line-height: 5.05em;
  .delete-btn {
    margin-top: 1.65em;
  }
  li {
    padding: 0 1em;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2em;
    }
  }
  li:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.instructions {
  li {
    padding: 0.2em 0;
    color: #444;
    display: list-item;
  }
  ol {
    list-style-type: decimal;
    padding-left: 2em;
  }
  p {
    padding-bottom: 1em;
    color: #000;
  }
}
