<div class="header-button">
    <span role="button" class="btn btn-blue">
        <span class="btn-icon">
            <img src="/images/icons/buttons/edit_icon.svg">
        </span>
        <span class="btn-text">Edit/View</span>
    </span>
</div>