<div class="to-top bottom-2em">
    <div class="error-holder clear-fix">
        <!--- AddressForm error --->
        <div ng-errors="errorsForm" form-error></div>
        <!--- / AddressForm error --->
    </div>
</div>
<form class="grid-row padding-lr-0-5 bottom-5em padding-tb" name="addressForm" novalidate ng-init="getAddress()">
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Customer Details:</h3>
                <div class="grid-row padding-lr-0-5">
                    <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">

                        <label class="field-container">
                            <span class="field-label">Company:</span>
                            <input placeholder="Your company name" type="text" ng-model="address.company"
                                   ng-class="{'response-error': errorsForm.fieldErrors.company }">
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.company}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">First Name:</span>
                            <input placeholder="What is your first name" required="" ng-model="address.firstName" type="text" ng-class="{'response-error': errorsForm.fieldErrors.firstName }">
                            <span class="error-field required-error field-label">Correct "First Name" is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.firstName}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Last Name:</span>
                            <input placeholder="What is your last name" required="" ng-model="address.lastName" type="text"  ng-class="{'response-error': errorsForm.fieldErrors.lastName }">
                            <span class="error-field required-error field-label">Correct "Last Name" is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.lastName}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Phone:</span>
                            <input placeholder="0455454412" required="" ng-model="address.phone" type="text" ng-class="{'response-error': errorsForm.fieldErrors.phone }">
                            <span class="error-field required-error field-label">Correct "Phone" is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.phone}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Email:</span>
                            <input placeholder="you@youremail.com.au" required="" ng-model="address.email" type="email" ng-class="{'response-error': errorsForm.fieldErrors.email }">
                            <span class="error-field required-error field-label">Correct "Email" is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.email}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container">
                            <span class="field-label">Notes:</span>
                            <textarea rows="4" ng-model="address.notes" class="textarea" ng-class="{'response-error': errorsForm.fieldErrors.notes }"></textarea>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.notes}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Address Details:</h3>
                <div class="grid-row padding-lr-0-5">
                    <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Address:</span>
                            <input type="text" placeholder="23 Smith Street" required ng-model="address.addressLine1"
                                   ng-class="{'response-error': errorsForm.fieldErrors.addressLine1 }">
                            <span class="error-field required-error field-label">Correct "Address" is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.addressLine1}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container">
                            <input type="text" placeholder="Fortitude Valley" ng-model="address.addressLine2" ng-class="{'response-error': errorsForm.fieldErrors.addressLine2 }">
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.addressLine2}}</span>
                        </label>
                    </div>
                </div>

                <ng-location ng-model="address.location" ng-params="locationOptions"></ng-location>

                <div class="grid-row padding-lr-0-5">
                    <div class="grid-cell grid-1">
                        <br/>

                        <h3>&nbsp;</h3>

                        <div class="map-wrapper">
                            <div class="map-container"></div>
                        </div>
                    </div>
                    <div class="grid-cell grid-space-line"></div>
                    <div class="grid-cell grid-1 right-text clear-fix">
                        <button role="button" class="btn btn-normal-blue float-right"
                                ng-click="saveAddress(addressForm)">
                            <span class="button-loader" ng-if="addressFormProgress"
                                  ng-include="'/templates/elements/button-loader.html'"></span>
                            <span class="btn-text">{{addressId ? 'Update' : 'Save'}}</span>
                        </button>
                        <button type="submit" class="btn btn-red float-right" ng-click="toBack()">
                            <span class="btn-text">{{addressId ? 'Back' : 'Cancel'}}</span>
                        </button>
                    </div>
                </div>
                <div class="grid-row relative">
                    <div class="grid-cell grid-1 original-map-container">
                        <br/>

                        <h3>Display Maps:</h3>

                        <div class="map-wrapper" ng-class="{'update-data': mapInUpdate}">
                            <div class="map-container" id="map-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</form>













