.autocomplete-container {
  input[type="text"] {
    background: 0 none;
    position: absolute;
    top: 0;
    @include box-shadow(none);
    @include text-shadow(none);
  }
  .error-field {
    margin-top: -2.4em;
  }
  .autocomplete-length-require {
    display: block;
    width: 2em;
    position: absolute;
    top: 50%;
    right: 0.35em;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    margin-top: -1.4em;
  }
  &:not(.no-variants) {
    .autocomplete-input-label {
      input {
        &:not(:focus) {
          cursor: default;
        }
      }
    }
  }
  .loader.min {
    margin-right: 0.75em;
    border-color: rgba(87, 87, 87, 0.4);
    border-left-color: #ffffff;
    position: absolute;
    right: 0;
    display: block;
    left: auto;
    top: 50%;
    margin-top: -0.7em;
  }
  .select-1 {
    .select-active-area {
      color: rgba(255, 255, 255, 0.5);
      line-height: 2.5em;
      text-indent: 2px;
    }
    ~ .autocomplete-input-label input[type="text"] {
      color: #fff!important;
      height: auto;
      background: none!important;
      border: none;
      background: 0 none;
      position: absolute;
      top: 0;
      @include box-shadow(none);
      @include text-shadow(none);
      @include border-radius(0.35em);
      &:not([readonly]):focus {
        @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 130, 255, 1));
      }
      &::selection {
        color: #0070cf;
        background: #fff;
      }
      &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      &:-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      line-height: 2.5em;
      padding-left: 1.2em;
      text-indent: 2px;
    }
    ~ .autocomplete-length-require {
      line-height: 2em;
    }

  }
  &.no-variants .select-1 {
    .select-active-area:after {
      @include opacity(0);
    }
    ~ .autocomplete-input-label input[type="text"] {
      &[readonly="readonly"] {
        color: #fff !important;
        background-color: rgba(189, 186, 207, 0.5) !important;
        @include box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.2));
        border-color: transparent;
        &:-ms-input-placeholder {
          color: #fff !important;
        }
        &::-webkit-input-placeholder {
          color: #fff !important;
        }
        &:-moz-placeholder {
          color: #fff !important;
        }
      }
    }
  }
  &.no-variants .select-2 {
    .select-active-area:after {
      @include opacity(0);
    }
  }
  .select-2 {
    ~ .autocomplete-input-label input[type="text"] {
      &:focus {
        background-color: transparent;
        text-indent: 0;
      }
    }
    .select-active-area {
      color: rgba(16, 16, 16, 0.5);
      border: 0 none;
      text-indent: 1px;
    }
    ~ .autocomplete-length-require {
      line-height: 3em;
    }
    ~ .loader {

    }
  }
  .select {
    display: block;
    .select-active-area {
      @include box-sizing(border-box);
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .autocomplete-no-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 1em 0;
    background-color: #1e252b;
    color: #fff;
    @include box-shadow(0 0 0.2em rgba(0, 0, 0, 0.1));
    @include border-radius(0.3em);
    padding: 0.07142857142857142em 1.2142857142857142em;
    line-height: 2em;
    &:before {
      display: block;
      content: '';
      border-width: 0 0.4642857142857143em 0.5em;
      margin-top: -0.5em;
      float: right;
      height: 0;
      width: 0;
      border-style: solid;
      border-color: #1e252b transparent;
      margin-right: 2.7142857142857144em;
      left: 0.4285714285714286em;
      position: relative;
    }
  }
  .autocomplete-loader {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.25em;
    right: 0.35em;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.autocomplete-input-label {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  left: 0;
  bottom: 0;
}

.autocomplete-input-label input[type="text"] {
  form.ng-submitted .select-1 + &.ng-invalid, .select-1 + &.ng-invalid.ng-touched, .select-1 + &.response-error {
    margin: -2px 0;
    border: 2px solid #ffb1c6;
    text-indent: 0;
    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
    &:-moz-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
    &:focus {
      border-width: 2px;
      margin: -2px 0;
      text-indent: 0;
      &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      &:-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      border-color: #FF799D;
      @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.4));
    }
    &[readonly="readonly"] {
      margin: 0;
      border: 0 none;
      text-indent: 2px;
    }
  }
}