<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i class="fa fa-angle-down tab-arrow"></i>
        <h2>Automated:</h2>
    </div>
    <div class="wrapper-padding-lr wrapper-padding-tb">
        <div class="grid-row padding-lr-0-5">
            <div class="grid-cell grid-1 relative">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <div class="grid-row">
                            <div class="grid-cell grid-1-2">
                                <h3>
                                    Confirm carrier and manifesting: <span>Manifest No. 12345678A</span>
                                </h3>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <h3>
                                    Linehaul: <span>Automated</span>
                                </h3>
                            </div>
                        </div>

                        <div class="field-container float-left">
                            <span class="field-label">Outer Package:</span>
                            <select ng-select ng-parent="field-container">
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                            </select>
                        </div>
                        <div class="clear-both"></div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-5-6">
                                <div class="grid-row padding-lr-0-5">
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Quantity:</span>
                                            <input value="1">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Length:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Width:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Height:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Weight:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-1-6">
                                <div class="field-holder-form">
                                    <span class="label-name">&nbsp;</span>
                                    <a href="#" class="btn btn-red">
                                        <span class="btn-text">Quote</span>
                                    </a>
                                </div>
                            </div>
                            <div class="grid-cell grid-1">
                                <span role="button" class="btn btn-normal-blue">
                                    <span class="btn-text">Add</span>
                                </span>
                                <span role="button" class="btn btn-red">
                                    <span class="btn-text">Remove</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-2-3">
                <div class="grid-cell-content">
                    <div class="grey-line">
                        Display of available quotes from above parameters.
                    </div>
                    <ng-sortable-table table-data="quotes"></ng-sortable-table>
                    <div class="form-field-set">
                        <div class="float-right nowrap">
                            <a href="#" class="btn btn-normal-blue">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">MANIFEST</span>
                            </a>
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">LABEL</span>
                            </a>
                        </div><br/>
                        <div class="bold">Download Label and Manifest:</div>
                        <br/>
                        <div class="grid-row padding-lr-0-5 padding-tb">
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please conduct scan</span>
                                        SSCC Outer Tag:
                                    </span>
                                    <input value="000111010110111011010"/>
                                </label>
                                <label class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please assign tag No.</span>
                                        GRAI Tag:
                                    </span>
                                    <input value="00011101"/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <div class="field-container">
                                    <span class="field-label">&nbsp;</span>
                                    <span role="button" class="btn btn-normal-blue">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/drawing_icon.svg"/>
                                        </span>
                                        <span class="btn-text">SCAN ITEM</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <ul>
                            <li>
                                <b>Consignment Number:</b> ABC 123456789<br><br>
                            </li>
                            <li>
                                <b>Tracking No.:</b> 12345678910&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="bold" href="#">www.startrack.com.au/tracking@12345678910</a>
                                <br><br>
                            </li>
                            <li>
                                <b>First Mile:</b> BBA Profile 1<br><br>
                            </li>
                            <li>
                                <b>Location:</b> Chadstone VIC 3148 Australia
                            </li>
                        </ul><br/>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-1-3">
                <div class="grid-cell-content">
                    <div class="grey-line">
                        Enter the country location of your entry.
                    </div>
                    <div class="form-field-set">
                        <h3>Collection Date & Time:</h3>
                        <div class="datepicker-static-container">
                            <input type="hidden" range-datepicker options="{{rangePickerOptions}}"/>
                            <div id="date-ranger"></div>
                        </div><br/>

                        <div class="field-container">
                            <span class="field-label size-1">Earliest Collection Time:</span>
                            <select ng-select ng-parent="field-container">
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                            </select>
                        </div>
                        <div class="clear-both"></div>
                        <div class="field-container">
                            <span class="field-label size-1">Latest Collection Time:</span>
                            <select ng-select ng-parent="field-container">
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                                <option>Please select time</option>
                            </select>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i class="fa fa-angle-down tab-arrow"></i>
        <h2>
            Semi-Automated:
        </h2>
    </div>
    <div class="wrapper-padding-lr wrapper-padding-tb">
        <div class="grid-row padding-lr bottom-5em">
            <div class="grid-cell grid-1 relative">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <div class="grid-row">
                            <div class="grid-cell grid-1-2">
                                <h3>
                                    Confirm carrier and manifesting: <span>Manifest No. 12345678A</span>
                                </h3>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <h3>
                                    Linehaul: <span>Automated</span>
                                </h3>
                            </div>
                        </div>

                        <div class="field-container float-left">
                            <span class="field-label">Outer Package:</span>
                            <select ng-select ng-parent="field-container">
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                                <option>ABC Package Name</option>
                            </select>
                        </div>
                        <div class="clear-both"></div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-5-6">
                                <div class="grid-row padding-lr-0-5">
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Quantity:</span>
                                            <input value="1">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Length:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Width:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Height:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1-5">
                                        <div class="field-container">
                                            <span class="field-label">Weight:</span>
                                            <input value="1.2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-1-6">
                                <div class="field-holder-form">
                                    <span class="label-name">&nbsp;</span>
                                    <a href="#" class="btn btn-red">
                                        <span class="btn-text">Quote</span>
                                    </a>
                                </div>
                            </div>
                            <div class="grid-cell grid-1">
                                <span role="button" class="btn btn-normal-blue">
                                    <span class="btn-text">Add</span>
                                </span>
                                <span role="button" class="btn btn-red">
                                    <span class="btn-text">Remove</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-2-3 grid-cell">
                <div class="grid-cell-content">
                    <div class="grey-line">
                        <div class="grid-row padding-lr">
                            <div class="grid-cell grid-unique">
                                <div class="field-holder-form">
                                    <span class="label-name">Type:</span>
                                    <input value="ULD">
                                </div>
                            </div>
                            <div class="field-holder-form">
                                <div class="size-0-5">&nbsp;</div>
                                <h3>Qantas Airways - Melbourne to China profile</h3>
                            </div>
                        </div>
                    </div>
                    <div class="dark-grey-line">
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <div class="field-label">&nbsp;</div>
                                    <h3>Enter Linehaul booking ref. or manifest number:</h3>
                                </div>
                            </div>
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <span class="field-label">Ref. Number:</span>
                                    <input value="AWE1255214557885226">
                                </div>
                            </div>
                        </div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <div class="field-label">&nbsp;</div>
                                    <h3>SSCC Outer Tag <span class="normal-weight nowrap">(Parent Identifier)</span> No:</h3>
                                </div>
                            </div>
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please conduct scan</span>
                                        SSCC Outer Tag No:
                                    </span>
                                    <input value="11001110110110000110">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-5">
                                <div class="field-container">
                                    <span class="field-label">&nbsp;</span>
                                    <span role="button" class="btn btn-normal-blue">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/drawing_icon.svg"/>
                                        </span>
                                        <span class="btn-text">SCAN ITEM</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <div class="field-label">&nbsp;</div>
                                    <h3>GRAI Tag No:</h3>
                                </div>
                            </div>
                            <div class="grid-cell grid-2-5">
                                <div class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please assign tag No.</span>
                                        GRAI Tag No:
                                    </span>
                                    <input value="32423423423223">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-field-set">
                        <h3>Summary:</h3>
                        <ul>
                            <li>
                                <b>First Mile:</b> ABC 123456789<br><br>
                            </li>
                            <li>
                                <b>Location:</b> 12345678910
                            </li>
                        </ul><br/><br/>
                    </div>
                </div>
                <br/><br/>
                <a href="#" class="btn btn-normal-blue float-right">
                    <span class="btn-text">Save</span>
                </a>
            </div>
        </div>
    </div>
</div>