<!DOCTYPE html>
<html ng-app="app" ng-class="{'onload-page': GlobalProfile}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; maximum-scale=1; user-scalable=0;"/>

    <title>BBA Logistics Service</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/assets/css/style.css?v=0.11" type="text/css" rel="stylesheet"/>
    <link href="/css/range-picker.css" type="text/css" rel="stylesheet" />

    <link href="/css/loader.css" type="text/css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1aI3XJRPhiv5v2BaQNMducUXyacbjoxc&language=en"></script>

    <!-- Libs -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>


    <!-- New Charts -->
    <script src="//www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="//www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="//www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>


    <!-- Configs -->
    <script src="/configs/api-urls.js"></script>
    <script src="/configs/auth.js"></script>
    <script src="/configs/user-roles.js"></script>

    <!-- jQuery plugins -->
    <script src="/js/plugins/scrolling.js"></script>
    <script src="/js/plugins/select.js?v=0.11"></script>

    <!-- jQuery UI -->
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- link href="/js/plugins/jquery-ui/jquery-ui.min.css" type="text/css" rel="stylesheet" / -->
    <link href="/js/plugins/jquery-ui/jquery-ui.structure.css" type="text/css" rel="stylesheet"/>
    <link href="/js/plugins/jquery-ui/jquery-ui.theme.css" type="text/css" rel="stylesheet"/>
    <link href="/js/plugins/jquery-ui/jquery-ui.inline.css" type="text/css" rel="stylesheet"/>


    <!-- Приложение (стартер) -->
    <script src="/assets/js/bundle.js?v=0.1"></script>
</head>

<body ng-controller="baseController" ng-class="{'minimized-menu': showedMenu}">
<div class="loader main-loader" ng-if="!GlobalProfile"></div>
<aside class="left-sidebar">
    <nav class="main-menu">
                <span class="logotype">
                    <a href = "/">
                        <img src="/images/bba_logo.svg" alt="BBA" class="normal-logo"/>
                        <img src="/images/bba_custom.svg" alt="BBA" class="horizontal-logo"/>
                    </a>

                </span>
        <div class="main-menu-block" ng-include="menuTemplate"></div>
    </nav>
</aside>
<div class="top-bar">
    <button class="burger-btn" ng-click="toggleMenu()">
        <img src="/images/icons/buttons/burger_icon.svg"/>
    </button>
    <div class="user-navigation">
        <a href="/logout" class="exit-button">
            <img src="/images/icons/buttons/logout_icon.svg">
        </a>
        <div class="user-name-holder">
            <a href="/dashboard/my-profile" class="user-name-text">
                {{GlobalProfile.firstName}} {{GlobalProfile.lastName}}
            </a>
            <ul class="drop-down-menu">
                <li>
                    <a href="/dashboard/my-profile/password">Change password</a>
                </li>
                <li>
                    <a href="/dashboard/my-profile">Company address</a>
                </li>
                <li>
                    <a href="/dashboard/my-profile/marketplaces">Marketplace</a>
                </li>
                <li class="drop-down-exit">
                    <a href="/logout">Exit</a>
                </li>
            </ul>
        </div>
    </div>
    <form class="search-form" ng-class="{'on-focus': searchFocus}">
        <label>
            <img class="search-icon" src="/images/icons/buttons/search_icon.svg">
            <input type="text" name="q" placeholder="Search Completed Shipments" class="search-shipment"
                   ng-focus="setSearchFocus()" ng-blur="setSearchFocus(true)">
        </label>
    </form>
</div>
<div ng-if="GlobalProfile && currentRouteParams" class="all-page-handler fixed-page-container"
     id="all-page-handler">
    <div ng-scroll-to="currentRouteParams" ng-to-null></div>
    <div class="title-holder">
        <div data-ng-include="currentRouteParams.headerTemplate" class="float-right title-content"></div>
        <h1> {{currentRouteParams.pageTitle}} <span ng-if="currentRouteParams.pageTitleSpan" class="normal-weight-text">{{currentRouteParams.pageTitleSpan}}</span></h1>
    </div>
    <div class="page-content wrapper-padding-lr" id="page-content">
        <div id="page" data-ng-view ng-if="GlobalProfile"></div>
    </div>
</div>

</body>
</html>
