<div class="paging-info-block">
    Page
    <div class="paging-page-select paging-input">
        <button class="paging-btn digit-change-up"
                ng-class="{'disable': paginationData.last}"
                ng-mousedown="!paginationData.last ? toPage(paginationData.number + 1) : false;">
            <i class="fa fa-angle-right"></i>
        </button>
        <button class="paging-btn digit-change-down"
                ng-class="{'disable': paginationData.first}"
                ng-mousedown="!paginationData.first ? toPage(paginationData.number - 1) : false;">
            <i class="fa fa-angle-left"></i>
        </button>
        <input type="text" ng-value="paginationData.number" readonly/>
    </div>
    of {{ paginationData.totalPages }}
</div>

<div class="paging-info-block">
    View
    <div class="paging-items-count paging-input">
        <button class="paging-btn digit-change-up"
                ng-mousedown="paginationData.totalElements <= paginationData.size ? false : setSize(paginationData.size + 1)"
                ng-class="{'disable': paginationData.totalElements <= paginationData.size}">
            <i class="fa fa-angle-up"></i>
        </button>
        <button class="paging-btn digit-change-down"
                ng-mousedown="paginationData.size < 2 ? false : setSize(paginationData.size - 1)"
                ng-class="{'disable': paginationData.size < 2}">
            <i class="fa fa-angle-down"></i>
        </button>
        <input type="text" readonly ng-value="paginationData.size"/>
    </div>
    Records
</div>

<div class="paging-info-block paging-total-info">
    Found total {{paginationData.totalElements}} records
</div>
