<div class="form-holder" novalidate ng-init="getCompany()" name="CompanyForm" ng-class="{'in-progressing': companyFormProgress}">
    <h3>Company Settings</h3>
    <div class="grid-row padding-lr-0-5">
        <div class="grid-cell grid-1  grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">Company:</span>
                <input
                        type="text"
                        ng-model="company.company"
                        readonly="readonly"
                        >
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">First Name:</span>
                <input
                        type="text"
                        ng-model="company.firstName"
                        readonly="readonly"
                        >
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">Last Name:</span>
                <input
                        type="text"
                        ng-model="company.lastName"
                        readonly="readonly">
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">Head Office Address:</span>
                <input
                        type="text"
                        ng-model="company.addressLine1"
                        readonly="readonly">
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <input
                        type="text"
                        ng-model="company.addressLine2"
                        readonly="readonly">
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Phone 1:</span>
                <input type="text" readonly="readonly" ng-model="company.phone">
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Phone 2:</span>
                <input type="text" readonly="readonly" ng-model="company.phone2">
            </label>
        </div>

        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Email:</span>
                <input type="text" readonly="readonly" ng-model="company.email">
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <div class="field-container">

                <span class="field-label size-1">Country:</span>
                <input
                        type="text"
                        ng-model="company.location.country.name"
                        readonly="readonly">
            </div>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">State:</span>
                <input type="text" required readonly="readonly">
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">Postcode:</span>
                <input
                        type="text"
                        ng-model="company.location.code"
                        readonly="readonly">
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label size-1">Suburb:</span>
                <input
                        type="text"
                        ng-model="company.location.name"
                        readonly="readonly">
            </label>
        </div>
    </div>
</div>