<!--- CompanyForm error --->
<div ng-errors="errors.CompanyForm" form-error class="no-margin-error"></div>
<!--- / CompanyForm error --->
<form class="form-holder" novalidate ng-init="getCompany()" name="CompanyForm">
    <h3>Company Settings</h3>
    <div class="grid-row padding-lr-0-5">
        <div class="grid-cell grid-1  grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Company:</span>
                <input
                        type="text"
                        required ng-model="company.company"
                        ng-class="{'response-error': errors.CompanyForm.fieldErrors.company }"
                        >
                <span class="error-field required-error field-label">Correct "Company" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.company}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">First Name:</span>
                <input
                        type="text"
                        required
                        ng-model="company.firstName"
                        ng-class="{'response-error': errors.CompanyForm.fieldErrors.firstName }"
                        >
                <span class="error-field required-error field-label">Correct "First Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.firstName}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Last Name:</span>
                <input type="text" required ng-model="company.lastName" ng-class="{'response-error': errors.CompanyForm.fieldErrors.lastName }">
                <span class="error-field required-error field-label">Correct "Last Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.lastName}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Head Office Address:</span>
                <input type="text" required ng-model="company.addressLine1" ng-class="{'response-error': errors.CompanyForm.fieldErrors.addressLine1 }">
                <span class="error-field required-error field-label">Correct "Address" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.addressLine1}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <input type="text" ng-model="company.addressLine2" ng-class="{'response-error': errors.CompanyForm.fieldErrors.addressLine2 }">
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.addressLine2}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Phone 1:</span>
                <input type="text" required ng-model="company.phone"
                       ng-class="{'response-error': errors.CompanyForm.fieldErrors.phone }">
                <span class="error-field required-error field-label">Correct "Phone 1" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.phone}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Phone 2:</span>
                <input type="text" ng-model="company.phone2"
                       ng-class="{'response-error': errors.CompanyForm.fieldErrors.phone2 }">
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.phone2}}</span>
            </label>
        </div>

        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Email:</span>
                <input type="email" ng-model="company.email"
                       ng-class="{'response-error': errors.CompanyForm.fieldErrors.email }">
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.email}}</span>
            </label>
        </div>
    </div>
    <ng-location ng-model="company.location"></ng-location>
    <div class="grid-row padding-lr-0-5">
        <div class="grid-cell grid-1">
            <span class="field-container float-right">
                <span class="field-label">&nbsp;</span>
                <span
                        role="button"
                        class="btn btn-normal-blue"
                        ng-click="saveCompany(CompanyForm)"
                        >
                    <span class="button-loader" ng-if="companyFormProgress"
                          ng-include="'/templates/elements/button-loader.html'"></span>
                    <span class="btn-text">Update</span>
                </span>
            </span>
        </div>
    </div>
</form>