<form class="form-holder" ng-class="{'in-progressing': photoFormProgress}">
    <!--- PhotoForm error --->
    <div ng-errors="errors.PhotoForm" form-error></div>
    <!--- / PhotoForm error --->
    <div class="photo-field-holder" ng-init="getPhoto()">
        <div class="logotype-container">
            <img ng-src="{{photo.logotype}}"/>
        </div>
        <div class="texts-block">
            <h3>Upload your logo</h3>
            <div class="btn-file-container">
                            <span class="form-btn form-btn-submit btn-file">
                                UPLOAD YOUR COMPANY LOGO HERE
                                <input type="file" ng-model="photo.image" custom-on-change data-handler="savePhoto(params)" size="1048576" accept="image/*">
                            </span>
            </div>
            <p class="field-description">
                Please upload your image at maxiumum of <b>1200px width</b>. Your logo may be resized<br/>
                if not uploaded to our reccomended size. Please upload your image to this specification to avoid degradation.
            </p>
        </div>
    </div>
</form>