<!--- UserForm error --->
<div ng-errors="errors.UserForm" form-error class="no-margin-error"></div>
<!--- / UserForm error --->
<form class="form-holder" novalidate name="userForm" ng-init="getUser()">
    <h3>Sub Account:</h3>
    <div class="grid-row padding-lr-0-5 tab-form">
        <div class="grid-cell grid-1">
            <label class="field-container required">
                <span class="field-label">Account Name:</span>
                <input type="text" required ng-model="profile.accountName">
                <span class="error-field required-error field-label">Correct "Account Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.accountName}}</span>
            </label>
        </div>
        <!-- div class="grid-cell grid-1">
            <label class="field-container">
                <span class="field-label">Primary Contact:</span>
                <input type="text" ng-model="profile.parentAccountId">
            </label>
        </div -->
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">First Name:</span>
                <input type="text" ng-model="profile.firstName" required ng-class="{'response-error': errors.UserForm.fieldErrors.firstName }">
                <span class="error-field required-error field-label">Correct "First Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.firstName}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Last Name:</span>
                <input type="text" ng-model="profile.lastName" required ng-class="{'response-error': errors.UserForm.fieldErrors.lastName }">
                <span class="error-field required-error field-label">Correct "Last Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.lastName}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Email:</span>
                <input type="email" ng-model="profile.email" required ng-class="{'response-error': errors.UserForm.fieldErrors.email }">
                <span class="error-field required-error field-label">Correct "Email" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.email}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Phone 1:</span>
                <input type="text" ng-model="profile.phone" required ng-class="{'response-error': errors.UserForm.fieldErrors.phone }">
                <span class="error-field required-error field-label">Correct "Phone 1" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.phone}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Phone 2:</span>
                <input type="text" ng-model="profile.phone2" ng-class="{'response-error': errors.UserForm.fieldErrors.phone2 }">
                <span class="error-field response-error field-label">{{errors.UserForm.fieldErrors.phone2}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Address:</span>
                <input type="text" required ng-model="profile.addressLine1" ng-class="{'response-error': errors.UserForm.fieldErrors.addressLine1 }">
                <span class="error-field required-error field-label">Correct "Address" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.addressLine1}}</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <input type="text" ng-model="profile.addressLine2" ng-class="{'response-error': errors.UserForm.fieldErrors.addressLine2 }">
                <span class="error-field valid-error field-label">Please enter a valid value</span>
                <span class="error-field response-error field-label">{{errors.CompanyForm.fieldErrors.addressLine2}}</span>
            </label>
        </div>
    </div>

    <ng-location ng-model="profile.location"></ng-location>

    <span class="field-container float-right relative">
        <span class="field-label">&nbsp;</span>
        <span role="button" class="btn btn-normal-blue" ng-click="saveUser(userForm)">
            <span class="button-loader" ng-if="userFormProgress"
                  ng-include="'/templates/elements/button-loader.html'"></span>
            <span class="btn-text">Update</span>
        </span>
    </span>

    <div class="field-container">
        <label class="checkbox-form">
            <div class="field-label size-0-6">&nbsp;</div>
            <input type="checkbox" ng-model="profile.useParentAccountDetails">
            <span class="checkbox-decoration"></span>
            <span class="label-text">Same as parent account</span>
        </label>
    </div>
    <div class="clear-both"></div>
</form>
