<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BBA::Login</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="css/login.css" type="text/css" rel="stylesheet" />
    <link href="/css/loader.css" type="text/css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width; maximum-scale=1; user-scalable=0;initial-scale=0.5"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/configs/auth.js"></script>

    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-base64/angular-base64.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/services/authentication.js"></script>
</head>
<body ng-app="Login" ng-controller="LoginController">
    <div class="logotype-container">
        <a href="http://bbalogistics.com.au/" class="logotype">
            <img src="images/login/logo.svg"/>
        </a>
    </div>
    <h1>Sign in to BBA</h1>
    <div class="form-container">
        <div class="auth-form" ng-class="{'inload': dataLoading}">
            <form action="" method="POST" id="form" role="form" name="form" novalidate>
                <div class="form-error" ng-if="authError">
                    <span>Invalid username or password</span>
                </div>
                <div class="field-row">
                    <input type="text" placeholder="Username" name="username" ng-model="username">
                </div>
                <div class="field-row">
                    <input type="password" placeholder="Password" required name="password" ng-model="password">
                </div>
                <div class="field-row">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        <span></span>
                        Keep me signed in
                    </label>
                </div>
                <div class="field-row">
                    <input type="submit" value="Login" ng-click="login(form)"/>
                </div>
                <div class="footer-form">
                    <a href="#">Forgot your password?</a><br/>
                    Don`t have a BBA account?
                    <a href="#">Apply for yours now.</a>
                </div>
            </form>
            <div class="loader"></div>
        </div>
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    Copyright © 2015 BBA Logistics Pty Ltd. All rights reserved.
                </li>
                <li>
                    <a href="http://bbalogistics.com.au/privacy-policy/">Privacy Policy</a>
                </li>
                <li>
                    <a href="http://bbalogistics.com.au/terms-and-conditions/">Terms &amp; Conditions</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>
