<div>
    <div class="grid-row padding-lr-0-5">
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container" ng-class="{'required': !options.noCompanyRequired}">
                <span class="field-label">Company:</span>
                <input placeholder="Your company name" ng-model="ngModel.company"
                       ng-required="!options.noCompanyRequired">
                <span class="error-field required-error field-label" ng-if="!options.noCompanyRequired">Correct "Company" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">First Name:</span>
                <input placeholder="What is your first name" ng-model="ngModel.firstName" required>
                <span class="error-field required-error field-label">Correct "First Name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Last Name:</span>
                <input placeholder="What is your last name" ng-model="ngModel.lastName" required>
                <span class="error-field required-error field-label">Correct "Last name" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Phone:</span>
                <input placeholder="0455729239" ng-model="ngModel.phone" required>
                <span class="error-field required-error field-label">Correct "Phone" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Email:</span>
                <input placeholder="example@youremail.com" ng-model="ngModel.email" required>
                <span class="error-field required-error field-label">Correct "Email" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container required">
                <span class="field-label">Address:</span>
                <input value="" ng-model="ngModel.addressLine1" required>
                <span class="error-field required-error field-label">Correct "Address" is required</span>
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
        <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
            <label class="field-container">
                <span class="field-label">Address 2:</span>
                <input value="" ng-model="ngModel.addressLine2">
                <span class="error-field valid-error field-label">Please enter a valid value</span>
            </label>
        </div>
    </div>
    <ng-location ng-readonly="readonly" ng-params="ngLocationOptions" ng-model="ngModel.location"></ng-location>
</div>