<div>
    <div class="autocomplete-container field-input" ng-class="{'no-variants': optionsList.length < 2}">
        <select
                tabindex="-1"
                ng-model="ngModel"
                ng-options="option.model as option[ngAutocomplete.textField] for option in optionsList"
                >
        </select>
        <label class="autocomplete-input-label">
            <input
                    ng-model="search"
                    autocomplete="false"
                    ng-required="ngAutocomplete.required"
                    tabindex="{{ ngAutocomplete.disabled && (optionsList.length < 2) ? '-1': '' }}"
                    type="text"
                    ng-readonly="ngAutocomplete.disabled"
                    placeholder="{{ ngAutocomplete.placeholder }}"
                    ng-change="startSearch()"
                    ng-to-focus="autoFocus"
                    ng-focus="onFocus()"
                    ng-blur="blurAutoComplete()"
                    />

            <span class="error-field required-error field-label" ng-hide="search.$valid"
                  ng-if="ngAutocomplete.required">Field {{ ngAutocomplete.fieldName ? '"' + ngAutocomplete.fieldName + '" ' : '' }}is required</span>
        </label>
        <span class="loader float-right min" ng-if="inProgress"></span>

        <span ng-if="!ngAutocomplete.disabled && !(search && search.length) && !ngAutocomplete.minQueryStringLength" class="autocomplete-length-require">
            <i class="fa fa-pencil"></i>
        </span>
        <span
                class="autocomplete-length-require"
                ng-if="!ngAutocomplete.disabled && ngAutocomplete.minQueryStringLength && (ngAutocomplete.minQueryStringLength > (search.length || 0))"
                >
            <i class="fa fa-pencil"></i>&nbsp;
            {{ ngAutocomplete.minQueryStringLength - (search.length || 0) }}
        </span>

    </div>
</div>

