<div class="form-error-container" ng-scroll-to="toError">
    <div class="error-message" ng-class="errorClone.type">
        <span class="alert-icon">
            <img src="/images/alert.svg"/>
        </span>
        <span class="error-close" ng-click="closeError()">
            <img src="/images/error-close.svg"/>
        </span>

        <div class="title-error">{{ errorClone.code }}</div>
        <div class="text-error">{{ errorClone.message }}</div>
    </div>
</div>