<div class="table-container update-data" ng-init="onInitTable()" ng-class="{'active-update-data': table.inProgress}">
    <!-- Pagination table (top) -->
    <div class="paging-of-table clear-both" ng-if="!table.noPagination && table.info.content.length" ng-include="templatesPath + 'pagination.html'"></div>
    <!-- / Pagination table (top) -->

    <div class="load-table-data clear-both clear-fix" ng-if="table.inProgress || !table.info.content.length || table.beforeDataText">
        <div class="loader min" ng-if="table.inProgress"></div>
        {{table.inProgress ? 'Loading...' : (!table.info.content.length ? 'No data to display' : table.beforeDataText) }}
    </div>

    <div class="table-holder clear-both">

        <!-- Sortable table -->
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="sortable-table">
            <thead ng-if="!table.noHead">
            <!--- Titles row --->
            <tr class="titles-row">

                <th ng-if="!table.noCheck" class="checkbox-cell min-width">
                    <label class="checkbox" ng-class="{'active': checkedItems.length}">
                        <input type="checkbox" tabindex="-1" ng-checked="checkedItems.length == table.info.content.length" ng-click="checkSelected()">
                        <span></span>
                    </label>
                </th>
                <th
                        ng-repeat="item in table.head"
                        ng-if="!table.noTitles" ng-class="item.typeCellClass">
                    <div ng-include="templatesPath + 'header-cells/cell' + ((item.noSort || $scope.table.noSort || !table.info.content.length) ? '' : '-with-sort') + '.html'"></div>
                </th>
            </tr>
            <!--- / Titles row --->

            <!--- Filters row --->
            <tr class="filters-row" ng-if="!table.noFilters">
                <th class="checkbox-cell min-width" ng-if="!table.noCheck">
                    <div ng-if="checkedItems.length">
                        <span class="table-selected-count">{{ checkedItems.length }}</span>
                        <span class="table-selected-count">{{ table.info.content.length }}</span>
                    </div>
                </th>
                <th ng-repeat="item in table.head" ng-class="item.typeCellClass">
                    <div ng-include="item.filterCellTemplate"></div>
                </th>
            </tr>
            <!--- / Filters row --->
            </thead>

            <!--- Table body --->
            <tbody>
            <!--- Table row --->

            <tr ng-repeat="(indexRow, row) in table.info.content" ng-if="table.info.content.length">
                <td class="checkbox-cell min-width" ng-if="!table.noCheck && table.info.content.length" ng-model="checkedItems[indexRow]">
                    <label class="checkbox">
                        <input type="checkbox" tabindex="-1" ng-checked="row.selected" ng-click="onCheck(row)">
                        <span></span>
                    </label>
                </td>
                <td ng-repeat="item in table.head" ng-class="item.typeCellClass">
                    <div ng-include="item.bodyCellTemplate"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pagination table (bottom) -->
    <div ng-if="!table.noPagination && table.info.content.length">
        <div class="paging-of-table" ng-include="templatesPath + 'pagination.html'"></div>
    </div>
</div>