<div class="grid-row padding-lr-0-5">
    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container">
            <span class="field-label">Country:</span>
            <input readonly="" ng-model="ngModel.country.name" tabindex="-1">
        </label>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container">
            <span class="field-label">State:</span>
            <input readonly="" ng-model="ngModel.state.name" tabindex="-1">
        </label>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container">
            <span class="field-label">Postcode:</span>
            <input readonly="" ng-model="ngModel.code" tabindex="-1">
        </label>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container">
            <span class="field-label">Suburb:</span>
            <input readonly="" ng-model="ngModel.name" tabindex="-1">
        </label>
    </div>
</div>