<div>
<div class="grid-row padding-lr-0-5" ng-if="!readonly">

    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container required">
            <span class="field-label">Country:</span>
            <span
                    ng-autocomplete="countryAutocompleteOptions"
                    ng-model="countryModel"
                    ng-field-focus="toCountryAutoFocus"
                    >
            </span>
        </label>
    </div>

    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container">
            <span class="field-label">State:</span>
            <span
                ng-autocomplete="stateAutocompleteOptions"
                ng-model="codeModel"
                >
            </span>
        </label>
    </div>

    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container required">
            <span class="field-label">Postcode:</span>
            <span
                ng-model="codeModel"
                ng-autocomplete="codeAutocompleteOptions"
                ng-autocomplete-request="citySearchParams"
                ></span>
        </label>
    </div>

    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
        <label class="field-container required">
            <span class="field-label">Suburb:</span>
            <span
                ng-model="cityModel"
                ng-autocomplete="cityAutocompleteOptions"
                ng-autocomplete-request="citySearchParams"
                ></span>
        </label>
    </div>
</div>
    <ng-readonly-location ng-if="readonly" ng-model="ngModel"></ng-readonly-location>
</div>