<div class="header-button"  ng-click="toggleSelect()">
    <div id = "mydiv" class = "print-dropdown-btn">
        <span class="text-print-btn menu-drop-page" >{{menuData.title}}</span>
        <ul class="testing" ng-show="isPopupVisible">
            <li ng-repeat="item in menuData.items" ng-click="item.action(menuData.data)">{{item.name}}</li>
        </ul>
    </div>
</div>

