<div class="table-container">
    <div class="table-holder">
        <!-- Pagination table (top) -->
        <div class="paging-of-table" ng-if="!table.nopaging">
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" ng-model="page" readonly/>
                <button class="paging-btn digit-change-up" ng-class="{'disable': page == maxPage}" ng-mousedown="pageUp()">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button class="paging-btn digit-change-down" ng-class="{'disable': page < 2}" ng-mousedown="pageDown()">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <span class="paging-element">of {{maxPage}} | View</span>
            <div class="paging-items-count paging-input paging-element">
                <input type="text" ng-model="count" readonly/>
                <button class="paging-btn digit-change-up" ng-mousedown="countUp()" ng-class="{'disable': count == filteredList.length}">
                    <i class="fa fa-angle-up"></i>
                </button>
                <button class="paging-btn digit-change-down" ng-mousedown="countDown()" ng-class="{'disable': count < 2}">
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
            <span class="paging-element paging-elem-table">Records | Found total {{filteredList.length}} records</span>
        </div>
        <!-- / Pagination table (top) -->

        <!-- Sortable table -->
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="sortable-table">
            <thead ng-if="table.head">
            <!--- Titles row --->
            <tr class="titles-row">

                <th class="checkbox-cell" ng-if="table.checked">
                    <label class="checkbox" ng-if="dataArray.length" ng-class="{'active':selectedArray.length}">
                        <input type="checkbox" tabindex="-1" ng-checked="checkedRows" ng-click="checkSelected()">
                        <span></span>
                    </label>
                </th>

                <th ng-repeat="value in table.head" class="normal-cell">
                    {{ value.title }}
                    <div class="sorted-cell head-title-cell" ng-click="!value.nosort ? applySort(value.sort) : false" ng-class="{'active': sorting.name == value.sort}" ng-if="value.type != 'action' && value.type != 'select' && !table.nosort">
                        <div class="sort-btns" ng-if="!value.nosort">
                            <span class="sort-up" ng-class="{'active': sorting.name == value.sort && !sorting.ASC}">
                                <i class="fa fa-sort-up"></i>
                            </span>
                            <span class="sort-down" ng-class="{'active': sorting.name == value.sort && sorting.ASC}">
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </div>
                    </div>
                </th>
            </tr>

            <!--- / Titles row --->
            <!--- Filters row --->
            <tr class="filters-row" ng-if="table.filters">
                <th class="checkbox-cell" ng-if="table.checked">
                    <div ng-if="selectedArray.length">
                        <span class="table-selected-count">{{ selectedArray.length }}</span>
                        <span class="table-selected-count">{{ dataArray.length }}</span>
                    </div>
                </th>
                <th ng-repeat="value in table.head" ng-class="{'btn-cell right-text': value.type == 'action'}" class="normal-cell">
                    <form class="filter-field" ng-if="value.type != 'action' && value.type != 'select'" ng-submit="applyFilters()">
                        <input type="text" placeholder="Search" ng-model="filters[value.name]"/>
                        <button class="filter-buttons" type="submit" tabindex="-1">
                            <span class="sort-button">
                                <i class="fa fa-sort-up"></i>
                            </span>
                            <span class="sort-button">
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </button>
                    </form>
                    <div ng-if="value.type == 'action'" class="filters-row-buttons">
                        <button class="btn btn-orange" ng-click="resetCurrentParams()">
                            <span class="btn-text">Reset Filters</span>
                        </button>
                        <button ng-repeat="action in value.actions" class="btn {{action.type}}" ng-if="dataArray.length" ng-class="{'no-active': !selectedArray.length}" ng-click="action.action(selectedArray)">
                            <span class="btn-icon" ng-if="action.icon">
                                <img ng-src="/images/icons/buttons/{{action.icon}}.svg">
                            </span>
                            <span class="btn-text">{{action.text}}</span>
                        </button>
                    </div>
                </th>
            </tr>
            <!--- / Filters row --->
            </thead>

            <!--- Table body --->
            <tbody>
            <tr ng-if="table.text">
                <td colspan="{{table.checked ? table.head.length + 1 : table.head.length }}" class="load-table-data">
                    <span>{{table.text}}</span>
                </td>
            </tr>
            <!--- Table row --->
            <tr ng-repeat="row in dataArray" ng-if="!row.deleted">
                <td class="checkbox-cell" ng-if="table.checked" ng-model="row.checked">
                    <label class="checkbox">
                        <input type="checkbox" tabindex="-1" ng-checked="row.selected" ng-click="onCheck(row)">
                        <span></span>
                    </label>
                </td>
                <td
                    ng-repeat="value in table.head"
                    ng-class="{'btn-cell min-width': value.type == 'action', 'logo-cell': value.type == 'logo', 'field-cell': value.type == 'field'}"
                    ng-include="templatesPath + (value.template || (value.type == 'action' ? templateActions : templateDefault))"
                    class="normal-cell"></td>
            </tr>
            </tbody>
        </table>
        <!-- Pagination table (bottom) -->

        <div class="paging-of-table" ng-if="!table.nopaging">
            <div class="paging-view-info paging-view-table">View Items | {{dataArray.length}}/{{filteredList.length}}</div>
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" ng-model="page" readonly/>
                <button class="paging-btn digit-change-up" ng-class="{'disable': page == maxPage}" ng-mousedown="pageUp()">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button class="paging-btn digit-change-down" ng-class="{'disable': page == 1}" ng-mousedown="pageDown()">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>

            <span class="paging-element">of {{maxPage}} | View</span>

            <div class="paging-items-count paging-input paging-element">
                <input type="text" ng-model="count" readonly/>
                <button class="paging-btn digit-change-up" ng-mousedown="countUp()" ng-class="{'disable': count == filteredList.length}">
                    <i class="fa fa-angle-up"></i>
                </button>
                <button class="paging-btn digit-change-down" ng-mousedown="countDown()" ng-class="{'disable': count == 1}">
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
            <span class="paging-element paging-elem-table">Records | Found total {{filteredList.length}} records</span>
        </div>
        <!-- / Pagination table (bottom) -->
    </div>
</div>