<div class="grid-row bottom-5em">
    <div class="grid-cell grid-3-4">
        <div class="grid-cell-content form-field-set">
            <br/><br/>
            <div class="grid-row padding-lr">
                <div class="grid-cell grid-1-2">
                    <h3>Configure Global Settings:</h3>
                    <br/>
                    <div class="display-table width-100">
                        <div class="display-row">
                            <div class="display-cell bold size-1-25">
                                IP Mandatory
                            </div>
                            <label class="display-cell trigger-field">
                                <input type="checkbox">
                                <span class="trigger-text trigger-on">On</span>
                                <span class="trigger-text trigger-off">Off</span>
                                <span class="trigger-changer"></span>
                            </label>
                        </div>
                        <div class="display-row size-1-25">
                            <span class="display-cell"><br/><br/></span>
                            <span class="display-cell">&nbsp;</span>
                        </div>
                        <div class="display-row">
                            <div class="display-cell bold size-1-25">
                                Ring Store to Confirm Hold
                            </div>
                            <label class="display-cell trigger-field">
                                <input type="checkbox">
                                <span class="trigger-text trigger-on">On</span>
                                <span class="trigger-text trigger-off">Off</span>
                                <span class="trigger-changer"></span>
                            </label>
                        </div>
                        <div class="display-row size-1-25">
                            <span class="display-cell">&nbsp;</span>
                            <span class="display-cell">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-1-2">
                    <h3>Collection Date & Time:</h3>
                    <div class="field-container">
                        <span class="field-label size-1">
                            Maximum Collection Time:
                        </span>
                        <select ng-select ng-parent="field-container">
                            <option>Please select time</option>
                            <option>Please select time</option>
                            <option>Please select time</option>
                            <option>Please select time</option>
                            <option>Please select time</option>
                            <option>Please select time</option>
                        </select>
                    </div>
                    <br/><br/>
                    <div class="field-container">
                        <span class="field-label size-1">
                            Maximum Collection - Days:
                        </span>
                        <select ng-select ng-parent="field-container">
                            <option>1 week</option>
                            <option>2 week</option>
                            <option>3 week</option>
                            <option>4 week</option>
                            <option>5 week</option>
                            <option>8 week</option>
                        </select>
                    </div>
                </div>
                <div class="grid-cell grid-1 right-text">
                    <div class="field-container">
                        <span class="field-label size-1">&nbsp;</span>
                        <span role="button" class="btn btn-normal-blue">
                            <span class="btn-text">SAVE</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>