<div class="grid-row bottom-5em" ng-controller="CoreInStoreController">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <br/><br/>
            <div class="wrapper-padding-lr float-right adding-button">
                <span role="button"  data-ng-click="toTab('userinformation')" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg">
                    </span>
                    <span class="btn-text">Create User</span>
                </span>
            </div>
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
</div>