<div class="grid-row bottom-5em">
    <div class="grid-cell grid-3-4">
        <div class="grid-cell-content form-field-set">
            <br/><br/>
            <div class="grid-row padding-lr-0-5">
                <div class="grid-cell grid-1-2">
                    <h3>User Information:</h3>
                    <form>
                        <label class="field-container required">
                            <span class="field-label">First Name:</span>
                            <input placeholder="What is your first name">
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Last Name:</span>
                            <input placeholder="What is your last name">
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Phone:</span>
                            <input placeholder="0455454412">
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Phone 2:</span>
                            <input>
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Email:</span>
                            <input placeholder="you@youremail.com.au">
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Password:</span>
                            <input type="password">
                        </label>
                        <label class="field-container required">
                            <span class="field-label">Reconfirm Password:</span>
                            <input type="password">
                        </label><br/>
                    </form>
                </div>
                <div class="grid-cell grid-1-2">
                    <h3>Store Location:</h3>
                    <label class="field-container">
                        <span class="field-label">&nbsp;</span>
                        <span class="display-table width-100">
                            <span class="display-row">
                                <input class="display-cell" value="Myer Chadstone">
                                <span class="display-cell">&nbsp;&nbsp;</span>
                                <span class="display-cell">
                                    <span role="button" class="btn btn-light-orange width-100">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/add_new_icon.svg">
                                        </span>
                                        <span class="btn-text">Add</span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </label>
                    <label class="field-container">
                        <span class="field-label">&nbsp;</span>
                        <span class="display-table width-100">
                            <span class="display-row">
                                <input class="display-cell" value="Myer Chadstone" readonly>
                                <span class="display-cell">&nbsp;&nbsp;</span>
                                <span class="display-cell">
                                    <span role="button" class="btn btn-red width-100">
                                        <span class="btn-text">Delete</span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </label>
                    <br/>
                    <label class="field-container">
                        <span class="field-label size-1-25">IP Mandatory:</span>
                        <span class="trigger-field">
                            <input type="checkbox">
                            <span class="trigger-text trigger-on">On</span>
                            <span class="trigger-text trigger-off">Off</span>
                            <span class="trigger-changer"></span>
                        </span>
                    </label>
                    <label class="field-container">
                        <span class="field-label">IP Address:</span>
                        <span class="display-table width-100">
                            <span class="display-row">
                                <input class="display-cell" value="101.102.103">
                                <span class="display-cell">&nbsp;&nbsp;</span>
                                <span class="display-cell">
                                    <span role="button" class="btn btn-light-orange width-100">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/add_new_icon.svg">
                                        </span>
                                        <span class="btn-text">Add</span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </label><br/>
                    <label class="field-container">
                        <span class="field-label size-1-25">Instore - <span class="normal-weight-text">Mobile Module:</span></span>
                        <span class="trigger-field">
                            <input type="checkbox">
                            <span class="trigger-text trigger-on">On</span>
                            <span class="trigger-text trigger-off">Off</span>
                            <span class="trigger-changer"></span>
                        </span>
                    </label>
                    <br/>
                    <label class="field-container">
                        <span class="field-label size-1-25">Enable Pending Shipments - <span class="normal-weight-text">Mobile Module:</span></span>
                        <span class="trigger-field">
                            <input type="checkbox">
                            <span class="trigger-text trigger-on">On</span>
                            <span class="trigger-text trigger-off">Off</span>
                            <span class="trigger-changer"></span>
                        </span>
                    </label>
                </div>
                <div class="grid-cell grid-1 right-text">
                    <div class="field-container">
                        <span class="field-label size-1-25"></span>
                        <span role="button" class="btn btn-normal-blue">
                            <span class="btn-text">Save</span>
                        </span>
                        <span role="button" class="btn btn-red">
                            <span class="btn-text">DEACTIVATE</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>