<div class="grid-row padding-lr-0-5 bottom-1em" ng-controller="CoreUserActivityController">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content form-field-set">
            <h3>Search:</h3>
            <div class="field-holder-form">
                <div class="track-search-field field-container">
                    <span class="label-name">&nbsp;</span>
                    <input ng-model="search">
                </div>
                <div class="center-text">
                    <span class="size-0-75 bold"><br>
                        Search for staff, customers and orders.
                    </span><br><br>
                    <span role="button" class="btn btn-normal-blue">
                        <span class="btn-text">Search</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="gid-cell grid-1">&nbsp;</div>
    <div class="grid-cell grid-1" ng-if="routeParams.tab=='useractivity'">
        <div class="grid-cell-content form-field-set">
            <h3>User Activity</h3>
            <br/>
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
    <div class="grid-cell grid-1" ng-if="routeParams.tab=='viewactivity'" ng-controller="CoreViewUserActivityController">
        <div class="grid-cell-content form-field-set">
            <h3>View Orders</h3>
            <br/>
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
</div>