<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content form-field-set"><br/>
            <ul class="size-1-25">
                <li><b>Location Profiles:</b> Myer Chadstone - Retail Store<br/><br/></li>
                <li><b>Tracking Display Name:</b> Point of Sale Register 1</li>
            </ul>
            <br/><br/><br/><br/>
            <span role="button" class="btn btn-light-orange float-right">
                <span class="btn-icon">
                    <img src="/images/icons/buttons/add_new_icon.svg"/>
                </span>
                <span class="btn-text">ADD NEW USER</span>
            </span>
            <h3>Current Users / Devices</h3>
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
    <div class="grid-cell grid-3-5">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Assign New Device:</h3>
            </div>
            <ng-sortable-table table-data="newDevices"></ng-sortable-table>
            <div class="form-field-set right-text">
                <span role="button" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                    </span>
                    <span class="btn-text">ASSIGN NEW DEVICE</span>
                </span>
            </div>
        </div>
    </div>
</div>