<div class="grid-row bottom-5em">
    <div class="grid-cell grid-3-5">
        <div class="grid-cell-content form-field-set">
            <h3>SSCC/RFID Configuration:</h3>
            <br/><br/><br/>
            <ul class="display-table bold width-100 settings-checkboxes">
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        SSCC Parent Identifier Enabled
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-1" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-1" value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        SSCC Enabled
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-2" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-2" value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        Use client SSCC No. and make mandatory from 3rd party sync
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-3" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-3"  value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        GRAI Tagging in Manifests
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-4" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-4" value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        GTIN enabled for cartons, parcels, satchels <span class="normal-weight-text">(Freight label embedded)</span>
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-5" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-5" value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        GTIN Enabled - Serial No. item level tagging
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-6" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-6"  value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
                <li class="display-row">
                    <span class="display-cell size-1-25">
                        Enable RFID + SSCC to all locations
                    </span>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-7" checked="checked" value="1">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="display-cell checkbox-form">
                        <input type="radio" name="param-7" value="0">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="tab-section bottom-5em">
    <div class="tab-section-line wrapper-padding-lr">
        <i class="fa fa-angle-down tab-arrow"></i>
        <h2>Configurable Tracking Event:</h2>
    </div>
    <div class="form-holder">
        <div class="grid-row padding-lr-0-5 padding-tb-1-5">
            <div class="grid-cell grid-1">
                <div class="grid-cell-content form-field-set">
                    <h3>Status Bar:</h3>
                    <ul class="tracking-list">
                        <li class="active item-1-9">
                            Documentation Prepared
                        </li>
                        <li class="active item-1-9">
                            Booking Aranged
                        </li>
                        <li class="active item-1-9">
                            Collected
                        </li>
                        <li class="active item-1-9 track-3-line track-br-3-line">
                            In Transit
                        </li>
                        <li class="track-2-line item-1-9 track-3-line track-br-line">
                            Arrived at Destination
                        </li>
                        <li class="track-3-line item-1-9 track-2-line">
                            Out for Delivery
                        </li>
                        <li class="track-3-line item-1-9 track-2-line track-br-3-line">
                            Delivery
                        </li>
                        <li class="track-3-line item-1-9 track-2-line">
                            In Store
                        </li>
                        <li class="track-3-line item-1-9 track-2-line">
                            POS Register 1
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid-cell grid-2-3">
                <div class="grid-cell-content form-field-set">
                    <div class="grid-row padding-lr">
                        <div class="grid-cell grid-1-2">
                            <h3>Create Display Name:</h3><br/>
                            <p>Add additional tracking events for in-store movements.</p><br/><br/>
                            <div class="field-container">
                                <input class="big-input"/>
                            </div><br/>
                            <div class="right-text">
                                <span role="button" class="btn btn-normal-blue">
                                    <span class="btn-text">Add</span>
                                </span>
                            </div>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <h3>Existing:</h3>
                            <ul class="existing-list">
                                <li>
                                    <span role="button" class="delete-btn float-right">
                                        <img src="/images/icons/buttons/delete.svg"/>
                                    </span>
                                    <span>Point of sale register 1</span>
                                </li>
                                <li>
                                    <span role="button" class="delete-btn float-right">
                                        <img src="/images/icons/buttons/delete.svg"/>
                                    </span>
                                    <span>Point of sale register 2</span>
                                </li>
                                <li>
                                    <span role="button" class="delete-btn float-right">
                                        <img src="/images/icons/buttons/delete.svg"/>
                                    </span>
                                    <span>Goods in loading dock</span>
                                </li>
                                <li>
                                    <span role="button" class="delete-btn float-right">
                                        <img src="/images/icons/buttons/delete.svg"/>
                                    </span>
                                    <span>Exit Door Location A</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-1-3">
                <div class="grid-cell-content form-field-set">
                    <h3>Assign Device:</h3>
                    <div class="grid-row padding-lr-0-5">
                        <div class="grid-cell grid-2-3 clear-both">
                            <label class="field-container">
                                <span class="field-label">Device Name:</span>
                                <input/>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-3">
                            <div class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span role="button" class="btn btn-orange width-100">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                    </span>
                                    <span class="btn-text">ASSIGN</span>
                                </span>
                            </div>
                        </div>
                        <div class="grid-cell grid-2-3 clear-both">
                            <label class="field-container">
                                <span class="field-label">Device Name:</span>
                                <input/>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-3">
                            <div class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span role="button" class="btn btn-orange width-100">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                    </span>
                                    <span class="btn-text">ASSIGN</span>
                                </span>
                            </div>
                        </div>
                        <div class="grid-cell grid-2-3 clear-both">
                            <label class="field-container">
                                <span class="field-label">Device Name:</span>
                                <input/>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-3">
                            <div class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span role="button" class="btn btn-orange width-100">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                    </span>
                                    <span class="btn-text">ASSIGN</span>
                                </span>
                            </div>
                        </div>
                        <div class="grid-cell grid-2-3 clear-both">
                            <label class="field-container">
                                <span class="field-label">Device Name:</span>
                                <input/>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-3">
                            <div class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span role="button" class="btn btn-orange width-100">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                    </span>
                                    <span class="btn-text">ASSIGN</span>
                                </span>
                            </div>
                        </div>
                        <div class="grid-cell grid-1 right-text">
                            <div class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span role="button" class="btn btn-normal-blue">
                                    <span class="btn-text">VIEW</span>
                                </span>
                                <span role="button" class="btn btn-blue">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/edit_icon.svg"/>
                                    </span>
                                    <span class="btn-text">Edit</span>
                                </span>
                                <span role="button" class="btn btn-red">
                                    <span class="btn-text">Delete</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>