<div class="grid-row padding-tb padding-lr-0-5 bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content form-field-set">
            <h3>Search:</h3>
            <div class="field-holder-form">
                <div class="track-search-field field-container">
                    <span class="label-name">&nbsp;</span>
                    <input ng-model="search">
                </div>
                <div class="center-text">
                    <span class="size-0-75 bold"><br/>
                        Please enter, carrier Consignment No. Cust. Ref. No. or Tracking No.
                    </span><br/><br/>
                    <span role="button" class="btn btn-normal-blue" ng-click="sentSearchTracking()">
                        <span class="btn-text">TRACK SHIPMENT</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-1 grid-cell">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">SKU / Part # Search</h3>
            <ng-sortable-table table-data="shipmentsTable"></ng-sortable-table>
        </div>
    </div>
    <div class="grid-1 grid-cell">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Tracking Portal</h3>

            <div class="wrapper-padding-lr float-right adding-button">
                <a href="#" class="btn btn-dark-red">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/settings_icon.svg">
                    </span>
                    <span class="btn-text">CONFIGURATION SETTINGS</span>
                </a>
                <a href="#" class="btn btn btn-dark-grey">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/download_icon.svg">
                    </span>
                    <span class="btn-text">EXPORT CSV</span>
                </a>
            </div>

            <ng-sortable-table table-data="portalTable"></ng-sortable-table>
        </div>
    </div>
</div>