<div class="grid-row bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content" ng-controller="DashboardProfileMarketplacesConnectController">
            <div class="form-error-container warning form-error-block static-error"
                 ng-class="{'visible-error': connectionData.id && !connectionData.verified}">
                <div class="error-message">
                    <button
                            role="button"
                            class="float-right btn btn-light-orange"
                            ng-click="verificationMarketplace(connectionData)">
                        <span class="button-loader"
                              ng-if="verificationInProgress"
                              ng-include="'/templates/elements/button-loader.html'"></span>
                        <span class="btn-text">Verification</span>
                    </button>
                    <span class="alert-icon">
                        <img src="/images/alert-dark.svg"/>
                    </span>

                    <div class="title-error">Verification</div>
                    <div class="text-error">To continue with the trading platform requires verification</div>
                </div>
            </div>
            <!--- connectForm error --->
            <div ng-errors="connectFormErrors" class="clear-both no-margin-error" form-error></div>
            <!--- / connectForm error --->


            <div class="form-holder">
                <form name="connectForm" novalidate class="grid-row padding-lr-0-5 padding-tb"
                      ng-include="'/templates/dashboard/my-profile/marketplaces/connect/' + connectTemplate + '.html'"></form>
            </div>
        </div>
    </div>
</div>