<span class="field-label">&nbsp;</span>
<span class="field-input">
    <button role="button" class="btn btn-normal-blue" ng-click="connectMarketplace(connectForm)">
        <span class="button-loader"
              ng-if="dataTransferProgress"
              ng-include="'/templates/elements/button-loader.html'"></span>
        <span class="btn-text">{{ connectionData.id ? 'Update' : 'Connect' }}</span>
    </button>
    <a href="/dashboard/my-profile/marketplaces" role="button" class="btn btn-red">
        <span class="btn-text">{{ connectionData.id ? 'Back' : 'Cancel' }}</span>
    </a>
</span>