<div class="grid-row padding-lr-0-5 bottom-5em">
    <div class="grid-cell grid-1-2  grid-cell-ms-3-4 grid-cell-mxs-1 bottom-1em">
        <div class="grid-cell-content">
            <div ng-include="'/templates/dashboard/my-profile/company/' + (isAdmin ? 'en' : 'dis') + 'abled.html'"></div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <!-- div ng-include="'/templates/dashboard/my-profile/company/image.html'"></div -->
            <div ng-include="'/templates/dashboard/my-profile/company/profile.html'"></div>
        </div>
    </div>
    <div class="grid-cell grid-1">&nbsp;</div>
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="form-holder">
                <h3>Users and Permissions:</h3>
            </div>
            <ng-intellectual-table table-data="tableData"></ng-intellectual-table>
        </div>
    </div>
</div>
