<div class="grid-row bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="grid-row">
                <div class="grid-cell grid-1-2 grid-cell-ms-1 float-right">
                    <div class="wrapper-padding-tb wrapper-padding-lr">
                        <h3>Market Place Defaults</h3>

                        <p class="section-description">These values will be used if we are not able to import via 3rd
                            party integration.</p>
                        <br/>

                        <div class="marketplaces-form">
                            <div class="form-table">
                                <span class="field-container">
                                    <span class="field-label  size-1">Use default dimensions:</span>
                                    <span class="field-input">
                                        <label class="trigger-field">
                                            <input type="checkbox">
                                            <span class="trigger-text trigger-on">on</span>
                                            <span class="trigger-text trigger-off">off</span>
                                            <span class="trigger-changer"></span>
                                        </label>
                                    </span>
                                </span>
                            </div>
                            <div class="form-table">
                                <span class="field-container">
                                    <span class="field-label size-1">Height:</span>
                                    <label class="field-input">
                                        <span class="field-measure">cm</span>
                                        <input type="text" value="1.00">
                                    </label>
                                    <span class="field-label size-1">Length:</span>
                                    <label class="field-input">
                                        <span class="field-measure">cm</span>
                                        <input type="text" value="1.00">
                                    </label>
                                </span>
                                <span class="field-container">
                                    <span class="field-label size-1">Width:</span>
                                    <label class="field-input">
                                        <span class="field-measure">cm</span>
                                        <input type="text" value="1.00">
                                    </label>
                                    <span class="field-label size-1">Weight:</span>
                                    <label class="field-input">
                                        <span class="field-measure">kg</span>
                                        <input type="text" value="1.00">
                                    </label>
                                </span>
                            </div>
                            <div class="form-table">
                                <span class="field-container">
                                    <span class="field-label">&nbsp;</span>
                                    <span class="field-input right-text">
                                        <button role="button" class="btn btn-normal-blue">
                                            <span class="btn-text">Save</span>
                                        </button>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-1-2 grid-cell-ms-1">
                    <div class="wrapper-padding-tb">
                        <div class="wrapper-padding-lr">
                            <h3>Your Market Places</h3>
                        </div>
                        <div class="table-container">
                            <div class="load-table-data clear-both clear-fix" ng-if="inProgressLoading">
                                <div class="loader min"></div>
                                Loading...
                            </div>
                            <div class="table-holder">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                       class="sortable-table marketplaces-list">
                                    <thead class="dark-head">
                                    <tr class="titles-row">
                                        <th>Marketplace</th>
                                        <th>Name</th>
                                        <th class="min-width">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(marketplaceIndex, marketplace) in outputListMarketplaces track by $index"
                                        ng-class="marketplace.rowType">
                                        <td class="logo-cell">
                                            <div class="logotype-company" ng-class="marketplace.marketplace"
                                                 ng-if="marketplace.logotype">
                                                <img ng-src="/images/associated_company_logos/{{marketplace.logotype}}.svg">
                                            </div>
                                        </td>
                                        <td class="name-cell" ng-class="{'disabled-marketplace': !marketplace.enabled}">
                                            <span ng-if="marketplace.id && !marketplace.enabled" class="warning-icon" title="Marketplace is disabled">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </span>
                                            {{marketplace.name}}
                                        </td>
                                        <!--<td>China Pty LTD</td>-->
                                        <td class="min-width">
                                            <div class="buttons-container">
                                                <a ng-href="/dashboard/my-profile/marketplaces/{{marketplace.marketplace}}"
                                                   class="btn btn-normal-blue btn-connect block"
                                                        ng-class="{'no-active': marketplace.noactive}"
                                                        ng-if="!marketplace.id && !marketplace.count">
                                                    <span class="btn-icon">
                                                        <img src="/images/icons/buttons/connect_icon.svg"/>
                                                    </span>
                                                    <span class="btn-text">Connect</span>
                                                </a>
                                                <a ng-href="/dashboard/my-profile/marketplaces/{{marketplace.marketplace}}"
                                                   class="btn btn-orange block"
                                                   ng-if="!marketplace.id && marketplace.count">
                                                    <span class="btn-icon">
                                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                                    </span>
                                                    <span class="btn-text">Add</span>
                                                </a>
                                                <a ng-href="/dashboard/my-profile/marketplaces/{{marketplace.marketplace}}/{{marketplace.id}}"
                                                   class="btn btn-blue block" ng-if="marketplace.id">
                                                    <span class="btn-icon">
                                                        <img src="/images/icons/buttons/edit_icon.svg"/>
                                                    </span>
                                                    <span class="btn-text">Edit</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>