<!--- PhotoForm error --->
<div ng-errors="errorsPassForm" form-error class="no-margin-error"></div>
<!--- / PhotoForm error --->
<div class="grid-row">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="form-holder">
                <h3>Password Change</h3>
                <div class="grid-row padding-lr">
                    <div class="grid-cell grid-1-2 grid-cell-1024-2-3 grid-cell-mxs-1">
                        <div class="grid-row">
                            <div class="grid-cell grid-1">
                                <form class="form-table" novalidate name="passwordForm">
                                    <label class="field-container required">
                                        <span class="field-label size-1">Old Password:</span>
                                        <span class="field-input">
                                            <input type="password" autocomplete="false" placeholder="Your old password" required ng-model="password.oldPassword" ng-class="{'response-error': errors.PassForm.fieldErrors.oldPassword }">
                                        </span>
                                    </label>
                                    <label class="field-container required">
                                        <span class="field-label size-1">New Password:</span>
                                        <span class="field-input">
                                            <input type="password" autocomplete="false" placeholder="Your new password" required ng-model="password.password" ng-class="{'response-error': errors.PassForm.fieldErrors.password }">
                                        </span>
                                    </label>
                                    <label class="field-container required">
                                        <span class="field-label size-1">New Password:</span>
                                        <span class="field-input">
                                            <input type="password" autocomplete="false" placeholder="Confirm your new password" required pattern="^{{password.password}}$" ng-model="password.passwordConfirm" ng-class="{'response-error': errors.PassForm.fieldErrors.passwordConfirm }">
                                        </span>
                                    </label>
                                    <span class="field-container">
                                        <span class="field-label size-1">&nbsp;</span>
                                        <span class="field-input">
                                            <span role="button" class="btn btn-normal-blue" ng-click="changePassword(passwordForm)">
                                                <span class="button-loader" ng-if="passwordFormProgress"
                                                      ng-include="'/templates/elements/button-loader.html'"></span>
                                                <span class="btn-text">Change</span>
                                            </span>
                                            <span role="button" class="btn btn-red" type="reset" ng-click="back()">
                                                <span class="btn-text">Cancel</span>
                                            </span>
                                        </span>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-1024-2-3 grid-cell-mxs-1">
                        <h3>Note:</h3>
                        <div class="notice-form">
                            <p class="notice-info">
                                For security reasons the chosen Password must contain:
                            </p>
                            <ul class="notices-list">
                                <li>One Letter</li>
                                <li>One Number</li>
                                <li>6 to 16 characters long</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>