<span role="button" ng-repeat="action in row['actions']" class="btn" ng-class="action.type" ng-click="action.action(row, $event)">
    <span class="btn-icon" ng-if="action.icon">
        <img ng-src="/images/icons/buttons/{{action.icon}}.svg">
    </span>
    <span class="btn-text" ng-if="action.text">{{action.text}}</span>
</span>