<span role="button" class="btn" ng-class="value.type" ng-click="value.action(row[value.name])">
    <span ng-if="value.icon">
        <i class="{{value.icon}}"></i>&nbsp;&nbsp;
    </span>
    {{value.text}}
</span>