<div class="btn-demo">
    <span role="button" ng-repeat="button in value.buttons track by $index" class="btn" ng-class="button.type" ng-click="button.action(row, $event)">
        <span class="btn-icon" ng-if="button.icon">
            <img ng-src="/images/icons/buttons/{{button.icon}}.svg">
        </span>
        <span class="btn-text" ng-if="button.text">{{button.text}}</span>
    </span>
</div>