<div class="grid-row padding-lr-0-5">
    <div class="grid-cell grid-1">
        <div class="grid-row">
            <div class="grid-cell grid-4-5">
                <label class="field-container">
                    <span class="field-label">Name:</span>
                    <input ng-model="row[value.name]['name']" ng-readonly="row['readable']">
                </label>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-4-5">
        <div class="grid-row padding-lr-0-5">
            <div class="grid-cell grid-9-24">
                <label class="field-container">
                    <span class="field-label">SKU / Part # (GTIN):</span>
                    <input ng-model="row[value.name]['sku']" ng-readonly="row['readable']">
                </label>
            </div>

            <div class="grid-cell grid-9-24">
                <label class="field-container">
                    <span class="field-label">Electronic Product Code (EPC) / (sGTIN):</span>
                    <input ng-model="row[value.name]['code']" ng-readonly="row['readable']">
                </label>
            </div>

            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Country of Manufacture:</span>
                    <input ng-model="row[value.name]['country']" ng-readonly="row['readable']">
                </label>
            </div>


            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Item Value:</span>
                    <input ng-model="row[value.name]['value']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Total Value:</span>
                    <input ng-model="row[value.name]['total']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Quantity:</span>
                    <input ng-model="row[value.name]['quantity']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Weight (kg):</span>
                    <input ng-model="row[value.name]['weight']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Measure:</span>
                    <select
                            ng-model="row[value.name]['measure']"
                            ng-select
                            ng-select-class="{{value.selectClass}}"
                            ng-parent="grid-cell"
                            ng-size="5"
                            ng-options="option for option in value.measures track by option['id']"
                            >
                    </select>
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Length:</span>
                    <input ng-model="row[value.name]['length']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Width:</span>
                    <input ng-model="row[value.name]['width']" ng-readonly="row['readable']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Height:</span>
                    <input ng-model="row[value.name]['height']" ng-readonly="row['readable']">
                </label>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1-5">
        <label class="field-container">
            <span class="field-label">Taxes:</span>
            <select
                    ng-model="row[value.name]['taxes']"
                    ng-select
                    ng-select-class="{{value.selectClass}}"
                    ng-parent="field-container"
                    ng-size="5"
                    ng-options="option for option in value.taxes track by option['id']"
                    >
            </select>
        </label>
        <label class="field-container">
            <span class="field-label">Item Category:</span>
            <select
                    ng-model="row[value.name]['category']"
                    ng-select
                    ng-select-class="{{value.selectClass}}"
                    ng-parent="field-container"
                    ng-size="5"
                    ng-options="option for option in value.categories track by option['id']"
                    >
            </select>
        </label>
        <label class="field-container">
            <span class="field-label">Item Type:</span>
            <select
                    ng-model="row[value.name]['type']"
                    ng-select
                    ng-select-class="{{value.selectClass}}"
                    ng-parent="field-container"
                    ng-size="5"
                    ng-options="option for option in value.types track by option['id']"
                    >
            </select>
        </label>
    </div>
</div>