<div class="logotype-table-text">{{row[value.logoText]}}</div>
<div ng-class="value.container" ng-if="value.type == 'logo'">
    <img ng-src="{{row[value.logo]}}" ng-title="{{row[value.logoTitle]}}">
</div>