<div class="preloderContainer">
    <div class="preloader-item preloader-item-1"></div>
    <div class="preloader-item preloader-item-2"></div>
    <div class="preloader-item preloader-item-3"></div>
    <div class="preloader-item preloader-item-4"></div>
    <div class="preloader-item preloader-item-5"></div>
    <div class="preloader-item preloader-item-6"></div>
    <div class="preloader-item preloader-item-7"></div>
    <div class="preloader-item preloader-item-8"></div>
</div>