<div class="grid-row">
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content form-field-set">
            <h3>Summary Carrier invoice:</h3>
            <br><br>
            <ul>
                <li>
                    <b>Carrier:</b> Toll Ipec<br><br><br>
                </li>
                <li>
                    <b>Invoice No:</b> 1221212121<br><br><br>
                </li>
                <li>
                    <b>Email Reconciled Report:</b> john@lemot.com.au; trudy@lemot.com.au<br><br><br>
                </li>
                <li>
                    <b>Variance %:</b> 1% allowence<br><br><br>
                </li>
                <li>
                    <b>Shipments Imported: 750</b>
                </li>
                <li>
                    <b>Reconciled Shipments: 712</b>
                </li>
                <li>
                    <b>Exceptions: 38</b>
                </li>
            </ul>
            <br/><br/><br/>
            <span role="button" class="btn btn-dark-grey">
                <span class="btn-icon">
                    <img src="/images/icons/buttons/download_icon.svg">
                </span>
                <span class="btn-text">GENERATE CSV</span>
            </span>
        </div>
    </div>
</div>