<div class="grid-row padding-lr">
    <div class="grid-cell grid-1-2">
        <div class="grid-row padding-tb-1-5">
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <h3>Create Rule:</h3>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1">
                                <label class="field-container">
                                    <span class="field-label">Name:</span>
                                    <input value="Ebay Express Shipping"/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field"><sup>*</sup>For channel or all</span>
                                        Priority:
                                    </span>
                                    <input value="1"/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 clear-both">
                                <label class="field-container">
                                    <span class="field-label">Min Price:</span>
                                    <input value=""/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Max Price:</span>
                                    <input value=""/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Min Weight:</span>
                                    <input value=""/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Max Weight:</span>
                                    <input value=""/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1">
                                <label class="field-container">
                                    <span class="field-label">PO Box:</span>
                                    <label class="checkbox-form">
                                        <input type="checkbox" name="field-3">
                                        <span class="checkbox-decoration"></span>
                                        <span class="label-text notice-field size-0-75">
                                            <sup>*</sup>If selected will override all priority rules
                                        </span>
                                    </label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Carrier Details:</h3>
                <div class="grid-row padding-lr-0-5 padding-tb">
                    <div class="grid-cell grid-1-2">
                        <label class="field-container">
                            <span class="field-label">Carrier:</span>
                            <select ng-select ng-parent="field-holder-form" ng-size="4">
                                <option value="1">Ebay</option>
                                <option value="2">DHL</option>
                                <option value="3">Ebay</option>
                                <option value="4">DHL</option>
                                <option value="5">Ebay</option>
                                <option value="6">DHL</option>
                                <option value="7">Ebay</option>
                                <option value="8">DHL</option>
                            </select>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2">
                        <label class="field-container">
                            <span class="field-label">Service Type:</span>
                            <select ng-select ng-parent="field-holder-form" ng-size="4">
                                <option value="1">Couriers Please Parcel</option>
                                <option value="2">DHL Express Satchel</option>
                                <option value="3">Australian Post Satchel</option>
                                <option value="4">Australian Post Satchel</option>
                                <option value="5">Fastway</option>
                                <option value="6">DHL Express Satchel</option>
                                <option value="7">Couriers Please Parcel</option>
                            </select>
                        </label>
                    </div>
                </div>
                <br/><br/><br/>
                <h3>Address Details:</h3>
                <div class="grid-row padding-lr-0-5">
                    <div class="grid-cell grid-1-2">
                        <label class="field-container">
                            <span class="field-label">Channel:</span>
                            <select ng-select ng-parent="field-holder-form" ng-size="4">
                                <option value="1">Ebay</option>
                                <option value="2">DHL</option>
                                <option value="3">Ebay</option>
                                <option value="4">DHL</option>
                                <option value="5">Ebay</option>
                                <option value="6">DHL</option>
                                <option value="7">Ebay</option>
                                <option value="8">DHL</option>
                            </select>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2">
                        <label class="field-container">
                            <span class="field-label">Region:</span>
                            <select ng-select ng-parent="field-holder-form" ng-size="4">
                                <option value="1">ALL</option>
                                <option value="2">DHL Express Satchel</option>
                                <option value="3">Australian Post Satchel</option>
                                <option value="4">Australian Post Satchel</option>
                                <option value="5">Fastway</option>
                                <option value="6">DHL Express Satchel</option>
                                <option value="7">Couriers Please Parcel</option>
                            </select>
                        </label>
                    </div>
                    <div class="grid-cell grid-1">
                        <label class="field-container">
                            <span class="field-label">Postcode Range:</span>
                            <input placeholder="E.g. 3000, 3207, 2000, 2502"/>
                        </label>
                    </div>
                </div>
                <br/><br/><br/>
                <h3>Mark Up:</h3>
                <div class="grid-row padding-lr-0-5">
                    <div class="grid-cell grid-1-4">
                        <label class="field-container">
                            <span class="field-label">Percentage Value:</span>
                            <input value="10">
                        </label>
                    </div>
                    <div class="grid-cell grid-1-4">
                        <label class="field-container">
                            <span class="field-label">Fixed Value:</span>
                            <input value="10">
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 right-text">
                        <div class="field-container">
                            <div class="field-label">&nbsp;</div>
                            <a href="/configuration/shipping-rules" class="btn btn-red">
                                <span class="btn-text">Back</span>
                            </a>
                            <span role="button" class="btn btn-normal-blue">
                                <span class="btn-text">Save</span>
                            </span>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>