.colored-title {
  color: #fff;
  position: relative;

  &.light-blue {
    background-color: #0a98ef;
    &:after, &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.1)
    }
    &:after {
      bottom: 0;
      height: 0.071428571em;
    }
    &:before {
      top: 0;
      height: 0.142857143em;
    }
  }
  &.dark-blue {
    background-color: #0167bd;
  }
  h3, .colored-title-description {
    display: inline-block;
    vertical-align: middle;
  }
  h3 {
    @include text-shadow(none);
    margin-bottom: 0;
  }
  .colored-title-description {
    margin-left: 2em;
    line-height: 1.3em;
    font-size: 0.75em;
    padding: 0.6904761904761905em 0 0.07142857142857142em;
  }
}
.summary-table-block {
  h3 {
    font-size: 1.75em;
  }
  .colored-title {
    padding-top: 1.85em;
    padding-bottom: 2.0714285714285716em;
  }
  .summary-table {
    font-size: 1.25em;
    td {
      padding: 1.35em 1em;
      line-height: 1.2em;
      @include box-sizing(border-box);
      vertical-align: top;
      &:last-child {
        white-space: nowrap;
        width: 0.1em;
        text-align: right;
      }
      &:first-child {
        text-align: left;
      }
      &.price-cell {
        padding-bottom: 0;
      }
      &.empty-cell {
        line-height: 0;
        height: 1.7142857142857142em;
        vertical-align: top;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    tr {
      &.grey-row {
        td {
          background-color: #f8f8f8;
          + td {
            background-color: #ededed;
          }
        }
        + .grey-row {
          td {
            border-top: 1px solid #fff;
          }
        }
      }
      &.blue-row {
        td {
          background-color: #4d94d1;
          + td {
            background-color: #aad1e2;
          }
        }
      }
      &.grey-blue-row {
        td {
          background-color: #61666a;
          border-top: 1px solid #fff;
          + td {
            background-color: #adcad2;
          }
        }
      }
      &.blue-row, &.grey-blue-row {
        td:first-child {
          color: #fff;
        }
      }
    }
  }
}




