.dash-block {
  display: block;
  text-decoration: none;
  @include box-shadow(0 0 0 rgba(0, 0, 0, 0));
  @include transition(all linear 0.1s);
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &.bgcolor-1 {
    background-color: $cards-color-1;
  }
  &.bgcolor-2 {
    background-color: $cards-color-2;
  }
  &.bgcolor-3 {
    background-color: $cards-color-3;
  }
  &.bgcolor-4 {
    background-color: $cards-color-4;
  }
  &.bgcolor-5 {
    background-color: $cards-color-5;
  }
  &.bgcolor-6 {
    background-color: $cards-color-6;
  }
  &.bgcolor-7 {
    background-color: $cards-color-7;
  }
  &.bgcolor-8 {
    background-color: $cards-color-8;
  }

  &:hover {
    @include box-shadow(0 0.2em 0.3em rgba(0, 0, 0, 0.3));
    &.bgcolor-1 {
      background-color: $cards-color-1-h;
    }
    &.bgcolor-2 {
      background-color: $cards-color-2-h;
    }
    &.bgcolor-3 {
      background-color: $cards-color-3-h;
    }
    &.bgcolor-4 {
      background-color: $cards-color-4-h;
    }
    &.bgcolor-5 {
      background-color: $cards-color-5-h;
    }
    &.bgcolor-6 {
      background-color: $cards-color-6-h;
    }
    &.bgcolor-7 {
      background-color: $cards-color-7-h;
    }
    &.bgcolor-8 {
      background-color: $cards-color-8-h;
    }
  }
  &:active {
    &.bgcolor-1 {
      background-color: $cards-color-1-a;
    }
    &.bgcolor-2 {
      background-color: $cards-color-2-a;
    }
    &.bgcolor-3 {
      background-color: $cards-color-3-a;
    }
    &.bgcolor-4 {
      background-color: $cards-color-4-a;
    }
    &.bgcolor-5 {
      background-color: $cards-color-5-a;
    }
    &.bgcolor-6 {
      background-color: $cards-color-6-a;
    }
    &.bgcolor-7 {
      background-color: $cards-color-7-a;
    }
    &.bgcolor-8 {
      background-color: $cards-color-8-a;
    }
  }
  .dash-block-title, .dash-block-icon {
    display: block;
  }
  .dash-block-title {
    font-size: 2em;
    font-weight: bold;
  }
  .dash-block-text {
    line-height: initial;
    display: inline-block;
    vertical-align: middle;
  }
  &.dash-block-line {
    color: #111;
    line-height: 10em;
    .dash-block-icon {
      float: left;
      text-align: center;
      width: 10em;
      img {
        vertical-align: middle;
        width: 4.75em;
        height: 4.75em;
        margin-top: -0.36em;
      }
    }
    .dash-block-title {
      text-align: center;
      margin-left: 5em;
      background-color: #fff;
      padding: 0 2em;
    }
    &:hover {
      &.bgcolor-1 {
        background-color: $cards-color-1-h;
      }
      &.bgcolor-2 {
        background-color: $cards-color-2-h;
      }
      &.bgcolor-3 {
        background-color: $cards-color-3-h;
      }
    }
    &:active {
      &.bgcolor-1 {
        background-color: $cards-color-1-a;
      }
      &.bgcolor-2 {
        background-color: $cards-color-2-a;
      }
      &.bgcolor-3 {
        background-color: $cards-color-3-a;
      }
    }
  }
  &.dash-block-card {
    color: #fff;
    text-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.3);
    min-height: 17em;
    position: relative;
    //padding-bottom: 4.4em;
    @include box-sizing(border-box);
    .dash-block-title {
      padding: 0.05em 0.8em;
    }
    .dash-block-icon {
      padding: 2.3em 1.7em 1em;
      img {
        width: 4.5em;
        height: 4.5em;
      }
    }
    .dash-block-description {
      font-size: 1em;
      padding: 1.2em 1.7em;
      line-height: 1.2em;
    }

    .card-select-line {
      background-color: #E8E8E8;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #818181;
      text-transform: uppercase;
      padding: 0 0 0 1.7em;
      line-height: 4.1em;
      height: 4.4em;
      font-weight: bold;
      text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.9);
      text-decoration: none;
      span {
        font-size: 1.26em;
        display: block;
      }
      img {
        float: right;
        height: 4.4em;
        width: 4.4em;
        background-color: #fff;
        display: block;
        margin-left: 0.2em;
      }
    }
  }
}




.chart-container {
  height: 39em;
  width: 100%;
  display: block;
}
.chart-info {
  font-weight: bold;
  text-align: center;
  h3 {
    margin: 0.3em 0 0.1em;
    font-size: 1.5em;
  }
  .grid-cell-content {
    height: 20em;
    position: relative;
  }
  .chart-point-info {
    padding-top: 2em;
    padding-bottom: 1.2em;
    .month-name {
      font-size: 1.4em;
    }
    .amount-info {
      font-size: 3.65em;
      color: #0070cf;
    }
  }
  .select-date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
    color: #060606;
    @include text-shadow(0 0.1em 0.1em rgba(255, 255, 255, 0.9));
    padding-top: 1.6em;
    padding-bottom: 1.8em;
    span {
      font-size: 1.5em;
    }
  }
}


@media screen and (max-width: 400px) {
  .dash-block {
    .dash-block-card {
      font-size: 0.8em;
    }
  }
}

/* My Profile */
@import 'dashboard/my-profile';




