.tracking-list {
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 1.75em;
  &:after {
    clear: both;
    display: block;
    content: '';
  }
  li {
    width: 12.5%;
    float: left;
    position: relative;
    @include box-sizing(border-box);
    &.item-1-9 {
      width: 11.1111%;
    }
    &:before {
      content: '';
      display: block;
      margin: 0.5em auto 1.5em;
      width: 0.7em;
      height: 0.7em;
      @include border-radius(50%);
      border: 0.3em solid #bec0c2;
      background-color: #fff;
      position: relative;
      z-index: 2;
    }
    + li {
      &:after {
        display: block;
        width: 100%;
        left: -50%;
        height: 0.3em;
        top: 1em;
        content: '';
        background-color: #bec0c2;
        position: absolute;
      }
    }
    &.active {
      &:before {
        border-color: #0070cf;
        background-color: #bbdce5;
      }
      &:after {
        background-color: #0070cf;
      }
    }
  }
}
.track-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.track-search-field {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) and (min-width: 600px) {
  .tracking-list {
    li {
      width: 25%;
      &.track-2-line {
        margin-top: 2em;
      }
      &.track-br-line {
        clear: both;
        &:after {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .track-search-field {
    width: 90%;
  }
}
@media screen and (max-width: 600px) and (min-width: 400px)  {
  .tracking-list {
    li {
      width: 33.333%;
      &.track-3-line {
        margin-top: 2em;
      }
      &.track-br-3-line {
        clear: both;
        &:after {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .tracking-list {
    li {
      width: 50%;
      &:nth-child(2) ~ li {
        margin-top: 2em;
      }
      &:nth-child(odd) {
        clear: both;
        &:after {
          display: none;
        }
      }
    }
  }
}
