.btn {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  @include box-shadow(0 0.1em 0 rgba(0, 0, 0, 0.3));
  border-bottom-width: 1px;
  margin: 0.3em 0;
  @include transition(all linear 0.05s);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  &.no-active {
    cursor: default;
  }
  &:hover {
    text-decoration: none;
  }
  + .btn {
    margin-left: 0.3em;
  }
  &.float-right {
    margin-left: 0.5em;
  }
  &.block {
    display: block;
    + .btn {
      margin-top: 0.6em;
      margin-left: 0;
    }
  }
  .btn-icon-right, .btn-icon {
    width: 2.6em;
    height: 2.5em;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    img {
      height: 4em;
      width: 4em;
      margin: -0.78em -0.75em;
      vertical-align: middle;
    }
  }
  .btn-icon {
    float: left;
    + .btn-text {
      padding: 0 1em 0 0.8em;
      margin-left: 2.6em;
    }
  }
  .btn-icon-right {
    float: right;
    line-height: 2.5em;
    + .btn-text {
      padding: 0 0.8em 0 1em;
      margin-right: 2.6em;
    }
  }
  .button-loader {
    + .btn-text {
      visibility: hidden;
    }
  }
  .btn-text {
    padding: 0 2em;
    display: block;
    line-height: 2.55em;
    @include text-shadow(0 0.1em 0.05em rgba(0, 0, 0, 0.3));
  }
  &.btn-tracking {
    background-color: #00bfa5;
    &:focus, &:hover {
      background-color: #00f2d4;
    }
    &:active {
      background-color: #00866f;
    }
  }
  &.btn-orange-block {
    background-color: #f79121;
    &:focus, &:hover {
      background-color: #ffb642;
    }
    &:active {
      background-color: #a95a1d;
    }
  }
  &.btn-blue {
    background-color: #00aeef;
    &:focus, &:hover {
      background-color: #00c9ff;
    }
    &:active {
      background-color: #0085b3;
    }
  }
  &.btn-orange {
    background-color: #e48104;
    &:focus, &:hover {
      background-color: #ff9304;
    }
    &:active {
      background-color: #c76e04;
    }
  }
  &.btn-red {
    background-color: #ec1a3a;
    &:focus, &:hover {
      background-color: #ff1b3f;
    }
    &:active, &.no-active {
      background-color: #c51732;
    }
  }
  &.btn-dark-red {
    background-color: #dd4631;
    &:focus, &:hover {
      background-color: #ff5138;
    }
    &:active, &.no-active {
      background-color: #c13f2d;
    }
  }
  &.btn-violette {
    background-color: #2e3192;
    &:focus, &:hover {
      background-color: #3f42c6;
    }
    &:active, &.no-active {
      background-color: #1a1c55;
    }
  }
  &.btn-yellow {
    background-color: #f9d903;
    &:focus, &:hover {
      background-color: #ffee13;
    }
    &:active {
      background-color: #b39603;
    }
  }
  &.btn-light-orange {
    background-color: #ff9001;
    &:focus, &:hover {
      background-color: #ffb021;
    }
    &:active {
      background-color: #c26901;
    }
  }
  &.btn-dark-yellow {
    background-color: #ffb000;
    &:focus, &:hover {
      background-color: #ffc010;
    }
    &:active {
      background-color: #bd8100;
    }
  }

  &.btn-dark-blue {
    background-color: #3864b1;
    &:focus, &:hover {
      background-color: #437cd9;
    }
    &:active, &.no-active {
      background-color: #243b70;
    }
  }
  &.btn-submit-blue {
    background-color: #00309b;
    &:focus, &:hover {
      background-color: #0039c1;
    }
    &:active {
      background-color: #002473;
    }
  }
  &.btn-normal-blue {
    background-color: #0070cf;
    &:focus, &:hover, [type="checkbox"] + & {
      background-color: #0097f5;
    }
    &:active, &.no-active, [type="checkbox"]:checked + & {
      background-color: #004386;
    }
  }
  &.btn-dim-orange {
    background-color: #e5a85b;
  }
  &.btn-light-blue {
    background-color: #bbdce5;
    color: #1e252b;
  }
  &.btn-dark {
    background-color: #1e252b;
  }
  &.btn-dark-grey {
    background-color: #3f484f;
    &:focus, &:hover {
      background-color: #606e75;
    }
    &:active {
      background-color: #282f36;
    }
    &.no-active {
      background-color: #606e75;
    }
  }
  &.btn-close {
    background-color: #bcbec0;
    &:focus, &:hover {
      background-color: #ced0d2;
    }
    &:active {
      background-color: #9b9d9f;
    }
  }
  &.btn-grey {
    background-color: #808285;
    &:focus, &:hover {
      background-color: #a9abae;
    }
    &:active {
      background-color: #4f5154;
    }
  }
  &.btn-light-grey {
    background-color: #bfbfbf;
    &:focus, &:hover {
      background-color: #dcdcdc;
    }
    &:active {
      background-color: #808080;
    }
  }
  &.btn-green {
    background-color: #4cb508;
    &:focus, &:hover {
      background-color: #58d808;
    }
    &:active {
      background-color: #398208;
    }
  }
  &.btn-connect {
    .btn-text {
      padding-left: 0.7em;
      padding-right: 1.2em;
    }
    .btn-icon {
      img {
        height: 3em;
        width: 3em;
        margin-top: -0.3em;
      }
    }
  }
  &.add-btn {
    .btn-icon {
      img {
      }
    }
  }
}
.right-btns-block {
  position: absolute;
  right: 0;
  bottom: 50%;
  margin-bottom: -2em;
  width: 6em;
  .btn {
    display: block;
    width: 100%;
    white-space: normal;
    margin: 0;
    line-height: 1em;
    padding: 1.0714285714285714em 1em;
    + .btn {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.print-dropdown-btn {
  color: #fff;
  position: relative;
  background-color: #00309b;
  line-height: 1.2em;
  text-align: center;
  padding: 0.4em 2em 0.4em 0;
  @include box-sizing(border-box);
  width: 13em;
  cursor: pointer;
  @include box-shadow(0 0.1em 0 rgba(0, 0, 0, 0.3));
  .text-print-btn {
    padding: 5px 70px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &:after {
    position: absolute;
    font-family: FontAwesome;
    display: block;
    content: "\f0d7";
    font-size: 1em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0070cf;
    color: #00309b;
    width: 2em;
    line-height: 2em;
  }
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #111;
    white-space: nowrap;
    min-width: 100%;
    //display: none;
    li {
      padding: 0.6em;
      &:hover {
        background-color: rgba(230, 230, 230, 0.8);
      }
    }
  }
  &.opened {
    ul {
      display: block;
    }
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
  input[type="file"] {
    position: absolute;
    z-index: 2;
    margin: 0;
    left: 0;
    top: 0;
    font-size: 10em;
    @include opacity(0);
  }
}
.delete-btn {
  img {
    display: block;
    width: 1.6em;
    height: 1.6em;
  }
}
.menu-drop-page{
  padding: 0!important;
}

[data-button-title] {
  position: relative;
  overflow: hidden;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    @include opacity(0);
    @include transition(0.2s opacity linear);
  }
  &:after {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.85);
    @include border-radius(0.35em);
    content: attr(data-button-title);
    padding: 1em 1.5em;
    line-height: 1.2em;
    margin-top: 0.8em;
    text-transform: none;
  }
  &:before {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent;
    border-width: 0 0.5em 0.5em;
    margin-top: 0.3em;
    margin-right: 0.8em;
  }
  &:hover {
    &:before, &:after {
      @include opacity(1);
    }
    overflow: visible;
  }
}
