.preloderContainer {
  position: relative;
  font-size: 0.9em;
  width: 8em;
  height: 1em;
  margin: -0.5em auto 0;
}

.preloader-item {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 0.8em;
  height: 0.8em;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.235s;
  -o-animation-duration: 1.235s;
  -ms-animation-duration: 1.235s;
  -webkit-animation-duration: 1.235s;
  -moz-animation-duration: 1.235s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(.3);
  -o-transform: scale(.3);
  -ms-transform: scale(.3);
  -webkit-transform: scale(.3);
  -moz-transform: scale(.3);
  border-radius: 20%;
  -o-border-radius: 20%;
  -ms-border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
}

.preloader-item-1 {
  left: 0;
  animation-delay: 0.496s;
  -o-animation-delay: 0.496s;
  -ms-animation-delay: 0.496s;
  -webkit-animation-delay: 0.496s;
  -moz-animation-delay: 0.496s;
}

.preloader-item-2 {
  left: 1em;
  animation-delay: 0.6125s;
  -o-animation-delay: 0.6125s;
  -ms-animation-delay: 0.6125s;
  -webkit-animation-delay: 0.6125s;
  -moz-animation-delay: 0.6125s;
}

.preloader-item-3 {
  left: 2em;
  animation-delay: 0.739s;
  -o-animation-delay: 0.739s;
  -ms-animation-delay: 0.739s;
  -webkit-animation-delay: 0.739s;
  -moz-animation-delay: 0.739s;
}

.preloader-item-4 {
  left: 3em;
  animation-delay: 0.8655s;
  -o-animation-delay: 0.8655s;
  -ms-animation-delay: 0.8655s;
  -webkit-animation-delay: 0.8655s;
  -moz-animation-delay: 0.8655s;
}

.preloader-item-5 {
  left: 4em;
  animation-delay: 0.992s;
  -o-animation-delay: 0.992s;
  -ms-animation-delay: 0.992s;
  -webkit-animation-delay: 0.992s;
  -moz-animation-delay: 0.992s;
}

.preloader-item-6 {
  left: 5em;
  animation-delay: 1.1085s;
  -o-animation-delay: 1.1085s;
  -ms-animation-delay: 1.1085s;
  -webkit-animation-delay: 1.1085s;
  -moz-animation-delay: 1.1085s;
}

.preloader-item-7 {
  left: 6em;
  animation-delay: 1.235s;
  -o-animation-delay: 1.235s;
  -ms-animation-delay: 1.235s;
  -webkit-animation-delay: 1.235s;
  -moz-animation-delay: 1.235s;
}

.preloader-item-8 {
  left: 7em;
  animation-delay: 1.3615s;
  -o-animation-delay: 1.3615s;
  -ms-animation-delay: 1.3615s;
  -webkit-animation-delay: 1.3615s;
  -moz-animation-delay: 1.3615s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    transform: scale(.3);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    -o-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    -ms-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    -webkit-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgba(255, 255, 255, 0.8);
  }

  100% {
    -moz-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0.8);
  }
}