.wrapper-padding-lr {
  padding-left: 1.85em;
  padding-right: 1.85em;
}
.wrapper-padding-tb {
  padding-top: 1.9em;
  padding-bottom: 1.9em;
}
.article-content-wrapper {
  padding: 1.85em 1.19em;
  &.title-of-article {
    padding-bottom: 0;
  }
}
.title-of-article {
  margin-bottom: 0.75em;
}
.page-content {
  padding-top: 1.9em;
  .to-top {
    margin-top: -1.9em;
  }
}
.fixed-page-container {
  margin-top: 4.75em;
  overflow: hidden;
  margin-left: 17.5em;

}
.all-page-handler {
  z-index: 1;
  position: relative;
  @include box-sizing(border-box);
  min-height: 100%;
}

.tab-section {
  margin: 0 -1.85em;
  position: relative;
  overflow: hidden;
  .tab-section-content {
    &.ng-hide {
      display: none;
    }
  }
  &.tab-section-color-1 .tab-section-content {
    background-color: #9fd2dd;
  }
  &.tab-section-color-2 .tab-section-content {
    background-color: #0399ff;
  }
  &.tab-section-color-3 .tab-section-content {
    background-color: #0167bd;
  }
  &.minus-top {
    margin-top: -1.9em;
  }
  &.last-section-tab {
    padding-bottom: 5em;
  }
  + .tab-section {
    border-top: 1px solid #c7c8c9;
  }
  &.tab-line-scrolled {
    padding-top: 4.8em;
  }
}

.tab-section-content {
  position: relative;
  z-index: 1;
}
.tab-section-line {
  background-color: #e6e7e8;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  @include box-shadow(0 0.14em 0 rgba(0, 0, 0, 0.1));
  position: relative;
  z-index: 2;
  height: 4.8em;
  box-sizing: border-box;
  &.fixed-page-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .tab-title {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 2.2em;
    @include text-shadow(0 -0.1em 0 rgba(255, 255, 255, 0.4));
  }
  .tab-icon {
    height: 4em;
    margin: -.85em 1.7em -.85em 0.15em;
    float: left;
  }
  .tab-arrow {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    color: #bababa;
    text-align: center;
    line-height: 5em;
    width: 4.8em;
    &:before {
      font-size: 2.8em;
    }
  }
  //.fixed-line {
  //  right: 0;
  //  top: 4.75em;
  //  left: 17.5em;
  //}
  .tab-line-span-text {
    line-height: 1em;
  }
}
.title-icon {
  float: right;
  width: 2em;
}
.header-button {
  margin: 1.25em 0;
  .btn {
    margin: 0;
  }
}
.section-description {
  margin-top: -0.9em;
  color: #555;
}
.map-container {
  height: 25em;
}
