.error-holder {
  margin: 0 -1.85em;
}

[form-error], .form-error-block {
  display: none;
  padding-bottom: 1em;
  margin-bottom: -1em;
  position: relative;
  z-index: 5;
  max-height: 8em;
  overflow: hidden;
  &.in-page-holder {
  }
  .error-message {
    background-color: #ff0046;
    @include transition (background-color linear 0.1s);
  }
  &.static-error {
    display: block;
    max-height: 0;
    @include transition (max-height linear 0.2s);
    &.visible-error {
      max-height: 8em;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top: auto;
    width: 0;
    height: 0;
    border-style: solid;
    @include transition (border-color linear 0.1s);
    border-width: 1em 1.2em 0;
  }
  &:after {
    border-color: #ff0046 transparent;
    z-index: 5;
    left: 1.8em;
    margin-bottom: 1px;
  }
  &.success {
    .error-message {
      background-color: #00b434;
    }
    &:after {
      border-color: #00b434 transparent;
    }
    .alert-icon {
      img {
        display: none;
      }
      &:after {
        font-family: FontAwesome;
        content: "\f00c";
        display: inline-block;
        vertical-align: top;
        font-size: 2.4em;
      }
    }
  }
  &.warning {
    padding-bottom: 0;
    margin-bottom: 0;
    .error-message {
      background-color: #FFEA80;
      color: #998200;
      text-shadow: 0 1px rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid rgb(230, 226, 0);
      .title-error {
        text-shadow: 0 1px rgba(255, 255, 255, 0.9);
      }
    }
    &:after {
      display: none;
    }
  }
  .grid-cell-content > & {
    margin-bottom: -0.3em;
  }
}

.error-message {
  color: #fff;
  padding: 1.25em 1.85em 1.25em 5.85em;
  position: relative;
  .top-arrow & {
    bottom: 100%;
    top: auto;
    border-width: 0 1.25em 1.2em;
  }
  .title-error {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.2));
  }
  .text-error {
    font-size: 0.9em;
  }
  .alert-icon {
    float: left;
    img {
      width: 2.5em;
      height: 2.165em;
    }
    margin: 0.5em 0 0.5em -4em;
  }
  .error-close {
    float: right;
    cursor: pointer;
    img {
      width: 1.25em;
      height: 1.25em;
    }
  }
  .bottom-margin-error & {
    margin-bottom: 2em;
  }
}

.request-notice {
  width: 24em;
  min-height: 6em;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 6em;
  right: 1em;
  z-index: 2;
  @include border-radius(0.3em);
  @include box-shadow(0 0.25em 0.5em rgba(0, 0, 0, 0.3));
  color: #fff;
  @include opacity(0);
  @include transition(opacity linear 0.3s);
  width: 0;
  height: 0;
  &.showed-notice {
    width: auto;
    height: auto;
    @include opacity(1);
  }
}

.request-notice-content {
  padding: 1em;
  .fa {
    float: left;
    font-size: 2.75em;
    margin: 0.2em 0.2em;
    color: rgba(255, 255, 255, 0.8);
  }
  .request-notice-title {
    font-weight: bold;
    font-size: 0.9em;
  }
  .request-notice-text {
    margin-top: 0.7em;
    font-size: 0.85em;
  }
  .request-notice-text-content {
    margin-left: 5em;
  }
}



