button {
  cursor: pointer;
}
input:not([type="radio"]):not([type="checkbox"]), textarea {
  width: 100%;
  @include transition(border-color 0.05s linear);
  @include box-shadow(0 0 3px rgba(0, 138, 242, 0));
  padding-left: 1.25em;
  padding-right: 1.2em;
  border: 1px solid #d1d3d4;
  background-color: #f9f9f9;
  font-weight: normal;
  &:not([readonly]) {
    color: #555;
    &:focus {
      border: 1px solid #b3b4b5;
      color: #111;
      @include text-shadow(0 0 0 rgba(255, 255, 255, 0));
      background-color: #fefefe;
    }
  }
}
button, input, select, textarea {
  outline: 0 none;
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  font: inherit;
  -webkit-appearance: none;
  @include box-sizing(border-box);
}
input, textarea {
  &:focus {
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
  }
}
.form-holder {
  padding: 1.9em 1.85em 1.8em;
}
.description-form {
  line-height: 1.5em;
  margin: 1.5em 0;
}
.form-holder-lr {
  padding: 0 1.85em 1.8em;
}

.horizontal-label {
  padding-top: 2.25em;
  line-height: 3.25em;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
  }
}
.notice-field {
  float: right;
  color: #ed1c24;
}
.field-holder-form {
  display: block;
  position: relative;
  min-height: 5.5em;
  padding-top: 2.25em;
  margin-bottom: 0.2857142857142857em;
  @include box-sizing(border-box);
  .label-name {
    font-weight: bold;
    font-size: 0.75em;
    display: block;
    margin-top: -2.4em;
    /*margin-bottom: -0.21428571428571427em;*/
    line-height: 2.4em;
  }
  .label-current-name {
    position: absolute;
    color: #0069cc;
    font-weight: bold;
    bottom: 100%;
    left: 0;
    font-size: 0.75em;
  }
  &.required {
    .label-name:after {
      content: '*';
      display: inline-block;
      vertical-align: sup;
      margin-left: 0.2em;
    }
  }
  button {
    padding: 0;
  }
  input:not([type="radio"]):not([type="checkbox"]) {
    padding-left: 1.25em;
    padding-right: 1.2em;
    @include box-shadow(inset 0 0 2px #d1d3d4);
    border: 1px solid #d1d3d4;
    background-color: #f9f9f9;
    font-weight: normal;
  }
}

.field-holder {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #d1d3d4;
  background-color: #fff;
  height: 2.4em;
  input:not([type="radio"]):not([type="checkbox"]), select {
    height: 100%;
    font-weight: normal;
    padding-left: 0.6em;
    min-width: 6em;
    padding-right: 1.7em;
    @include box-shadow(inset 0 0 2px #d1d3d4);
  }
  select {
    z-index: 2;
    position: relative;
    width: auto;
    min-width: 100%;
    + .filed-buttons {
      line-height: 2.4em;
      text-align: center;
      .sort-button {
        height: 100%;
      }
    }
  }
}
.checkbox {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 1.2em;
  overflow: visible;
  position: relative;
  span {
    vertical-align: middle;
    color: #a7a9ac;
    font-size: 1.3em;
    font-weight: 100;
    @include transition(color 0.2s);
    &:before {
      font-family: FontAwesome;
      content: "\f096";
      display: inline;
    }
  }
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    @include opacity(0);
    bottom: 100%;
    right: 100%;
    &:checked + span {
      color: #0069cc;
      &:before {
        content: "\f046";
      }
    }
  }
  &.active {
    input + span {
      color: #0069cc;
    }
  };
}
.checkbox,.radio-form, .checkbox-form, .checkbox-form-2 {
  @include user-select(none);
}
.radio-form, .checkbox-form, .checkbox-form-2 {
  position: relative;
  display: inline-block;
  input {
    width: 1px;
    height: 1px;
    position: absolute;
    right: 100%;
    margin: 0;
    bottom: 100%;
    opacity: 0;
  }
}
.radio-form {
  input + span {
    display: inline-block;
    vertical-align: top;
    color: #d7dcde;
    text-align: center;
    @include transition(color 0.2s);
    &:before {
      font-size: 1.5em;
      font-family: FontAwesome;
      content: "\f10c";
      display: block;
    }
  }
  input:checked + span {
    color: #0070cf;
    &:before {
      content: "\f192";
    }
  }
}

.checkbox-form {
  margin: 1em 2.4% 0.7em 0;
  padding-left: 2.3em;
  &.in-head {
    margin-top: 0;
  }
  &.float-right {
    margin-right: 0;
  }
  input {
    + .checkbox-decoration {
      color: #fff;
      .grid-cell-content & {
        color: #d7dcde;
      }
    }
    &:focus + .checkbox-decoration {
      @include text-shadow(0 0 1px #868b8d);
    }
    &:checked + span.checkbox-decoration {
      color: #0070cf;
      @include transition(color 0.2s);
      &:after {
        content: "\f14a";
      }
      .grey-block & + .label-text {
        color: #0070cf;
      }
    }
  }
  span {
    float: left;
    &.checkbox-decoration {
      margin-left: -2.3em;
      &:after {
        font-size: 1.5em;
        content: "\f0c8";
        display: inline-block;
        font-family: FontAwesome;
      }
    }
    &.label-text {
      white-space: nowrap;
      font-size: 1.25em;
      font-weight: bold;
    }
  }
  &.head-checkbox {
    margin: 0.4em 0.3em;
    span.checkbox-decoration {
      margin-right: 0;
      margin-left: 1.15em;
    }
    span.label-text {
      font-size: 1.125em;
    }
  }
  &.right-text {
    span {
      float: right;
    }
  }
}

.checkbox-form-2 {
  margin: 1em 0;
  white-space: normal;

  input + span {
    float: left;
    color: #d7dcde;
    @include transition(color 0.2s);
    &:before {
      font-size: 1.5em;
      font-family: FontAwesome;
      content: "\f10c";
      display: block;
      font-weight: 100;
    }
  }
  input:checked + span {
    color: #0070cf;
    &:before {
      content: "\f192";
    }
  }
  .label-text {
    font-weight: bold;
    display: block;
    margin-left: 2.5em;
  }
}

.form-field-set {
  padding: 0.85em 1.25em 1em;
  .form-field-description {
    min-height: 1.75em;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2em;
      font-size: 0.75em;
    }
  }
  > .form-field-set {
    padding: 0.5em 0;
  }
}

.in-title-content {
  padding: 0.85em 1.25em 0;
  float: right;
}


.photo-field-holder {
  background-color: #e6e7e8;
  color: #49525a;
  text-align: center;
  border: 2px solid #aeafb2;
  padding: 0;
  min-height: 22em;
  position: relative;
  margin: 1.75em 0 0;
  .logotype-container {
    text-align: center;
    img {
      width: 100%;
      display: block;
    }
  }
  .field-description, h3 {
    background-color: rgba(230, 231, 232, 0.8);
  }
  .field-description, .btn-file, h3 {
    position: relative;
    z-index: 2;
  }
  .texts-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1em;
    right: 1em;
    margin: 0 1em;
    .texts-block-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .field-description {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.75em;
    padding: 1em 2em;
    position: absolute;
    bottom: 2.5em;
    left: 0;
    right: 0;
    b {
      color: #6d6e71;
    }
  }
  .btn-file-container {
    position: absolute;
    top: 50%;
    margin-top: -1.675em;
    text-align: center;
    left: 0;
    right: 0;
  }
  .form-btn {
    padding-left: 1.7142857142857142em;
    padding-right: 1.7142857142857142em;
    height: 3.35em;
    line-height: 3.35em;
  }
  h3 {
    font-size: 2em;
    padding: 0.2em;
    margin-top: 1em;
  }
}

.notice-form {
  font-size: 1.25em;
  .notice-info {
    margin: 1em 0;
  }
  .notices-list {
    list-style-type: disc;
    margin: 1.25em 0;
    padding-left: 1.1em;
    li {
      display: list-item;
      padding: 0.068em 0;
    }
  }
}



.trigger-field {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 0.75em;
  height: 2.5em;
  background-color: #dadbdc;
  text-transform: uppercase;
  line-height: 2.5em;
  color: #1e252b;
  @include text-shadow(0 0.1em 0.1em rgba(255, 255, 255, 0.2));
  @include box-shadow(inset 0 0.1em 0.1em rgba(0, 0, 0, 0.2));
  @include border-radius(0.3em);
  width: 8em;
  text-align: center;
  position: relative;
  cursor: pointer;
  @include user-select(none);
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    @include box-shadow(inset 0 0 0.1em rgba(255, 255, 255, 0.4));
    z-index: 4;
  }
  .trigger-text {
    float: left;
    height: 100%;
    width: 50%;
    @include transition(all 0.2s);
    position: relative;
    z-index: 2;
    font-weight: bold;
    &.trigger-off {
      color: #fff;
      @include text-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.2));
    }
  }
  .trigger-changer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    left: 50%;
    background-color: #0070cf;
    @include transition(left 0.2s);
    @include box-shadow(inset 0 0 0.1em rgba(0, 0, 0, 0.4));
  }
  input {
    position: absolute;
    bottom: 100%;
    right: 100%;
    @include opacity(0);
    &:checked ~ {
      .trigger-changer {
        left: 0;
      }
      .trigger-on {
        color: #fff;
        @include text-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.2));
      }
      .trigger-off {
        color: #1e252b;
        @include text-shadow(0 0.1em 0.1em rgba(255, 255, 255, 0.2));
      }
    }
  }
}

.textarea {
  padding: 1.25em;
  border: 1px solid #d1d3d4;
  background-color: #f9f9f9;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  height: 5.05em;
}


/* Inputs */

input:not([type="radio"]):not([type="checkbox"]), textarea {
  .field-container & {
    &.top-border, &[readonly] {
      padding-left: 1.25em;
      padding-right: 1.2em;
      border: 0 none;
      border-top: 0.25em solid #e0e1e1;
      background-color: #f1f1f1;
      font-weight: normal;
    }
    &[readonly] {
      color: #aaa;
    }
    &.normal {

    }
  }
  &.no-visible {
    width: 1px;
    background-color: #f1f1f1;
    height: 1px;
    @include opacity(0);
    top: -1px;
    position: relative;
    display: block;
    border: none!important;
    margin: 0 0 -1px;
  }
}

input:not([type="radio"]):not([type="checkbox"]) {
  .field-holder-form & {
    &.top-border, &[readonly] {
      height: 3em;
    }
  }
}

.radio-row {
  border-width: 2px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  .checkbox-form {
    padding: 2em 2em 2em 3.3em;
    margin: 0;
    display: block;
  }
  + .radio-row {
    border-top: 0 none;
  }
  &.active {
    background-color: #f0f0f0;
  }
}

@import 'select';




/* New form elements */
.field-input, .field-label {
  display: block;
}
.field-input {
  position: relative;
}
.field-label {
  font-weight: bold;
  font-size: 0.75em;
  display: block;
  line-height: 2.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.field-container {
  display: block;
  margin-top: 0.45em;
  position: relative;
  input {
    height: 3.25em;
    &.big-input {
      height: 4.25em;
    }
  }
  &.required {
    .field-label:after {
      content: '*';
      color: #ed1d25;
      display: inline;
      vertical-align: sup;
      margin-left: 0.2em;
    }
  }
  &.date-field {
    width: auto;
    height: 2.4em;
    display: block;
    .filter-buttons {
      width: 2.4em;
      img {
        width: 2.5em;
        height: 2.5em;
        margin: -0.05em;
      }
    }
    input[type="text"] {
      min-width: 8.5em;
      padding-right: 1em;
      padding-left: 1em;
      height: 2.4em;
    }
    .calendar-button {
      background-color: #c8c8c8;
      width: 2.4em;
      height: 2.4em;
      overflow: hidden;

    }
  }
  .filed-buttons {
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .field-current-name {
    position: absolute;
    color: #0069cc;
    font-weight: bold;
    bottom: 100%;
    left: 0;
    font-size: 0.75em;
  }
}
.form-table {
  display: table;
  width: 100%;
  > .field-container {
    display: table-row;
    margin-top: 0;
    > .field-label, > .field-input {
      display: table-cell;
      vertical-align: middle;
      border: 0 none;
    }
  }

  .field-label {
    padding-right: 1em;
    width: 1px;
  }
  .field-input {
    padding: 0.5em;
    white-space: nowrap;
  }
}

input {
  &:not([type="radio"]):not([type="checkbox"]) {
    form.ng-submitted &.ng-invalid, &.ng-invalid.ng-touched, &.response-error {
      .input-field & {
        margin: 0 -1px;
      }
    }
    form.ng-submitted &.ng-invalid, &.ng-invalid.ng-touched, &.response-error {
      border: 2px solid #ff0046;
      color: #a00;
      background-color: #ffebee;
      &:-ms-input-placeholder {
        color: #dd8585;
      }
      &::-webkit-input-placeholder {
        color: #dd8585;
      }
      &:-moz-placeholder {
        color: #dd8585;
      }
      @include box-shadow(0 0 3px rgba(255, 0, 70, 0));
      &:not([readonly]):focus {
        border-color: #ff0046;
        border-width: 2px;
        background-color: #fff7f8;
        @include text-shadow(0 0 0 rgba(255, 255, 255, 0));
        &:-ms-input-placeholder {
          color: #fff2f4;
        }
        &::-webkit-input-placeholder {
          color: #fff2f4;
        }
        &:-moz-placeholder {
          color: #fff2f4;
        }
      }
    }

    &.ng-invalid {
      form.ng-submitted &, &.ng-touched {
        &.ng-invalid-required:not([readonly]) ~ .error-field.required-error {
          @include opacity(1);
        }
        &.ng-invalid-required[readonly] ~ .error-field.required-error {
          @include opacity(0.5);
        }
        &:not(.ng-invalid-required):not([readonly]) ~ .error-field.valid-error {
          @include opacity(1);
        }
        &:not(.ng-invalid-required)[readonly] ~ .error-field.valid-error {
          @include opacity(0.5);
        }
      }
    }
    &.response-error {
      &:not([readonly]) ~ .error-field.response-error {
        @include opacity(1);
      }
      &[readonly] ~ .error-field.response-error {
        @include opacity(0.5);
      }
    }
  }
}
.error-field {
  @include opacity(0);
  @include transition(opacity cubic-bezier(0.46, 0.03, 0.52, 0.96) 0.1s);
  color: #ff0046;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  &:after {
    content: '' !important;
    display: none !important;
  }
}

.field-measure {
  float: left;
  width: 4.3em;
  text-align: center;
  height: 3.25em;
  line-height: 3.25em;
  cursor: default;
  border-right: #e3e3e5;
  background-color: #dadbdc;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: #dadbdc;
    margin-right: -1px;
    float: right;
  }
  .field-input & {
    + input {
      padding-left: 5em;
      margin-left: -4.3em;
    }
  }
}
.filter-field {
  vertical-align: middle;
  position: relative;
  height: 2.5em;
  &.date-field {
    .filter-buttons {
      float: left;
      display: block;
      clear: both;
      height: auto;
    }
    + .date-field {
      margin-top: 0.35em;
    }
    .display-cell {
      padding-top: 0.35em;
      padding-bottom: 0.35em;
    }
  }
  .nowrap & {
    + .filter-field {
      margin-left: 0.7em;
    }
  }
  input, .select-2 {
    height: 2.5em;
    width: 100%;
    @include box-shadow(none);
  }
  input[type], .select-2 .select-active-area {
    background-color: #fff;
    padding-left: 0.6em;
    min-width: 6em;
  }
  .filter-buttons {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-width: 0 0 0 1px;
  }
  > input {
    &:focus {
      + .filter-buttons {
        border-left: 1px solid #a3a4a5;
        background-color: #c8c9ca;
        color: #fff;
        @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.1));
      }
    }
  }

  .select-2 {
    .select-active-area {
      height: 100%;
      line-height: 2.4em;
      background-color: #fff;
      &:after {
        width: 1.7em;
      }
    }
    .select-list-container {
      line-height: 2.2em;
      .select-option {
        padding-left: 0.6em;
        padding-right: 1.7em;
      }
    }
  }
  &.date-field {
    display: block;
    min-width: 10em;
    width: 10em;
    .filter-buttons {
      width: 2.4em;
      img {
        width: 2.7em;
        height: 2.7em;
        margin: -0.15em;
      }
    }
  }
}
.filter-buttons {
  background-color: #d1d3d4;
  width: 1.7em;
  display: block;
  border: 1px solid #d1d3d4;
  position: relative;
  z-index: 1;
  color: #EFEFF0;
  &:hover, &:focus {
    background-color: #c4c6c7;
  }
  &:active {
    background-color: #b7b9ba;
  }
  .sort-button {
    line-height: 1.25em;
    font-size: 1em;
    display: block;
    width: 100%;
    overflow: hidden;
    .fa {
      font-size: 1.2em;
      vertical-align: middle;
    }
    .fa-sort-up {
      margin-bottom: -0.65em;
    }
    .fa-sort-down {
      margin-top: -0.65em;
    }
  }
}
.icon-field {
  background-color: #d1d3d4;
  line-height: 3.25em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 3em;
  &:after {
    display: inline;
    vertical-align: middle;
    font-size: 1.25em;
  }
  &.percents-field:after {
    content: '%';
  }
}
.display-cell {
  &.field-label {
    padding-left: 2em;
  }
}

.file-field {
  position: absolute;
  @include opacity(0);
  font-size: 10em;
  margin: 0;
  left: 0;
  top: 0;
}
.file-name-span {
  padding: 0 0.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

