.grid-row {
  &:after {
    clear: both;
    display: block;
    content: '';
  }

  .grid-cell {
    float: left;
    @include box-sizing(border-box);
    display: block;
  }
  &.padding-tb {
    margin-top: -0.55em;
    margin-bottom: -0.55em;
    > .grid-cell {
      padding-top: 0.55em;
      padding-bottom: 0.55em;
    }
  }

  &.padding-tb-1-5 {
    margin-top: -0.9em;
    margin-bottom: -0.9em;
    > .grid-cell {
      padding-top: 0.9em;
      padding-bottom: 0.9em;
    }
  }
  &.padding-lr {
    margin-left: -1.5em;
    margin-right: -1.5em;
    > .grid-cell {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }

  &.padding-lr-0-5 {
    margin-left: -0.75em;
    margin-right: -0.75em;
    > .grid-cell {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }


  .grid-cell-content {
    z-index: 0;
    background-color: #fff;
    @include box-shadow(0 0.15em 0 rgba(0, 0, 0, 0.1));
    @include box-sizing(border-box);
    position: relative;
  }

  &.forms-grid {
    margin-top: -.8em;
    padding-bottom: 3em;
    > .grid-cell {
      padding-top: .8em;
      padding-bottom: .8em;
    }
  }
}
.grid-space-line {
  height: 2.7em;
  display: table;
  width: 100%;
  clear: both;
  &:after, &:before {
    content: '';
    display: table;
    width: 100%;
  }
}

.grid-cell {
  &.grid-1 {
    width: 100%;
  }
  &.grid-1-3 {
    width: 33.3333%;
  }
  &.grid-2-3 {
    width: 66.6666%;
  }
  &.grid-3-3 {
    width: 100%;
  }
  &.grid-1-2 {
    width: 50%;
  }
  &.grid-1-4 {
    width: 25%;
  }
  &.grid-3-4 {
    width: 75%;
  }
  &.grid-1-8 {
    width: 12.5%;
  }
  &.grid-7-8 {
    width: 87.5%;
  }
  &.grid-1-6 {
    width: 16.666666666666666%;
  }

  &.grid-1-12 {
    width: 8.33333333333333%;
  }

  &.grid-5-12 {
    width: 41.66666666666667%;
  }

  &.grid-11-12 {
    width: 91.6666666666666%;
  }
  &.grid-5-6 {
    width: 83.33333333333333%;
  }

  &.grid-1-5 {
    width: 20%;
  }
  &.grid-2-5 {
    width: 40%;
  }
  &.grid-3-5 {
    width: 60%;
  }
  &.grid-4-5 {
    width: 80%;
  }
  &.grid-9-24 {
    width: 37.5%;
  }
  &.grid-unique {
    width: 28.06%;
  }
}

@media screen and (max-width: 1600px){
  .grid-cell {
    &.grid-cell-bs-1 {
      width: 100%;
    }
    &.grid-cell-bs-1-2 {
      width: 50%;
    }
    &.grid-cell-bs-1-3 {
      width: 33.33333%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .grid-cell {
    &.grid-cell-ms-show {
      display: none;
    }
  }
}

@media screen and (max-width: 1400px){
  .grid-cell {
    &.grid-cell-ms-1 {
      width: 100%;
    }
    &.grid-cell-ms-1-2 {
      width: 50%;
    }
    &.grid-cell-ms-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-ms-2-3 {
      width: 66.66%;
    }
    &.grid-cell-ms-3-4 {
      width: 75%;
    }
    &.grid-cell-ms-show {
      display: block;
    }
  }

}

@media screen and (max-width: 1450px){
  .date-area-text{
    padding-left:10%!important;
  }
}



@media screen and (max-width: 1280px){
  .grid-cell {
    &.grid-cell-1280-1 {
      width: 100%;
    }
    &.grid-cell-1280-1-2 {
      width: 50%;
    }
    &.grid-cell-1280-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-1280-3-4 {
      width: 75%;
    }
    &.grid-cell-1280-left {
      float: left!important;
    }
  }
}

@media screen and (min-width: 1170px) {
  body.minimized-menu {
    .left-sidebar {
      width: 4em;
      z-index: 3;
      top: 4.75em;
      padding-top: 0;
      padding-bottom: 0;
      .logotype {
        width: 4em;
        img {
          width: 8em;
          margin-left: -2em;
        }
      }
    }
    .main-menu {
      overflow: visible;
      width: auto;
    }
    .main-menu-item {
      position: relative;
      background: none;
      width: 100%;
      &.active {
        background-color: #36434F;
      }
      &:hover {
        .menu-item-text {
          display: block;
        }
      }
    }
    .menu-item-text {
      display: none;
      margin-left: 5em;
      width: 12em;
      text-align: center;
      background-color: #2B333A;
      @include border-radius(3px);
      @include opacity(0.95);
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        border-style: solid;
        border-color: transparent #2B333A transparent;
        border-width: 13px 11px 13px 0;
        margin-left: -11px;
        margin-top: -12px;
      }
    }
    .main-menu-block {
      width: 4em;
      overflow: visible;
      top: 7em;
    }
    .fixed-page-container {
      margin-left: 4em;
    }
    .top-bar {
      left: 4em;
    }
    .top-bar {
      margin-left: -4em;
      .burger-btn {
        width: 4em;
        margin-right: 0;
        border-right: 1px solid #ccc;
        img {
          margin-left: 0;
        }
      }
      .search-form {
        left: 4em;
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  .left-sidebar {
    z-index: 15;
  }
  .top-bar {
    margin-left: -4em;
  }

  .fixed-page-container {
    margin-left: 4em;
  }
  .top-bar {
    left: 4em;
  }
  .left-sidebar {
    top: 4.75em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-menu {
    overflow: visible;
    width: auto;
  }
  .main-menu-block {
    top: 7em;
    overflow: initial;
    bottom: auto;
  }
  body.minimized-menu {
    .main-menu {
      min-width: 17.5em;
    }
    .left-sidebar {
      overflow: auto;
    }
    .horizontal-logo {
      display: block;
      margin-left: -3em;
    }
    .normal-logo {
      display: none;
    }
  }
}
@media screen and (max-width: 1170px) and (min-width: 640px) {
  .top-bar {
    .burger-btn {
      width: 4em;
      margin-right: 0;
      border-right: 1px solid #ccc;
      img {
        margin-left: 0;
      }
    }
    .search-form {
      left: 4em;
    }
  }
  body:not(.minimized-menu) {
    .left-sidebar {
      width: 4em;
      z-index: 3;
      overflow: auto;
      padding-top: 0;
      padding-bottom: 0;
      .logotype {
        width: 4em;
        overflow: hidden;
        img {
          width: 8em;
          margin-left: -2em;
        }
      }
    }
    .main-menu-item {
      position: relative;
      .menu-item-text {
        display: none;
      }
    }
    .main-menu-block {
      width: 4em;
      /*overflow: visible;*/
    }
  }
}







@media screen and (max-width: 640px) {
  .error-message:after {
    border-width: 0.85em 1.25em 0;
  }
  .left-sidebar {
    left: auto;
    right: 100%;
  }

  .fixed-page-container {
    margin-left: 0;
  }
  .top-bar {
    left: 0;
    margin-left: 0;
  }
  .form-holder {
    padding: 1em;
  }
  .wrapper-padding-lr, .title-holder {
    padding-left: 1em;
    padding-right: 1em;
  }
  .page-content {
    padding-top: 1em;
  }
  .tab-section.minus-top {
    margin-top: -1em;
  }
  .tab-section {
    margin-left: -1em;
    margin-right: -1em;
  }
  .grid-row.padding-lr {
    margin-left: -1em;
    margin-right: -1em;
    > .grid-cell {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  body.minimized-menu {
    .left-sidebar {
      top: 4.75em;
      z-index: 15;
      left: 0;
      padding-left: 0;
      right: auto;
    }
  }
}


.grid-cell-900-show {
  display: none;
}

@media screen and (max-width: 1024px) {
  .grid-cell {
    &.grid-cell-1024-1 {
      width: 100%;
    }
    &.grid-cell-1024-1-2 {
      width: 50%;
    }
    &.grid-cell-1024-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-1024-2-3 {
      width: 66.66666%;
    }
    .grid-cell-1024-show {
      display: block;
    }
    .grid-cell-1024-hide {
      display: none;
    }
  }
}
@media screen and (max-width: 900px) {
  .grid-cell {
    &.grid-cell-900-1 {
      width: 100%;
    }
    &.grid-cell-900-1-2 {
      width: 50%;
    }
    &.grid-cell-900-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-900-2-3 {
      width: 66.66666%;
    }
    .grid-cell-900-show {
      display: block;
    }
    .grid-cell-900-hide {
      display: none;
    }
  }
}


@media screen and (max-width: 800px) {
  .grid-cell {
    &.grid-cell-mxs-1 {
      width: 100%;
    }
    &.grid-cell-mxs-1-2 {
      width: 50%;
    }
    &.grid-cell-mxs-1-3 {
      width: 33.33333%;
    }
  }
}

@media screen and (max-width: 640px) {
  .grid-cell {
    &.grid-cell-ss-1 {
      width: 100%;
    }
    &.grid-cell-ss-1-2 {
      width: 50%;
    }
    &.grid-cell-ss-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-ss-2-3 {
      width: 66.66666%;
    }
  }
}
@media screen and (max-width: 480px) {
  .top-bar, .all-page-handler, .left-sidebar {
    font-size: 12px;
  }
  .left-sidebar .main-menu {
    font-size: 14px;
  }
  .grid-cell {
    &.grid-cell-mbs-1 {
      width: 100%;
    }
    &.grid-cell-mbs-1-2 {
      width: 50%;
    }
    &.grid-cell-mbs-1-3 {
      width: 33.33333%;
    }
    &.grid-cell-mbs-2-3 {
      width: 66.66666%;
    }
  }
}
