.left-sidebar {
  background-color: $menu-color-1;
  position: fixed;
  left: -20px;
  top: -20px;
  bottom: -20px;
  z-index: 2;
  color: $color-5;
  padding: 20px 0 20px 20px;
  .horizontal-logo {
    display: none;
  }
}
.main-menu {
  position: relative;
  height: 100%;
  width: 17.5em;
  overflow: hidden;
}
.logotype {
  display: block;
  img {
    width: 17.715em;
    margin-left: -0.143em;
  }
}
.main-menu-block {
  position: absolute;
  top: 17.64285em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.main-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-menu-item {
  display: block;
  margin: 0 0;
  padding: 0;
  white-space: nowrap;
  line-height: 4em;
  height: 4em;
  clear: both;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .menu-pseudo-link, .item-icon {
    height: 100%;
  }
  .item-icon {
    width: 4em;
    float: left;
    margin-left: -1px;
    &.on-item-icon {
      display: none;
    }
  }
  span {
    display: block;
  }
  .menu-pseudo-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: block;
    span {
      margin-left: 4em;
      padding: 0 1em 0 0.815em;
    }
  }
  @include text-shadow(0 1px 0 rgba(255, 255, 255, 0));
  &:hover {
    .menu-pseudo-link {
      color: $color-6;
      @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.5));
      background-color: $menu-color-2;
      span {
        background-color: $menu-color-4;
      }
      .on-item-icon {
        display: block;
      }
      .off-item-icon {
        display: none;
      }
    }
  }
  &.active, {
    .on-item-icon {
      display: block;
    }
    .off-item-icon {
      display: none;
    }
    .menu-pseudo-link {
      @include text-shadow(none);
      background-color: $menu-color-3;
      color: $color-6;
      font-weight: bold;
      span {
        background-color: $menu-color-2;
      }
    }
    .menu-pseudo-link {
      cursor: default;
    }
  }
}