.paging-of-table {
  font-size: 0.75em;
  line-height: 2.3em;
  padding: 1.2em 2.5em 2em;
  color: #111;
  position: relative;
  z-index: 1;
  .paging-info-block {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: bold;
    padding-right: 0.5em;
    + .paging-info-block {
      padding-left: 0.5em;
      &:before {
        content: '|';
        margin-left: -0.5em;
        margin-right: 2px;
        margin-top: -1px;
      }
    }
  }
  .paging-input {
    display: inline-block;
    vertical-align: middle;
    height: 2.3em;
    margin: 0 1em;
    input {
      height: 100%;
      font-weight: normal;
      box-shadow: none;
      border: 1px solid #ebebeb;
      background-color: #f9f9f9;
      color: #111;
    }
  }
  .paging-btn {
    display: block;
    background-color: #ebebeb;
    width: 2.3em;
    text-align: center;
    cursor: pointer;
    transition: 0.1s linear all;
    font-weight: bold;
    border: solid #ebebeb;
    box-sizing: border-box;
    .fa {
      font-weight: bold;
    }
    &:hover {
      background-color: #e0e0e0;
    }
    &:active {
      background-color: #d0d0d0;
    }
    &.disable {
      cursor: default;
      background-color: #fafafa;
      .fa {
        color: #ccc;
      }
    }
  }
  .paging-page-select {
    input {
      width: 4.3em;
      text-align: center;
    }
    .paging-btn {
      height: 100%;
      &.digit-change-up {
        float: right;
        border-width: 1px 1px 1px 0;
      }
      &.digit-change-down {
        float: left;
        border-width: 1px 0 1px 1px;
      }
    }
  }
  .paging-items-count {
    input {
      width: 6.6em;
      padding-left: 1em;
      text-align: left;
    }
    .paging-btn {
      float: right;
      height: 1.15em;
      line-height: 1.15em;
      border-width: 1px;
      .fa {
        margin-top: -1px;
      }
      + .paging-btn {
        clear: both;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .paging-of-table .paging-total-info {
    display: block;
    padding-top: 1em;
    padding-left: 0!important;
    &:before {
      display: none!important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .paging-of-table .paging-info-block {
    display: block;
    padding-top: 1em;
    + .paging-info-block {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

