.scroller-line-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.scroller-ranger {
  width: 8px;
  cursor: pointer;
}
.fn-scroller-line {
  right: 0;
  width: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: visible;
}
.scrolled-block {
  margin-right: 10px;
}

.select-1-container {
  .fn-scroller-line {
    right: 2px;
    top: 1px;
    bottom: 1px;
  }
  .scroller-line-container {
    background-color: rgba(255, 255, 255, 0.2);
    @include border-right-radius(2px);
  }
  .scroller-ranger {
    background-color: #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    @include border-right-radius(2px);
  }
}

.select-2-container {
  .scroller-line-container {
    background-color: #eee;
  }
  .scroller-ranger {
    background-color: #ddd;
  }
}