.select-list-container {
  display: block;
  white-space: nowrap;
  position: absolute;
  @include box-sizing(border-box);
  z-index: 30;
  .select-list {
    list-style-type: none;
    padding: 0;
  }
  .select-option {
    display: block;
    cursor: default;
    &:not(.disabled) {
      cursor: pointer;
    }
  }
  &.select-1-container {
    padding: 0;
    line-height: 2em;
    margin: 1em 0;
    background-color: #1e252b;
    color: #9a9d9f;
    border-width: 1px 0;
    border-style: solid;
    border-color: #1e252b;

    @include box-shadow(0 0 0.2em rgba(0, 0, 0, 0.1));
    @include border-radius(0.3em);
    &:before, &:after {
      content: '';
      display: none;
      float: right;
      height: 0;
      width: 0;
      border-style: solid;
      border-color: #1e252b transparent;
      margin-right: 2.7em;
      left: 0.43em;
      position: relative;
    }
    &.to-bottom-list {
      &:before {
        display: block;
        border-width: 0 0.46em 0.5em;
        margin-top: -0.5em;
      }
    }
    &.to-top-list {
      margin-top: -0.5em;
      &:after {
        display: block;
        border-width: 0.5em 0.46em 0;
        margin-bottom: -0.5em;
      }
    }
    .select-option {
      margin: 0 1px;
      padding: 1px;
      text-indent: 2px;
      line-height: 30px;
      @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.5));
      span {
        @include border-radius(2px);
        display: block;
        padding: 1px 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        //&:before {
        //  float: right;
        //  position: relative;
        //  z-index: 1;
        //  color: #fff;
        //  text-align: center;
        //  font-family: FontAwesome;
        //  content: "\f0da";
        //  @include border-right-radius(0.3em);;
        //}
      }
      &:hover, &.selected {
        span {
          background-color: #0070cf;
          color: #fff;
        }
      }
      &.disabled-value {
        &:hover, &.selected {
          span {
            background: none;
          }
        }
        span:before {
          display: none;
        }
      }
    }
  }
  &.select-2-container {
    &.to-top-list {
      margin-top: -6px;
      &:after {
        display: block;
        border-width: 0.5em 0.46em 0;
        margin-bottom: -0.5em;
      }
    }
    .disabled-value {
      color: rgba(67, 67, 67, 0.5);
    }
    margin-top: 6px;
    background-color: #fff;
    color: rgba(67, 67, 67, 1);
    line-height: 3em;
    border: 1px solid #d1d3d4;
    margin-left: -2px;
    @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.4));
    .select-option {
      padding-left: 1.25em;
      padding-right: 1.2em;
      @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.7));
      + .select-option {
        border-top: 1px solid #d1d3d4;
      }
      &:hover {
        background-color: #f1f1f1;
      }
      &.selected {
        background-color: #e0e0e0;
      }
    }
  }
}


.select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: default;
  text-align: left;
  width: 100%;
  @include box-sizing(border-box);
  .hidden-items {
    overflow: hidden;
  }
  .select-active-area, .hidden-items {
    display: block;
    white-space: nowrap;
    padding-right: 1em;
  }
  .select-button-text {
    overflow: hidden;
    white-space: nowrap;
  }
  .select-original-container {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .no-visibility {
    height: 0;
    padding: 0 2em;
  }
  select, input {
    background: none;
    color: transparent;
    @include opacity(0);
  }
}
.select-2 {
  padding-right: 0;
  font-weight: normal;
  height: 3.25em;
  width: 100%;
  @include box-sizing(border-box);
  &.focus {
    .select-active-area {
      border-color: #a3a4a5;
      overflow: hidden;
      &:after {
        background-color: #c8c9ca;
      }
    }
  }
  .select-active-area {
    line-height: 3.25em;
    position: relative;
    padding-right: 3em;
    padding-left: 1.25em;
    @include box-sizing(border-box);
    @include transition(color, border-color, background-color 0.1s linear);
    border: 1px solid #d1d3d4;
    background-color: #f9f9f9;
    color: #777;
    height: 100%;
    &:after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #D1D2D3;
      color: #fff;
      text-align: center;
      width: 1.74em;
      text-align: center;
      font-family: FontAwesome;
      content: "\f0d7";
    }
  }
  .disabled-value {
    color: rgba(67, 67, 67, 0.5);
  }
  &.select-in-table {
    .select-active-area {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .autocomplete-container & {
    .select-active-area {
      &.disabled-value {
        display: none;
      }
    }
  }
}

.select-1 {
  background-color: #0070cf;
  @include border-radius(0.3em);
  @include user-select(none);
  line-height: 2em;
  height: 2.5em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  color: #fff;
  border: 1px solid transparent;
  &.date-select {
    margin-top: 0.35em;
    .select-active-area {
      position: relative;
      &:after {
        content: '';
      }
      .icon-calendar {
        width: 4.2em;
        position: absolute;
        right: -0.7em;
        top: -1em;
      }
    }
  }
  .select-active-area {
    padding: 0.25em 3.7em 0.25em 1.2em;
    margin: -1px;
    &:after {
      color: #fff;
      line-height: 2em;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      @include box-shadow(-0.1em 0 0 rgba(0, 0, 0, 0.3));
      width: 2.7em;
      text-align: center;
      font-family: FontAwesome;
      content: "\f0dd";
      @include transition(opacity 0.1s linear);
      @include opacity(1);
      @include border-right-radius(0.3em);
    }
  }
  &.active {
    .select-active-area {
      &:after {
        content: "\f0d8";
      }
    }
  }
  &.focus {
    border: 1px solid #4dabff;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
    /* margin: -1px; */
  }
  &.active {
    @include box-shadow(inset 0 0.2em 0.2em rgba(0, 0, 0, 0.3), 0 0 0.2em #0070cf);
    @include border-radius(0.3em);
  }
  .date-picker-container {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
  }

  .autocomplete-container & {
    .select-active-area {
      &.disabled-value {
        display: none;
      }
    }
  }
}
