.tabs-navigation {
  font-size: 1.25em;
  text-align: center;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  li {
    float: left;
    @include box-sizing(border-box);
    cursor: pointer;
    background-color: #8ca5ae;
    color: #fff;
    @include transition(background-color 0.2s, color 0.2s);
    + li {
      margin-left: 1px;
      @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.2));
    }
    &:hover {
      background-color: #6c8188;
    }
    &.active {
      font-weight: bold;
      background-color: #fff;
      color: #111;
      cursor: default;
    }
    a {
      color: inherit;
      display: block;
      padding: 0.9em 2em;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .to-top-tabs-navigation {
    margin-top: -3.6785714285714284em;
  }
}
@media screen and (max-width: 1400px) {
  .to-top-tabs-navigation {
    margin-top: 1.2em;
  }
}

.tabs {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .tabs-navigation-button {
    cursor: pointer;
    text-align: center;
    line-height: 3em;
    font-size: 1.25em;
    float: left;
    padding: 0 2em;
    @include box-sizing(border-box);
    background-color: #8ca5ae;
    color: #fff;
    display: none;
    ~ .tabs-navigation-button {
      margin-left: 1px;
      @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.2));
    }
    &:hover {
      background-color: #6c8188;
      text-decoration: none;
    }
    &.active {
      font-weight: bold;
      background-color: #fff;
      color: #111;
      cursor: default;
    }
  }
  .tabs-navigation-desktop {
    &:after {
      content: '';
      clear: both;
      display: block;
    }
    .tabs-navigation-button {
      display: block;
    }
  }
  .tabs-content-item {
    position: relative;
  }
}

