.table-container {
  width: 100%;
  .adding-button + & {
    :first-child.table-holder, :first-child.load-table-data {
      margin-top: 4.2em;
    }
  }
}
.table-holder {
  display: inline-block;
  vertical-align: bottom;
  overflow: auto;
  width: 100%;
  padding-bottom: 2em;
  position: relative;
  z-index: 3;
}
.sortable-table {
  background-color: #fff;
  text-align: left;
  color: #434343;
  min-width: 100%;
  .btn {
    margin-top: 0;
    margin-bottom: 0;
    &.width-100 {
      + .btn {
        margin-top: 0.3em;
      }
    }
  }
  thead {
    color: #000;
  }
  th {
    vertical-align: middle;
    &.min-width {
      width: 1px;
    }
  }
  .titles-row th {
    background-color: #e8e8e8;
    position: relative;
    vertical-align: middle;

    .head-title-cell {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      &.sorted-cell {
        @include transition(background-color linear 0.03s);
      }
      &.sorted-cell:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &.sorted-cell.active {
        background-color: rgba(0, 0, 0, 0.07);
      }
      &.sorted-cell:active {
        background-color: rgba(0, 0, 0, 0.085);
      }
    }
  }
  .filters-row th {
    background-color: #f8f8f8;
    vertical-align: top;
    &:last-child {
      padding-right: 1em;
    }
    &.normal-cell:first-child {
      padding-left: 1.2em;
    }

  }
  td, th {
    vertical-align: top;
    &.message-cell {
      padding: 0;
    }
    &.checkbox-cell {
      padding-left: 1em!important;
      padding-right: 1em!important;
    }
  }

  tbody:not(.no-colorize) {
    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
  }
  tbody {
    tr {
      &.even {
        background-color: #f8f8f8 !important;
      }
      &.odd {
        background-color: #fff !important;
      }
    }
  }
  tbody.no-colorize {
    &:nth-child(even) {
      background-color: #efefef;
    }
    &.yellow-background {
      background-color: #ffebbf;
    }
    &.blue-background {
      background-color: #c2ddf4;
    }
  }
  tbody {
    white-space: nowrap;
    td {
      padding: 1.05em 1.2em;
      .array-data-cell {
        margin-bottom: -1em;
      }
      &.status-cell {
        color: #2b2b2b;
      }
      &.link-cell {
        color: #0069cc;
        font-weight: bold;
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.btn-cell {
        padding: 0.6em;
        width: 10px;
      }
      &:last-child {
        padding-right: 1em;
      }
      &.input-field {
        padding: 0 0.5em 0;
        > input, > .field-input {
          margin: 2px 1px;
        }
        > input {
          &.ng-invalid.ng-touched {
            margin: 2px 0;
          }
        }
        .field-container {
          margin-top: 3px;
          margin-left: -0.35em;
          margin-right: -0.35em;
        }
        input {
          border: 1px solid transparent;
          @include box-shadow(none);
          background: none;
          padding-left: 0.95em;
        }
        .select-2 .select-active-area {
          padding-left: 0.95em;
          top: 1px;
          left: 0;
          &:after {
            bottom: 1px;
          }
        }
        .select-2 ~ .autocomplete-input-label input[type="text"] {
          &:focus {
            background: none;
          }
        }
        .autocomplete-container {
          min-width: 18em;
        }
      }
      &.field-cell {
        padding: 0;
        input {
          height: 4.25em;
          border-left: 0;
          border-right: 0;
        }
        input.first-of-child {
          border-left: 1px solid #d1d3d4;
        }
        input.last-of-child {
          border-right: 1px solid #d1d3d4;
        }
      }
      &.select-cell {
        .select {
          margin: 0;
        }
      }
    }
    th, td {
      line-height: 1.4em;
    }
    &.selectable-rows {
      tr:hover, tr.selected {
        background-color: rgba(214, 25, 34, 0.15);
      }
    }
  }
  th + th, td + td {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
  }
  & + .paging-of-table {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .filters-row-buttons {
    margin: -0.3em 0;
  }
  .titles-row {
    th {
      padding: 0 2.7em 0 1.2em;
      height: 3.5em;
    }
  }

  .filters-row {
    th {
      padding: 0.9em 0.6em;
      &.checkbox-cell {
        color: #aaa;
        width: 1px;
        text-align: center;
      }
    }
    .autocomplete-container {
      min-width: 15.5em;
      .select-active-area {
        border: 1px solid transparent;
        text-indent: 0;      }
    }
  }

  .table-selected-count {
    display: block;
    font-weight: normal;
    font-size: 0.75em;
    margin-top: 0.4em;
    + .table-selected-count {
      margin-top: 0.2em;
      border-top: 1px solid;
      padding-top: 0.2em;
    }
  }

}
table {
  th {
    position: relative;
  }
  tr {
    td {
      &.logo-cell {
        padding: 0.1em 0.5em!important;
        width: 1px;
        vertical-align: middle;
      }
    }
    &.description-row {
      background-color: #e8e8e8;
      color: #141414;
      td {
        vertical-align: middle;
        &.description-cell {
          padding: 2em;
          @include text-shadow(0 0.1em 0.1em rgba(255, 255, 255, 0.3));
        }
      }
    }
  }
  .sort-btns {
    position: relative;
    top: 0.6em;
    float: right;
    margin-right: 1.1em;
    @include text-shadow(0px 0px 0px rgba(0, 0, 0, 0.4), 0px 1px 0 rgba(255, 255, 255, 0.7));
    span {
      display: block;
      height: 1em;
      color: #ccc;
      font-size: 1.2em;
      vertical-align: middle;
      &.active {
        color: #777;
      }
      .fa-sort-down {
        margin-top: -0.3em;
        vertical-align: top;
      }
      .fa-sort-up {
        margin-bottom: -0.3em;
        vertical-align: bottom;
      }
    }
  }
  .top-border-row {
    td {
      border-top: 0.2em solid #e0e1e1;
    }
  }
}

.tabbed-table {
  .tabbed-table-title {
    padding-left: 1.25em;
    h4 {
      color: #fff;
      line-height: 1em;
      padding: 1em 0;
    }
    &.black-color {
      background-color: #2b333a;
      .tabbed-table-arrow {
        color: #2b333a;
      }
      .tabbed-table-arrow {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &.yellow-color {
      background-color: #ffb819;
      .tabbed-table-arrow {
        color: #ffb819;
      }
    }
    &.red-color {
      background-color: #ec1a3a;
      .tabbed-table-arrow {
        color: #ec1a3a;
      }
    }
    &.light-grey-color {
      background-color: #a0bbc6;
      .tabbed-table-arrow {
        color: #a0bbc6;
      }
    }

    &.blue-color {
      background-color: #0069cc;
      .tabbed-table-arrow {
        color: #0069cc;
      }
    }
    &.blue-grey-color {
       background-color: #a0bbc6;
       .tabbed-table-arrow {
         color: #a0bbc6;
       }
    }
    &.grey-color {
      background-color: #e6e7e8;
      .tabbed-table-arrow {
        color: #e6e7e8;
      }
      h4 {
        color: #333;
      }
    }
    .tabbed-table-arrow {
      float: right;
      background-color: rgba(0, 0, 0, 0.2);
      height: 3em;
      width: 3em;
      text-align: center;
      line-height: 3em;
      &:after {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f0d7";
        font-size: 1.2em;
      }
    }
  }
}



.table-buttons {
  padding-bottom: 1.2em;
}
.load-table-data {
  background: #e8e8e8;
  color: #1E252B;
  padding: 0 1em;
  line-height: 3.5em;
  height: 3.5em;
  margin-bottom: -3.5em;
  position: relative;
  z-index: 102;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}
.update-informer {
  display: none;
}

.adding-button {
  margin-bottom: -3em;
  position: relative;
  z-index: 5;
  padding-right: 1em;
}
.logotype-table-text {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 1em 0;
}
@media screen and (max-width: 900px) {
  .adding-button {
    margin-bottom: 0;
  }
}
