.top-bar {
  background-color: $color-6;
  position: fixed;
  z-index: 15;
  left: 17.5em;
  right: 0;
  top: 0;
  @include box-sizing(border-box);
  @include box-shadow(0 0.05em 0.2em rgba(0, 0, 0, 0.5));
  line-height: 4.75em;
  height: 4.75em;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .burger-btn {
    float: left;
    width: 5.1em;
    height: 4.75em;
    line-height: 4.75em;
    text-align: center;
    img {
      width: 4em;
      height: 4em;
      vertical-align: middle;
      margin: -0.2em auto auto 0.2em;
    }
  }
  .search-form {
    float: left;
    height: 4.75em;
    width: 22.45em;
    background-color: #ebebeb;
    label {
      display: block;
      position: relative;
      height: 100%;
    }
    .search-shipment {
      height: 100%;
      width: 100%;
      font: inherit;
      display: block;
      padding-left: 3.75em;
      font-size: 1.125em;
      position: absolute;
      padding-top: 0.05em;
      left: 0;
      top: 0;
      border: 0 none;
      background: none;
      @include box-shadow(none);
      @include text-shadow(none);
      &:focus {
        @include box-shadow(none !important);
        border-top: none !important;
        border-bottom: none !important;
      }
      &:-ms-input-placeholder {
        //color: transparent;
      }
      &::-webkit-input-placeholder {
        //color: transparent;
      }
      &:-moz-placeholder {
        //color: transparent;
      }
    }
    .search-icon {
      width: 4.05em;
      height: 4.05em;
      margin: 0.4em -0.05em;
      position: relative;
      z-index: 2;
      float: left;
    }
  }
  .user-navigation {
    float: right;
    white-space: nowrap;
    margin-right: 1%;
    position: relative;
    z-index: 1;
  }
  .user-name-holder, .exit-button {
    float: right;
  }
  .user-name-holder {
    position: relative;
    padding: 0 1em;
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-width: 0.4em 0.3em 0;
      border-style: solid;
      border-color: #ccc transparent;
      margin-left: 1.4em;
    }
  }
  .user-name-text {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
  .exit-button {
    cursor: pointer;
    img {
      height: 4.2em;
      width: 4.2em;
      margin: 0.275em 0;
      display: block;
    }
  }
}
.drop-down-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  @include box-sizing(border-box);
  background-color: #efefef;
  border: 1px solid #efefef;
  white-space: nowrap;
  line-height: 1.2em;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-width: 0 0.3em 0.4em;
    border-style: solid;
    border-color: #efefef transparent;
    float: right;
    margin-top: -0.4em;
    margin-right: 1em;
  }
  a {
    display: block;
    padding: 0.6em 1.2em 0.6em 1em;
    font-weight: bold;
    color: #555;
    &:hover {
      background-color: #fff;
      text-decoration: none;
      color: #111111;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: block;
    &.drop-down-exit {
      border-top: 1px solid #ccc;
    }
  }
  .user-name-holder:hover & {
    display: block;
  }
}


@media screen and (max-width: 750px) {
  .top-bar {
    .search-form {
      width: 5em;
      position: absolute;
      left: 5.1em;
      z-index: 3;
      &.on-focus {
        width: auto;
        right: 0;
        input {
          padding-left: 3.75em;
        }
      }
      input {
        padding-left: 3.25em;
        z-index: 4;
      }
      .search-icon {
        margin-left: 0.5em;
        position: relative;
        z-index: 2;
        float: left;
      }
      &:after {
        clear: both;
      }
    }
  }
}