.windows- {
  &mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
  }
  &notice {
    width: 600px;
    max-width: 96%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 60;
    border: 1px solid #e8e8e8;
    transform: scale(0.8);
    @include transition(transform 0.2s cubic-bezier(0, 2.08, 1, 1));
    &.on-visible {
      transform: scale(1);
    }
  }
  &title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.25em 0 1em;
  }
  &text {

  }
  &content {
    padding: 1em 1.5em 2.5em;
  }
  &buttons {
    text-align: right;
    padding: 1em 1.5em;
    background-color: #f8f8f8;
  }
  &body {
    .left-sidebar, .all-page-handler, .top-bar {
      @include filter(blur(3px));
    }
  }
};
