<div class="array-data-cell">
    <div ng-repeat="link in item.viewFormat(row) track by $index">
        <a class="bold" ng-href="{{ item.urlFormat ? item.urlFormat(row[item]) : '#' }}">
            {{link}}
        </a>
    </div>
</div>
