<button ng-repeat="button in item.bodyButtons track by $index" class="btn" ng-class="button.type"
        ng-click="button.action(row, $event);">
    <span class="button-loader" ng-if="button.forProcessing && (button.forProcessing == row.processing)"
          ng-include="'/templates/elements/button-loader.html'"></span>
    <span class="btn-icon" ng-if="button.icon">
        <img ng-src="/images/icons/buttons/{{button.icon}}.svg">
    </span>
    <span class="btn-text" ng-if="button.text">{{button.text}}</span>
</button>
