<div ng-class="item.container" ng-if="(item.srcFormat && item.srcFormat(row)) || row[item.viewName]">
    <img ng-src="{{ item.srcFormat ? item.srcFormat(row) : row[item.viewName] }}"
         title="{{row[item.titleName]}}">
</div>
<b ng-if="!(item.srcFormat || row[item.viewName])">No Logo</b>