<div class="grid-row padding-lr-0-5">
    <div class="grid-cell grid-1">
        <div class="grid-row">
            <div class="grid-cell grid-4-5">
                <label class="field-container">
                    <span class="field-label">Name:</span>
                    <input ng-model="row['description']" ng-readonly="row['readonly']">
                </label>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-4-5">
        <div class="grid-row padding-lr-0-5">
            <div class="grid-cell grid-9-24">
                <label class="field-container">
                    <span class="field-label">SKU / Part # (GTIN):</span>
                    <input ng-model="row['sku']" ng-readonly="row['readonly']">
                </label>
            </div>

            <div class="grid-cell grid-9-24">
                <label class="field-container">
                    <span class="field-label">Electronic Product Code (EPC) / (sGTIN):</span>
                    <input ng-model="row['code']" ng-readonly="row['readonly']">
                </label>
            </div>

            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Country of Manufacture:</span>
                    <input ng-model="row['manufacturer']" ng-readonly="row['readonly']">
                </label>
            </div>


            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Item Value:</span>
                    <input ng-model="row['value']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Total Value:</span>
                    <input ng-model="row['total']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Quantity:</span>
                    <input ng-model="row['quantity']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Weight (kg):</span>
                    <input ng-model="row['weight']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Measure:</span>
                    <select
                            ng-model="row['measures']"
                            ng-select
                            ng-select-class="select-2"
                            ng-options="option as option for option in item['selectOptions']['measures'] track by option"
                            >
                    </select>
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Length:</span>
                    <input ng-model="row['length']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Width:</span>
                    <input ng-model="row['width']" ng-readonly="row['readonly']">
                </label>
            </div>
            <div class="grid-cell grid-1-4">
                <label class="field-container">
                    <span class="field-label">Height:</span>
                    <input ng-model="row['height']" ng-readonly="row['readonly']">
                </label>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1-5">
        <label class="field-container">
            <span class="field-label">Taxes:</span>
            <select
                    ng-model="row['taxes']"
                    ng-select
                    ng-select-class="select-2"
                    ng-options="option as option for option in item['selectOptions']['taxes'] track by option"
                    >
            </select>
        </label>
        <label class="field-container">
            <span class="field-label">Item Category:</span>
            <select
                    ng-model="row['category']"
                    ng-select
                    ng-select-class="select-2"
                    ng-options="option as option for option in item['selectOptions']['category'] track by option"
                    >
            </select>
        </label>
        <label class="field-container">
            <span class="field-label">Item Type:</span>
            <select
                    ng-model="row['itemType']"
                    ng-select
                    ng-select-class="select-2"
                    ng-options="option as option for option in item['selectOptions']['itemType'] track by option"
                    >
            </select>
        </label>
    </div>
</div>