<div class="grid-row padding-lr-0-5 padding-tb-1-5 bottom-2em">
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('profile-manager')" class="dash-block dash-block-card bgcolor-1">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-1.svg"/>
                </div>
                <div class="dash-block-title">BBA Profile Manager</div>
                <p class="dash-block-description">
                    Manage all of your BBA profiles through the manager
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('warehouses')" class="dash-block dash-block-card bgcolor-2">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-3.svg"/>
                </div>
                <div class="dash-block-title">Warehouses</div>
                <p class="dash-block-description">
                    Manage all of your warehouse transfers and locations through the
                    warehouses management console
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('packaging')" class="dash-block dash-block-card bgcolor-3">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-2.svg"/>
                </div>
                <div class="dash-block-title">Packaging</div>
                <p class="dash-block-description">
                    Determine all of your packaging rules from the packaging panel
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('inventory')" class="dash-block dash-block-card bgcolor-4">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-4.svg"/>
                </div>
                <div class="dash-block-title">Inventory Management</div>
                <p class="dash-block-description">
                    Manage your inventory, duties and taxation through the inventory
                    management console
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('shipping-rules')" class="dash-block dash-block-card bgcolor-5">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-5.svg"/>
                </div>
                <div class="dash-block-title">Shipping Rules</div>
                <p class="dash-block-description">
                    Keep all your shipping rules in the one location with the shipping
                    rules manager
                </p>
            </div>
        </div>
    </div>


    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('currency-converter')" class="dash-block dash-block-card bgcolor-6">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-6.svg"/>
                </div>
                <div class="dash-block-title">Currency Converter</div>
                <p class="dash-block-description">
                    Convert your shipments into the right currency.
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('address-book')" class="dash-block dash-block-card bgcolor-7">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-7.svg"/>
                </div>
                <div class="dash-block-title">Address Book</div>
                <p class="dash-block-description">
                    Manage all your addresses with the address book
                </p>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content without-padding">
            <div ng-click="toChapter('tracking_manager')" class="dash-block dash-block-card bgcolor-8">
                <div class="dash-block-icon">
                    <img src="/images/icons/cards/card-icon-8.svg"/>
                </div>
                <div class="dash-block-title">Tracking Manager</div>
                <p class="dash-block-description">
                    Track all of your orders completely through tracking manager
                </p>
                <!-- a href="/configuration/tracking_manager" class="card-select-line">
                    <img src="/images/icons/buttons/arrow-card.svg"/>
                    <span>Select</span>
                </a -->
            </div>
        </div>
    </div>
</div>

