<nav class="tabs">
    <ul class="tabs-navigation-desktop">
        <li class="tabs-navigation-button"
            data-ng-class="{active:routeParams.tab=='instore' || routeParams.tab=='userinformation'}"
            data-ng-click="toTab('instore')">
            <span>In Store</span>
        </li>
        <li class="tabs-navigation-button" data-ng-class="{active:routeParams.tab=='configuration'}"
            data-ng-click="toTab('configuration')">
            <span>Configure Global Settings</span>
        </li>
        <li class="tabs-navigation-button"
            data-ng-class="{active:routeParams.tab=='useractivity' || routeParams.tab=='viewactivity'}"
            data-ng-click="toTab('useractivity')">
            <span>User Activity</span>
        </li>
    </ul>
</nav>
<div class="clear-both" data-ng-include="showedTab"></div>