<div class="grid-row padding-lr-0-5 padding-tb-1-5 bottom-5em">
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content">
            <a href="/tracking" class="dash-block dash-block-line bgcolor-1">
                <span class="dash-block-icon">
                    <img src="/images/icons/dashboard/tracking_icon.svg">
                </span>
                <span class="dash-block-title">
                    <span class="dash-block-text">Tracking</span>
                </span>
            </a>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content">
            <a href="/reporting" class="dash-block dash-block-line bgcolor-2">
                <span class="dash-block-icon">
                    <img src="/images/icons/dashboard/reporting_icon.svg">
                </span>
                <span class="dash-block-title">
                    <span class="dash-block-text">Reporting</span>
                </span>
            </a>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content">
            <a href="/configuration/profile-manager" class="dash-block dash-block-line bgcolor-3">
                <span class="dash-block-icon">
                    <img src="/images/icons/dashboard/profile_icon.svg">
                </span>
                <span class="dash-block-title">
                    <span class="dash-block-text">Profile Manager</span>
                </span>
            </a>
        </div>
    </div>

    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="title-of-article article-content-wrapper">In Transit Shipments</h3>
            <ng-intellectual-table table-data="transitTableData"></ng-intellectual-table>
        </div>
    </div>

    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">
            <div class="title-of-article article-content-wrapper">
                <h3>Spend - Monthly Overview</h3>
                <p class="section-description">Select Month Node to view daily spend</p>
            </div>
            <div class="relative">
                <img class="rectangle-image" src="data:image/gif;base64,R0lGODlhAgABAIAAAP///////yH5BAEKAAEALAAAAAACAAEAAAICTAoAOw=="/>
                <div class="reporting-chart-container" ng-am-charts="monthlyChart"></div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">
            <div class="title-of-article article-content-wrapper">
                <h3>Spend - Daily <span>({{ dailyDateInfo | date : 'MMMM yyyy'}})</span></h3>
                <p class="section-description">Select day to view transactions</p>
            </div>
            <div class="relative">
                <img class="rectangle-image" src="data:image/gif;base64,R0lGODlhAgABAIAAAP///////yH5BAEKAAEALAAAAAACAAEAAAICTAoAOw=="/>
                <div class="reporting-chart-container" ng-am-charts="daysChart"></div>
            </div>
        </div>
    </div>
</div>
