<div class="grid-row padding-lr-0-5 padding-tb bottom-5em">

    <div class="grid-cell grid-1-2">
        <div class="grid-row padding-tb">
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <div class="grid-row padding-lr-0-5 padding-tb">
                            <div class="grid-cell grid-1-2">
                                <h3>Address Details:</h3>
                                <div class="field-container">
                                    <span class="field-label">Location:</span>
                                    <select ng-select ng-parent="grid-cell">
                                        <option>Sydney</option>
                                        <option>Brisbane</option>
                                        <option>Perth</option>
                                        <option>BBA Profile A</option>
                                        <option>BBA Profile B</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <h3>Carriers:</h3>
                                <div class="field-container">
                                    <span class="field-current-name">BBA Profile A:</span>
                                    <span class="field-label normal-weight-text">If BBA Profile is selected, display only BBA last mile carriers:</span>
                                    <select ng-select ng-parent="grid-cell">
                                        <option>Australia Post</option>
                                        <option>Fastway</option>
                                        <option>Couriers Please</option>
                                        <option>BBA Profile A</option>
                                        <option>BBA Profile B</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <div class="grid-row padding-lr-0-5 padding-tb">
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please conduct scan</span>
                                        SSCC Outer Tag:
                                    </span>
                                    <input value="000111010110111011010"/>
                                </label>
                                <label class="field-container">
                                    <span class="field-label">
                                        <span class="notice-field">Please assign tag No.</span>
                                        GRAI Tag:
                                    </span>
                                    <input value="00011101"/>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <div class="field-container">
                                    <span class="field-label">&nbsp;</span>
                                    <span role="button" class="btn btn-normal-blue">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/drawing_icon.svg"/>
                                        </span>
                                        <span class="btn-text">SCAN ITEM</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <div class="float-right nowrap">
                    <a href="#" class="btn btn-light-orange">
                        <span class="btn-text">Run</span>
                    </a>&nbsp;
                    <a href="#" class="btn btn-red">
                        <span class="btn-text">Delete</span>
                    </a>
                </div>
                <h3>Run Draft Manifest:</h3>
                <div class="bold size-0-75">Summary Draft Manifest:</div>
            </div>
            <div class="grey-block form-field-set">
                <div class="grid-row">
                    <div class="grid-cell grid-1-4">
                        <label class="checkbox-form size-0-9">
                            <input type="radio" name="locale">
                            <span class="checkbox-decoration"></span>
                            <span class="label-text">ABC123456</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-4">
                        <label class="checkbox-form size-0-9">
                            <input type="radio" name="locale" checked="checked">
                            <span class="checkbox-decoration"></span>
                            <span class="label-text">ABC123456</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-4">
                        <label class="checkbox-form size-0-9">
                            <input type="radio" name="locale">
                            <span class="checkbox-decoration"></span>
                            <span class="label-text">ABC123456</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-4">
                        <label class="checkbox-form size-0-9">
                            <input type="radio" name="locale">
                            <span class="checkbox-decoration"></span>
                            <span class="label-text">ABC123456</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-field-set">
                <a href="/manifesting/confirm" class="btn btn-red float-right">
                    <span class="btn-text">Confirm</span>
                </a>
                <h3>Confirmed Manifest:</h3>
            </div>
        </div>
    </div>
    <div class="clear-both">&nbsp;</div>
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Previous Manifesting</h3>
            <div class="table-container">
                <div class="paging-of-table">
                    <span class="paging-element">Page</span>
                    <div class="paging-page-select paging-input paging-element">
                        <input type="text" value="1"/>
                        <button class="paging-btn digit-change-up">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <button class="paging-btn digit-change-down">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </div>
                    <span class="paging-element">of 1 | View</span>
                    <div class="paging-items-count paging-input paging-element">
                        <input type="text" value="20"/>
                        <button class="paging-btn digit-change-up">
                            <i class="fa fa-angle-up"></i>
                        </button>
                        <button class="paging-btn digit-change-down">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <span class="paging-element">Records | Found total 1 records</span>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="sortable-table">
                    <thead>
                    <tr class="titles-row">
                        <th class="normal-cell">
                            Date
                            <div class="sorted-cell head-title-cell">
                                <div class="sort-btns">
                                    <span class="sort-up">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-down">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </div>
                            </div>
                        </th>
                        <th class="normal-cell">
                            Location
                            <div class="sorted-cell head-title-cell">
                                <div class="sort-btns">
                                    <span class="sort-up">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-down">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </div>
                            </div>
                        </th>
                        <th class="normal-cell">
                            Carrier
                            <div class="sorted-cell head-title-cell">
                                <div class="sort-btns">
                                    <span class="sort-up">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-down">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </div>
                            </div>
                        </th>
                        <th class="normal-cell">
                            Man. No
                            <div class="sorted-cell head-title-cell">
                                <div class="sort-btns">
                                    <span class="sort-up">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-down">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </div>
                            </div>
                        </th>
                        <th class="normal-cell">
                            Documents
                            <div class="sorted-cell head-title-cell">
                                <div class="sort-btns">
                                    <span class="sort-up">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-down">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr class="filters-row">
                        <th class="normal-cell">
                            <form class="filter-field">
                                <input type="text" placeholder="Search">
                                <button class="filter-buttons" type="submit" tabindex="-1">
                                    <span class="sort-button">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-button">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </button>
                            </form>
                        </th>
                        <th class="normal-cell">
                            <form class="filter-field">
                                <input type="text" placeholder="Search">
                                <button class="filter-buttons" type="submit" tabindex="-1">
                                    <span class="sort-button">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-button">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </button>
                            </form>
                        </th>
                        <th class="normal-cell">
                            <form class="filter-field">
                                <input type="text" placeholder="Search">
                                <button class="filter-buttons" type="submit" tabindex="-1">
                                    <span class="sort-button">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-button">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </button>
                            </form>
                        </th>
                        <th class="normal-cell">
                            <form class="filter-field">
                                <input type="text" placeholder="Search">
                                <button class="filter-buttons" type="submit" tabindex="-1">
                                    <span class="sort-button">
                                        <i class="fa fa-sort-up"></i>
                                    </span>
                                    <span class="sort-button">
                                        <i class="fa fa-sort-down"></i>
                                    </span>
                                </button>
                            </form>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="no-colorize">
                        <tr>
                            <td rowspan="5">
                                1/05/15<br/>
                                2.22pm
                            </td>
                            <td rowspan="5">
                                Warehouse 1, 23 Smith Street, Melbourne, Australia
                            </td>
                            <td class="bold min-width no-padding-lr center-text">
                                BBA Profile 1
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="logo-cell">
                                <div class="logotype-shipping">
                                    <img src="/images/shipping_company_logos/couriers_please.svg">
                                </div>
                            </td>
                            <td>12345678333</td>
                            <td class="btn-cell">
                                <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                    <span class="btn-text">Download</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo-cell">
                                <div class="logotype-shipping">
                                    <img src="/images/shipping_company_logos/couriers_please.svg">
                                </div>
                            </td>
                            <td>12345678333</td>
                            <td class="btn-cell">
                                <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                    <span class="btn-text">Download</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo-cell">
                                <div class="logotype-shipping">
                                    <img src="/images/shipping_company_logos/couriers_please.svg">
                                </div>
                            </td>
                            <td>12345678333</td>
                            <td class="btn-cell">
                                <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                    <span class="btn-text">Download</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo-cell">
                                <div class="logotype-shipping">
                                    <img src="/images/shipping_company_logos/couriers_please.svg">
                                </div>
                            </td>
                            <td>12345678333</td>
                            <td class="btn-cell min-width">
                                <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                    <span class="btn-text">Download</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1/05/15<br/>
                                2.22pm
                            </td>
                            <td>
                                Warehouse 1, 23 Smith Street, Melbourne, Australia
                            </td>
                            <td class="logo-cell">
                                <div class="logotype-shipping">
                                    <img src="/images/shipping_company_logos/couriers_please.svg">
                                </div>
                            </td>
                            <td>12345678333</td>
                            <td class="btn-cell min-width">
                                <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                    <span class="btn-text">Download</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="no-colorize">
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="bold min-width no-padding-lr center-text">
                            BBA Profile 1
                        </td>
                        <td>12345678223</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td rowspan="3">
                            1/05/15<br/>
                            2.22pm
                        </td>
                        <td>
                            Warehouse 1, 23 Smith Street, Melbourne, Australia
                        </td>
                        <td class="logo-cell">
                            <div class="logotype-shipping">
                                <img src="/images/shipping_company_logos/couriers_please.svg">
                            </div>
                        </td>
                        <td>12345678223</td>
                        <td class="btn-cell min-width">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Melbourne DG - Linehaul
                        </td>
                        <td class="logo-cell">
                            <div class="logotype-shipping">
                                <img src="/images/shipping_company_logos/couriers_please.svg">
                            </div>
                        </td>
                        <td>12345678223</td>
                        <td class="btn-cell min-width">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="logo-cell">
                            <div class="logotype-shipping">
                                <img src="/images/shipping_company_logos/couriers_please.svg">
                            </div>
                        </td>
                        <td>12345678223</td>
                        <td class="btn-cell min-width">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="no-colorize yellow-background">

                    <tr>
                        <td rowspan="2">
                            1/05/15<br/>
                            2.22pm
                        </td>
                        <td rowspan="2">
                            Warehouse 1, 23 Smith Street, Melbourne, Australia
                        </td>
                        <td class="bold min-width no-padding-lr center-text">
                            BBA Profile 1
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="logo-cell">
                            <div class="logotype-shipping">
                                <img src="/images/shipping_company_logos/couriers_please.svg">
                            </div>
                        </td>
                        <td>12345678333</td>
                        <td class="btn-cell">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="no-colorize blue-background">

                    <tr>
                        <td>
                            1/05/15<br/>
                            2.22pm
                        </td>
                        <td>
                            Warehouse 1, 23 Smith Street, Melbourne, Australia
                        </td>
                        <td class="bold min-width no-padding-lr center-text">
                            Custom
                        </td>
                        <td>12345678333</td>
                        <td class="btn-cell">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="no-colorize">

                    <tr>
                        <td>
                            1/05/15<br/>
                            2.22pm
                        </td>
                        <td>
                            Warehouse 1, 23 Smith Street, Melbourne, Australia
                        </td>
                        <td class="bold min-width no-padding-lr center-text">
                            Custom
                        </td>
                        <td>12345678333</td>
                        <td class="btn-cell">
                            <a href="#" class="btn btn-dark-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg">
                                </span>
                                <span class="btn-text">Download</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="paging-of-table">
                    <div class="paging-view-info">View Items | 10/10</div>
                    <span class="paging-element">Page</span>
                    <div class="paging-page-select paging-input paging-element">
                        <input type="text" value="1"/>
                        <button class="paging-btn digit-change-up">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <button class="paging-btn digit-change-down">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </div>
                    <span class="paging-element">of 1 | View</span>
                    <div class="paging-items-count paging-input paging-element">
                        <input type="text" value="20"/>
                        <button class="paging-btn digit-change-up">
                            <i class="fa fa-angle-up"></i>
                        </button>
                        <button class="paging-btn digit-change-down">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <span class="paging-element">Records | Found total 1 records</span>
                </div>
            </div>
        </div>
    </div>
</div>