<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <br/><br/>
            <ng-intellectual-table table-data="ordersTableData"></ng-intellectual-table>
        </div>
    </div>
</div>