<h2>{{titlesPage[routeParams["tab"]]["title"]}}</h2><br/>
<div ng-if='titlesPage[routeParams["tab"]]["afterTitle"]' class="size-1-25 bold">{{titlesPage[routeParams["tab"]]["afterTitle"]}}</div>
<br/><br/>

<div class="bottom-1em">
    <div class="grid-row">
        <nav class="grid-cell grid-1-2">
            <div class="tabs">
                <ul class="tabs-navigation-desktop">
                    <li class="tabs-navigation-button" data-ng-class="{active:routeParams.tab=='process'}"
                        data-ng-click="toTab('process')">Ready to Process
                    </li>
                    <li class="tabs-navigation-button" data-ng-class="{active:routeParams.tab=='split'}"
                        data-ng-click="toTab('split')">Split Shipments
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div data-ng-include="showedTab"></div>
</div>