<div class="to-top">
    <div class="error-holder">
        <!--- AddressForm error --->
        <div ng-errors="errorsAddressesForm" form-error></div>
        <!--- / AddressForm error --->
    </div>
    <div class="wrapper-padding-tb">
        <form class="grid-row  padding-lr-0-5 padding-tb-1-5" name="addressesForm" novalidate>
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <h3>From:</h3>

                        <p class="form-field-description">
                            <span>Where will your delivery be coming from?</span>
                        </p>

                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1">
                                <ng-location
                                        ng-model="sourceAddressLocation.location"
                                        ng-params="locationOptionsFrom"
                                        >
                                </ng-location>
                            </div>
                        </div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                            <span class="field-container">
                                <span class="field-label">&nbsp;</span>
                                <span ng-autocomplete="sourceAddressSelect"></span>
                            </span>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                <div class="grid-cell-content">
                    <div class="form-field-set">
                        <h3>To:</h3>

                        <p class="form-field-description">
                            <span>Where will the delivery be going?</span>
                        </p>
                        <ng-location
                                ng-model="destinationAddressLocation.location"
                                ng-params="locationOptionsTo"
                                >
                        </ng-location>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">&nbsp;</span>

                                    <div ng-autocomplete="destinationAddressSelect"></div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Address Form -->
    </div>
</div>


<!-- Address Form -->

<div class="error-holder clear-fix ng-scope bottom-2em">
    <!--- PackagesForm error --->
    <div ng-errors="errorsPackagesForm" class="clear-both" form-error></div>
    <!--- / PackagesForm error --->
</div>
<!-- Packages Form -->
<form name="packagesForm" novalidate class="bottom-2em clear-fix">
    <div class="grid-row padding-lr-0-5 padding-tb-1-5" ng-if="selectedPackages.length">
        <div ng-repeat="package in selectedPackages" class="grid-cell grid-1">
            <div class="grid-cell-content">
                <div class="form-field-set">
                    <div class="grid-row padding-lr-0-5">

                        <div
                                class="grid-cell grid-1-4 float-right grid-cell-1280-left grid-cell-1280-1-3
                                grid-cell-mxs-1-2  grid-cell-ss-2-3 grid-cell-mbs-1 package-container"
                                >
                            <h3>Select Packaging:</h3>

                            <p class="form-field-description">
                                <span>Please fill in the descriptions below for your goods</span>
                            </p>
                            <label class="field-container">
                                <span class="field-label">Packaging:</span>
                                <select
                                        ng-select
                                        ng-model="package.pack"
                                        ng-model-list="package.list"
                                        ng-options="option.name for option in package.list track by option.id"
                                        >
                                </select>
                            </label><br/><br/>
                        </div>
                        <div class="grid-cell grid-3-4 grid-cell-1280-1">
                            <h3>Enter Dimensions:</h3>

                            <p class="form-field-description">
                                <span>Enter dimensions of your outer packaging.</span>
                            </p>

                            <div class="grid-row padding-lr-0-5">
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container">
                                        <span class="field-label nowrap">Units (Measure/Weight):</span>
                                        <input required
                                               ng-value="selectOptions.UNITS.units[package.pack.measureUnit]['name'] + '/' + selectOptions.UNITS.units[package.pack.weightUnit]['name']"
                                               ng-if="package.pack.id"
                                               readonly="readonly" tabindex="-1">
                                        <span class="block" ng-if="!package.pack.id">
                                            <select
                                                    ng-select
                                                    ng-select-class="select-2"
                                                    ng-model="package.custom.units"
                                                    ng-options="option as option.full for option in selectOptions.UNITS.combined"
                                                    >
                                            </select>
                                        </span>
                                    </label>
                                </div>
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Quantity:</span>
                                        <input placeholder="" required ng-model="package.custom.quantity"
                                               pattern="^[1-9]([\d]+)?$">
                                        <span class="error-field required-error field-label">Correct quantity is required</span>
                                        <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    </label>
                                </div>
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Max Weight:</span>
                                        <input
                                                placeholder="" required ng-model="package.pack.maxWeight"
                                                pattern="^[1-9]([\d]+)?$"
                                                ng-readonly="package.pack.id"
                                                tabindex="{{package.pack.id ? '-1' : ''}}">
                                        <span class="error-field required-error field-label">Correct weight is required</span>
                                        <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    </label>
                                </div>
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Length:</span>
                                        <input placeholder="" required ng-model="package.pack.length"
                                               pattern="^[1-9]([\d]+)?$" ng-readonly="package.pack.id"
                                               tabindex="{{package.pack.id ? '-1' : ''}}">
                                        <span class="error-field required-error field-label">Correct length is required</span>
                                        <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    </label>
                                </div>
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Width:</span>
                                        <input placeholder="" required ng-model="package.pack.width"
                                               pattern="^[1-9]([\d]+)?$" ng-readonly="package.pack.id"
                                               tabindex="{{package.pack.id ? '-1' : ''}}">
                                        <span class="error-field required-error field-label">Correct width is required</span>
                                        <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    </label>
                                </div>
                                <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Height:</span>
                                        <input placeholder="" required ng-model="package.pack.height"
                                               pattern="^[1-9]([\d]+)?$" ng-readonly="package.pack.id"
                                               tabindex="{{package.pack.id ? '-1' : ''}}">
                                        <span class="error-field required-error field-label">Correct height is required</span>
                                        <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-cell grid-1">
            <button type="button" class="btn btn-light-orange" ng-click="addPackage(packagesForm)">
                <span class="btn-icon">
                    <img src="/images/icons/buttons/add_new_icon.svg">
                </span>
                <span class="btn-text">Add package</span>
            </button>
            <button type="button" class="btn btn-red" ng-click="removePackage()"
                    ng-if="selectedPackages.length >= 2">
                <span class="btn-text">Remove last package</span>
            </button>
        </div>
    </div>
</form>

<div class="grid-row  padding-lr-0-5 padding-tb-1-5 bottom-2em">
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Goods Check:</h3>

                <p class="form-field-description">
                    <span>
                        Please select the following relevant good check fields.
                    </span>
                </p>
                <span class="field-container">
                    <span class="field-label">&nbsp;</span>
                    <label class="checkbox-form">
                        <input type="checkbox" ng-model="bookingRequest.poBox">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">PO BOX</span>
                    </label>
                    <label class="checkbox-form">
                        <input type="checkbox" ng-model="bookingRequest.dangerousGoods">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Dangerous Goods</span>
                    </label>
                    <label class="checkbox-form">
                        <input type="checkbox" ng-model="bookingRequest.tailGate">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Tail Gate</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <button role="button" type="submit" class="btn btn-normal-blue"
                ng-click="getQuotes(addressesForm, packagesForm)">
            <span class="button-loader" ng-if="inGetQuote"
                  ng-include="'/templates/elements/button-loader.html'"></span>
            <span class="btn-text">Get Quote</span>
        </button>
    </div>
</div>
<!-- / Packages Form -->

<div class="tab-section tab-section-color-3">
    <div class="tab-section-line wrapper-padding-lr" ng-scroll-to="scrollToQuotes">
        <i class="fa fa-angle-{{!quotesTab ? 'down' : 'up'}} tab-arrow" ng-click="quotesTab = !quotesTab"></i>
        <h2>Display Quotes:</h2>
    </div>
    <div class="wrapper-padding-lr tab-section-content bottom-2em" ng-hide="!quotesTab">
        <div class="grid-row">
            <div class="grid-cell grid-2-3 grid-cell-ms-3-4 grid-cell-mxs-1">
                <div class="grid-cell-content">
                    <div class="colored-title light-blue">
                        <!--- carriersForm error --->
                        <div ng-errors="errorsCarrierForm" form-error></div>
                        <!--- / carriersForm error --->
                        <div class="form-field-set">
                            <div class="form-field-set">
                                <p>Display of quotes from pick-up location.</p>
                            </div>
                        </div>
                    </div>
                    <ng-intellectual-table table-data="quotesTable"></ng-intellectual-table>
                    <form novalidate name="carriersForm" class="absolute">
                        <input ng-model="bookingRequest.carrierId" required class="no-visible">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tab-section clear-fix">
    <div class="tab-section-line wrapper-padding-lr" ng-scroll-to="onSelectCarrier">
        <i class="fa fa-angle-{{!deliveryDetailsTab ? 'down' : 'up'}} tab-arrow"
           ng-click="deliveryDetailsTab = !deliveryDetailsTab"></i>
        <h2>Delivery Details:</h2>
    </div>
    <div class="tab-section-content">
        <!--- deliveryForm error --->
        <div ng-errors="deliveryFormErrors" form-error></div>
        <!--- / deliveryForm error --->

        <div ng-hide="!deliveryDetailsTab" class="form-holder">
            <form class="grid-row padding-lr-0-5 padding-tb-1-5" name="deliveryForm" novalidate>
                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="grid-cell-content">
                        <div class="form-field-set">
                            <h3>Collection Address</h3>
                            <ng-address-form ng-model="bookingRequest.sourceAddress"
                                             ng-readonly="true"></ng-address-form>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="grid-cell-content">
                        <div class="form-field-set">
                            <label class="float-right nowrap checkbox-form in-head">
                                <input type="checkbox" ng-model="bookingRequest.saveToAddressBook" ng-value="true">
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">Add to Address Book</span>
                            </label>

                            <h3>Receiver Address:</h3>
                            <ng-address-form ng-model="bookingRequest.destinationAddress"
                                             ng-readonly="true"></ng-address-form>
                        </div>
                    </div>
                </div>
            </form>
            <div class="grid-row padding-lr-0-5 padding-tb-1-5 bottom-2em">
                <form class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1" name="pickupDateForm" novalidate>
                    <div class="grid-cell-content">
                        <!--- pickupDateForm error --->
                        <div ng-errors="pickupDateFormErrors" form-error></div>
                        <!--- / pickupDateForm error --->
                        <div class="grid-row">
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <div class="form-field-set">
                                    <h3>Collection Date:</h3>

                                    <div class="datepicker-static-container">
                                        <div ng-date-picker ng-params="rangePickerOptions"
                                             ng-model="bookingRequest.pickupDetails.pickupDate"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <div class="form-field-set">
                                    <h3>Time:</h3>

                                    <p class="form-field-description"></p>
                                    <label class="field-holder-form">
                                        <span class="label-name">Earliest Collection Time:</span>
                                        <select
                                                tabindex="-1"
                                                ng-select
                                                ng-model="bookingRequest.pickupDetails.pickupEarliestTime"
                                                ng-options="time for time in times track by time"
                                                >
                                        </select>
                                    </label>

                                    <label class="field-container">
                                        <span class="field-label">Latest Collection Time:</span>

                                        <select
                                                tabindex="-1"
                                                ng-select ng-parent="field-container" ng-size="5"
                                                ng-model="bookingRequest.pickupDetails.pickupLatestTime"
                                                ng-options="time for time in times track by time"
                                                >
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1" name="packageDescriptionForm">
                    <div class="grid-cell-content">
                        <!--- packageDescriptionForm error --->
                        <div ng-errors="packageDescriptionFormErrors" form-error></div>
                        <!--- / packageDescriptionForm error --->
                        <div class="form-field-set">
                            <h3>Package Description:</h3>

                            <p class="form-field-description">
                                <span>Please enter a brief description of the goods you're sending. e.g. "computer equipment" or "clothing"</span>
                            </p>

                            <div class="grid-row padding-lr-0-5">
                                <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container required">
                                        <span class="field-label">Description:</span>
                                        <input ng-model="bookingRequest.description" required/>
                                    </label>
                                </div>

                                <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container">
                                        <span class="field-label">Reasons for Shipping:</span>
                                        <select
                                                ng-select
                                                ng-model="bookingRequest.reasonForShipping"
                                                ng-options="item.value as item.text for item in selectOptions.ReasonForExport"
                                                >
                                        </select>
                                    </label>
                                </div>

                                <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                    <label class="field-container">
                                        <span class="field-label">Tax Status:</span>
                                        <select
                                                ng-select
                                                ng-model="bookingRequest.taxStatus"
                                                ng-options="item for item in selectOptions.TaxStatus"
                                                >
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--- productsForm error --->
            <div class="error-holder bottom-2em">
                <div ng-errors="productsFormErrors" form-error></div>
            </div>
            <!--- / productsForm error --->
            <form name="productsForm" class=" bottom-5em" novalidate>

                <div class="grid-row padding-tb-1-5 padding-lr-0-5">
                    <div class="grid-cell grid-1" ng-if="itemsArray.length">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Content Items:</h3>
                            </div>


                            <div class="table-container">
                                <!-- div class="wrapper-padding-lr float-right nowrap">
                                    <a href="#" class="btn btn-light-blue">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/label_icon.svg">
                                        </span>
                                        <span class="btn-text">Label</span>
                                    </a>
                                    <a href="#" class="btn btn-dark">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/label_icon_light.svg">
                                        </span>
                                    </a>
                                </div -->
                                <div class="table-holder">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                           class="sortable-table">
                                        <thead>
                                        <tr class="titles-row">
                                            <th class="checkbox-cell min-width">#</th>
                                            <th class="normal-cell">Description</th>
                                            <th class="normal-cell">Quantity</th>
                                            <th class="normal-cell">Value</th>
                                            <th class="normal-cell">Total Value</th>
                                            <th class="normal-cell">Country of Manufacturer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(index, item) in itemsArray">
                                            <td class="checkbox-cell min-width">
                                                <b>{{ index + 1 }}</b>
                                            </td>
                                            <td class="normal-cell input-field">
                                                <div class="field-container">
                                                    <input ng-model="item.description" required
                                                           placeholder="Description">
                                                </div>
                                            </td>
                                            <td class="normal-cell input-field">
                                                <div class="field-container">
                                                    <input ng-model="item.quantity" required placeholder="Quantity"
                                                           pattern="^[1-9]([\d]+)?$">
                                                </div>
                                            </td>
                                            <td class="normal-cell input-field">
                                                <div class="field-container">
                                                    <input ng-model="item.value" required placeholder="Value"
                                                           pattern="^([0-9]*\.)?[0-9]([\d]+)?$">
                                                </div>
                                            </td>
                                            <td class="normal-cell">
                                                {{ correctPrice([item.value, item.quantity]) }}
                                            </td>
                                            <td class="normal-cell input-field">
                                            <span
                                                    class="field-container"
                                                    ng-autocomplete="{
                                                        selectClass: 'select-in-table select-2',
                                                        placeholder: 'Enter the country location',
                                                        textField: 'name',
                                                        searchField: 'name',
                                                        service: 'Country'
                                                    }"
                                                    ng-model="item.country"
                                                    >
                                            </span>
                                            </td>
                                        </tr>
                                        <tr class="description-row">
                                            <!-- td colspan="7" class="description-cell">
                                                <h3><sup>*</sup>Display Duties, Tax’s VAT= <span>$187.22</span></h3>
                                                <p class="size-0-75"><sup>*</sup>Please note - Indicative charge only.</p>
                                            </td -->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="right-text form-field-set">
                                <button type="submit" class="btn btn-normal-blue" ng-click="addProduct(productsForm)">
                                    <span class="btn-text">Add Item</span>
                                </button>
                                <button class="btn btn-red" ng-click="removeLastProduct()"
                                        ng-class="{'no-active': itemsArray.length < 2}">
                                    <span class="btn-text">Remove Last</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1 clear-both">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Customer Reference Number:</h3>

                                <p class="form-field-description">
                                <span>
                                    Please enter a relevant customer reference number.
                                </span>
                                </p>

                                <div class="grid-row  padding-lr-0-5">
                                    <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                        <label class="field-container">
                                            <span class="field-label">Ref. Number:</span>
                                            <input placeholder="" ng-model="bookingRequest.customerReferences[0]">
                                        </label>
                                    </div>
                                    <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                        <label class="field-container">
                                            <span class="field-label">Ref. Number:</span>
                                            <input placeholder="" ng-model="bookingRequest.customerReferences[1]">
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Special Instructions:</h3>

                                <p class="form-field-description">&nbsp;</p>

                                <div class="field-container">
                                    <textarea class="textarea" rows="3"
                                              ng-model="bookingRequest.specialInstructions"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-field-set clear-fix">
                            <label class="checkbox-form float-right">
                                <input type="checkbox" name="locale" checked="checked"
                                       mg-model="bookingRequest.notifyReceiver">
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">Provide Shipping Details to receiver</span>
                            </label>
                        </div>
                        <button type="button" class="btn btn-orange-block float-right"
                                ng-click="sentShipment(addressesForm, packagesForm, deliveryForm, productsForm, carriersForm, packageDescriptionForm)">
                        <span class="button-loader" ng-if="sentShipmentsInProgress"
                              ng-include="'/templates/elements/button-loader.html'"></span>
                            <span class="btn-text">SUBMIT BOOKING</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

