<div class="grid-row">
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <span role="button" class="btn btn-dark-yellow float-right">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/download_icon.svg"/>
                    </span>
                    <span class="btn-text">RECONCILIATION TEMPLATE</span>
                </span>
                <h3>Reconcile Carrier invoice:</h3>
            </div>
            <div class="form-field-set">
                <div class="grid-row padding-lr-0-5 padding-tb">
                    <div class="grid-cell grid-1-2">
                        <div class="field-container">
                            <span class="field-label">Carrier:</span>
                            <select ng-select="" ng-parent="grid-cell">
                                <option>Carrier</option>
                                <option>Carrier</option>
                                <option>Carrier</option>
                                <option>Carrier</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid-cell grid-4-5 clear-both">
                        <div class="field-container">
                            <span class="field-label">Invoice No:</span>
                            <input placeholder="Please enter a valid invoice number."/>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-5 center-text">
                        <div class="field-container">
                            <span class="field-label">&nbsp;</span>
                            <span role="button" class="btn btn-normal-blue">
                                <span class="btn-text">Save</span>
                            </span>
                        </div>
                    </div>
                    <div class="grid-cell grid-4-5 clear-both">
                        <div class="field-container">
                            <span class="field-label float-right">
                                Note:
                                <span class="normal-weight-text">Add ; to add multiple email receipients</span>
                            </span>
                            <span class="field-label">Email Reconciled Report:</span>
                            <input placeholder="Eg. sales@yourcompany.com ; finance@yourcomp..."/>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-5 center-text">
                        <div class="field-container">
                            <span class="field-label">&nbsp;</span>
                            <span role="button" class="btn btn-normal-blue">
                                <span class="btn-text">Save</span>
                            </span>
                        </div>
                    </div>
                    <div class="grid-cell grid-1">
                        <div class="grid-row">
                            <div class="grid-cell grid-1">
                                <div class="field-container clear-both">
                                    <span class="field-label">Display Shipments with Varience %:</span>
                                </div>
                            </div>
                            <div class="grid-cell grid-1-4 clear-both">
                            <span class="display-row">
                                <span class="display-cell icon-field percents-field"></span>
                                <input value="100" class="display-cell"/>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1 clear-both">
                        <div class="field-container">
                            <span class="field-label">Import Carrier invoice:</span>
                            <span class="display-row">
                                <span class="display-cell">
                                    <span role="button" class="btn btn-grey">
                                        <span class="btn-icon">
                                            <img src="/images/icons/buttons/upload_icon.svg">
                                        </span>
                                        <span class="btn-text">UPLOAD CSV</span>
                                    </span>
                                </span>
                                <span class="display-cell field-label">
                                    File:
                                    <span class="normal-weight-text">thefilenameofdocument.csv</span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="grid-cell grid-1">&nbsp;</div>
                </div>
                <span role="button" class="btn btn-normal-blue">
                    <span class="btn-text">COMMENCE RECONCILING</span>
                </span>
            </div>
        </div>
    </div>
</div>