<div class="grid-row padding-lr-0-5 padding-tb-1-5 bottom-5em">
    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">
            <div class="clear-fix">
                <div class="float-left article-content-wrapper title-of-article">
                    <h3>Shipments Per Month</h3>
                </div>
            </div>
            <div class="form-field-set">
                <div class=""
                     ng-chart="monthlyChart"
                     ng-chart-data="monthlyChartData"
                     ng-chart-type="line">
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">

            <div class="clear-fix">
                <div class="float-left article-content-wrapper title-of-article">
                    <h3>Shipments Per Day</h3>
                </div>
            </div>
            <div class="form-field-set">
                <div class=""
                     ng-chart="daysChart"
                     ng-chart-data="daysChartData"
                     ng-chart-type="bar">
                </div>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">
            <div class="clear-fix">
                <div class="float-left article-content-wrapper title-of-article">
                    <h3>Spend by Carrier</h3>
                </div>
                <label class="in-title-content field-container per-month-input">
                    <select ng-select>
                        <option value="undefined">Pick Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </label>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-2-3">
                    <div class="form-field-set">
                        <div class=" square-block"
                             ng-chart
                             ng-chart-data="carriersChartData"
                             ng-chart-type="pie">
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-1">
        <div class="grid-cell-content">
            <div class="grid-row">
                <div class="clear-fix">
                    <div class="float-left article-content-wrapper title-of-article">
                        <h3>DIFOT</h3>
                    </div>
                    <span class="in-title-content field-container ">
                        <a href="/reporting/difot" class="btn btn-blue">
                            <span class="btn-icon">
                                <img src="/images/icons/buttons/view_icon.svg">
                            </span>
                            <span class="btn-text">View summary</span>
                        </a>
                    </span>
                </div>
                <div class="grid-cell grid-2-3">
                    <div class="form-field-set">
                        <div class=""
                             ng-chart
                             ng-chart-data="difotChartData"
                             ng-chart-type="pie">
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="grid-cell grid-1-3 chart-info text-center">
                    <div class="chart-point-info">
                        <div class="month-name">Total</div>
                        <div class="amount-info">75</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="grid-row">
                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="clear-fix">
                        <div class="float-left article-content-wrapper title-of-article">
                            <h3>Run Reports Search:</h3>
                        </div>
                        <label class="in-title-content field-container">
                            <select ng-select="">
                                <option value="1">Awaiting Booking</option>
                                <option value="2">Processing</option>
                                <option value="3">Completed</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-field-set">
                        <div class="field-container">
                            <span class="field-label">Search:</span>
                            <input placeholder="Search via relevant sales channels. Eg. Ebay, Shopify..">
                        </div>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-3 grid-cell-ms-1">
                                <div class="grid-row padding-lr-0-5">
                                    <div class="grid-cell grid-1 grid-cell-ms-1-2 grid-cell-mbs-1">
                                        <div class="field-container">
                                            <span class="field-label">Created Before:</span>
                                            <div class="field-input">
                                                <span class="field-measure">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" placeholder="dd/mm/yyyy" ng-date-picker="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-1 grid-cell-ms-1-2 grid-cell-mbs-1">
                                        <div class="field-container">
                                            <span class="field-label">Created After:</span>

                                            <div class="field-input">
                                                <span class="field-measure">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" placeholder="dd/mm/yyyy" ng-date-picker="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-1">
                                <div class="field-container">
                                    <span class="field-label">Generate:</span>
                                    <label class="trigger-field">
                                        <input type="checkbox">
                                        <span class="trigger-text trigger-on">PDF</span>
                                        <span class="trigger-text trigger-off">CSV</span>
                                        <span class="trigger-changer"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="grid-cell grid-1">&nbsp;</div>
                        </div>
                        <span role="button" class="btn btn-normal-blue">
                            <span class="btn-text">Submit</span>
                        </span>
                    </div>
                </div>

                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="clear-fix">
                        <div class="float-left article-content-wrapper title-of-article">
                            <h3>Reference:</h3>
                        </div>
                        <label class="in-title-content field-container">
                            <span role="button" class="btn btn-dark-yellow float-right">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/archive_icon.svg">
                                </span>
                                <span class="btn-text">Archive order for location change</span>
                            </span>
                        </label>
                    </div>
                    <div class="form-field-set">
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">R.A Number:</span>
                                    <input value="1">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">BBA Ref. No.:</span>
                                    <input value="1">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">Consignment No:</span>
                                    <input value="1">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">Customer Ref No.:</span>
                                    <input value="1">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">Tracking No.:</span>
                                    <input value="">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label"># SKU / EPC:</span>
                                    <input value="">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">SSCC No.:</span>
                                    <input value="">
                                </div>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-mbs-1">
                                <div class="field-container">
                                    <span class="field-label">GRAI No.:</span>
                                    <input value="">
                                </div>
                            </div>
                            <div class="grid-cell grid-1">&nbsp;</div>
                            <div class="grid-cell grid-1 right-text">
                                <span role="button" class="btn btn-orange">
                                    <span class="btn-icon">
                                        <img src="/images/icons/buttons/add_new_icon.svg"/>
                                    </span>
                                    <span class="btn-text">ADD REFERENCE NO.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <ng-intellectual-table table-data="tableData"></ng-intellectual-table>
        </div>
    </div>
</div>


