<!--- Returns error --->
<div ng-errors="returnsListError" form-error></div>
<!--- / Returns error --->

<div class="tab-section minus-top">
    <div class="form-holder">
        <div class="grid-row">
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <h3 class="article-content-wrapper title-of-article">
                        Previous Returns
                        <span class="size-0-6 normal-weight-text">
                            &nbsp;Display of all previous returns.
                        </span>
                    </h3>
                    <ng-intellectual-table table-data="returnsTable"></ng-intellectual-table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i
                class="fa fa-angle-{{!showShipmentsTab ? 'down' : 'up'}}  tab-arrow"
                ng-click="openTableForReturns()"></i>
        <h2>Create new return:
            <span class="size-0-6 normal-weight-text tab-line-span-text">&nbsp;&nbsp;Please enter your new return details.</span>
        </h2>
    </div>
    <div class="form-holder tab-section-content bottom-5em" ng-hide="!showShipmentsTab">
        <div class="grid-row">
            <div class="grid-cell grid-1">
                <!--- Shipments error --->
                <div ng-errors="shipmentsListError" form-error></div>
                <!--- / Shipments error --->
                <div class="grid-cell-content">
                    <h3 class="article-content-wrapper title-of-article">Search for original shipment</h3>
                    <ng-intellectual-table table-data="shipmentsTable"></ng-intellectual-table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i
                class="fa fa-angle-{{!showAddressTab ? 'down' : 'up'}}  tab-arrow"
                ng-click="showAddressTab = !showAddressTab"
                ></i>
        <h2>Create Booking:</h2>
    </div>
    <div class="tab-section-content" ng-hide="!showAddressTab">
        <!--- Address error --->
        <div ng-errors="errorsAddressesForm" form-error class="no-margin-error"></div>
        <!--- / Address error --->
        <div class="form-holder">
            <form class="grid-row bottom-1em padding-tb padding-lr-0-5" name="addressesForm" novalidate>
                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="grid-cell-content">
                        <div class="form-field-set">
                            <h3>Delivery Address <span>(Pick up Location)</span>:</h3>
                            <label class="checkbox-form head-checkbox size-0-75 no-visibility">
                                <input type="checkbox" disabled>
                                <span class="checkbox-decoration"></span>
                            </label>
                            <ng-address-form ng-params="{noCompanyRequired: true}"
                                             ng-model="returnObjectRequest.sourceAddress"></ng-address-form>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                    <div class="grid-cell-content">
                        <div class="form-field-set">
                            <div class="grid-row">
                                <div class="grid-cell grid-1-2">
                                    <h3>Collection Address:</h3>
                                </div>
                                <div class="grid-cell grid-1-2">

                                    <div ng-autocomplete="warehouseAutoSelect"></div>
                                    <label class="checkbox-form right-text head-checkbox size-0-75 float-right">
                                        <input type="checkbox"> <!-- ng-model="returnObjectRequest.asDefault -->
                                        <span class="checkbox-decoration"></span>
                                        <span class="label-text">Use location as default warehouse</span>
                                    </label>
                                </div>
                            </div>
                            <ng-address-form ng-params="{noCompanyRequired: true}"
                                             ng-model="returnObjectRequest.destinationAddress"></ng-address-form>
                        </div>
                    </div>
                </div>
            </form>
            <form class="grid-row padding-lr-0-5 padding-tb" name="packagesForm" novalidate ng-init="onInitPackages()">
                <div class="grid-cell grid-3-4 grid-cell-ms-1">
                    <div class="grid-cell-content">
                        <!--- PackagesForm error --->
                        <div ng-errors="errorsPackagesForm" class="clear-both no-margin-error bottom-margin-error" form-error></div>
                        <!--- / PackagesForm error --->
                        <div class="form-field-set">


                            <div class="grid-row padding-tb-1-5">
                                <div ng-repeat="package in returnObjectRequest.packages" class="grid-cell">
                                    <h3>Cartonisation Packaging:  <span>Package 1  10x30x50</span></h3>
                                    <div class="grid-row padding-lr-0-5">
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container">
                                                <span class="field-label">Measure:</span>
                                                <input ng-model="package.measure">
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Length:</span>
                                                <input placeholder="" ng-model="package.length" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct quantity is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Width:</span>
                                                <input placeholder="" ng-model="package.width" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct weight is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Height:</span>
                                                <input placeholder="" ng-model="package.height" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct length is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Quantity:</span>
                                                <input placeholder="" ng-model="package.quantity" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct width is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-4 grid-cell-mxs-1-3 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Weight:</span>
                                                <input placeholder="" ng-model="package.weight" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct height is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>

                                        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <div class="field-container">
                                                <span class="field-label">&nbsp;</span>
                                                <span role="button" class="btn btn-red">
                                                    <span class="btn-text">Change Package</span>
                                                </span>
                                                <span role="button" class="btn btn-normal-blue">
                                                    <span class="btn-text">Edit</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <br/>
                            <span role="button" class="btn btn-violette" ng-click="addPackage(packagesForm)" type="submit">
                                <span class="btn-text">Add</span>
                            </span>
                            <span role="button" class="btn btn-red" ng-click="removePackage()" ng-class="{'no-active': packages.length < 2}">
                                <span class="btn-text">Remove</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="grid-cell grid-1-4  grid-cell-ms-1-2 grid-cell-mxs-1">
                    <div class="grid-cell-content">
                        <div class="form-field-set">
                            <h3>Original Consignment No.</h3>
                            <div class="grid-row padding-lr-0-5">
                                <div class="grid-cell grid-1">
                                    <label class="field-container">
                                        <span class="field-label normal-weight-text">* Appear on invoice.</span>
                                        <input readonly placeholder="00254">
                                    </label>
                                </div>
                                <div class="grid-cell grid-1">
                                    <label class="field-container">
                                        <span class="field-label">Return Authority No*:</span>
                                        <input readonly placeholder="00254">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <span role="button" class="btn btn-normal-blue float-right" type="submit" ng-click="getQuotes(packagesForm, addressesForm)">
                        <span class="btn-text">Get Quote</span>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i
                class="fa fa-angle-{{!showQuoteTab ? 'down' : 'up'}}  tab-arrow"
                ng-click="showQuoteTab = !showQuoteTab"></i>
        <h2>Quote and Packages:</h2>
    </div>

    <div class="tab-section-content" ng-hide="!showQuoteTab">
        <div class="wrapper-padding-lr">
            <form class="grid-row" novalidate name="carriersForm">
                <div class="grid-cell grid-2-3 grid-cell-ms-3-4 grid-cell-mxs-1">

                    <!--- carriersForm error --->
                    <div ng-errors="errorsCarrierForm" form-error class="no-margin-error"></div>
                    <!--- / carriersForm error --->

                    <div class="grid-cell-content">
                        <div class="colored-title light-blue form-field-set">
                            <p>Display of quotes from pick-up location.</p>
                        </div>
                        <input ng-model="returnObjectRequest.carrierId" required class="no-visible">
                        <ng-intellectual-table table-data="quotesTable"></ng-intellectual-table>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-holder">
            <div class="grid-row padding-tb-1-5">
                <div class="grid-cell grid-1">
                    <div class="grid-cell-content">
                        <div class="tabbed-table">
                            <div class="tabbed-table-title yellow-color">
                                <div class="tabbed-table-arrow"></div>
                                <h4>Items</h4>
                            </div>
                            <div class="tabbed-table-content">
                                <ng-intellectual-table table-data="itemsTable"></ng-intellectual-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-cell grid-1">
                    <div class="float-right nowrap">
                        <span role="button" class="btn btn-normal-blue">
                            <span class="btn-text">SAVE</span>
                        </span>
                        <span role="button" class="btn btn-red">
                            <span class="btn-text">GENERATE LABEL</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i
                class="fa fa-angle-{{!showDetailsTab ? 'down' : 'up'}}  tab-arrow"
                ng-click="showDetailsTab = !showDetailsTab"></i>
        <h2>Delivery Details:</h2>
    </div>
    <div class="tab-section-content" ng-hide="!showDetailsTab">
        <div class="form-holder">
        <div class="grid-row padding-tb-1-5 padding-lr">
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                <div class="grid-cell-content">
                    <div class="grid-row">
                        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                            <div class="form-field-set">
                                <h3>Collection Date:</h3>
                                <div class="datepicker-static-container">
                                    <div ng-date-picker ng-params="rangePickerOptions"
                                         ng-model="bookingRequest.pickupDetails.pickupDate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                            <div class="form-field-set">
                                <h3>Time:</h3>
                                <p class="form-field-description"></p>
                                <label class="field-holder-form">
                                    <span class="label-name size-1">Earliest Collection Time:</span>
                                    <select
                                            tabindex="-1"
                                            ng-select ng-size="5"
                                            ng-model="returnObjectRequest.pickupDetails.pickupEarliestTime"
                                            ng-options="time for time in times track by time"
                                            >
                                    </select>
                                </label>
                                <label class="field-container">
                                    <span class="field-label size-1">Latest Collection Time:</span>
                                    <select
                                            tabindex="-1"
                                            ng-select ng-size="5"
                                            ng-model="returnObjectRequest.pickupDetails.pickupLatestTime"
                                            ng-options="time for time in times track by time"
                                            >
                                    </select>
                                </label>
                                <label class="checkbox-form-2">
                                    <input type="checkbox">
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">
                                        Provide Shipping documents and tracking number to pick-up location
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid-cell grid-1">
                <span role="button" class="btn btn-normal-blue" ng-click="sentReturnForm(addressesForm, packagesForm, carriersForm);">
                    <span class="btn-text">SAVE & CONTINUE</span>
                </span>
            </div>
        </div>
    </div>
    </div>
</div>