<div class="grid-row padding-tb padding-lr-0-5 bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content form-field-set">
            <h3>Search:</h3>
            <form class="field-holder-form" ng-class="{'update-data': inSearch}">
                <div class="track-search-field field-container">
                    <span class="label-name">&nbsp;</span>
                    <input ng-model="search" placeholder="Consignment No. Cust. Ref. No. SSCC, GRAI or Tracking No">
                </div>
                <div class="center-text">
                    <span class="size-0-75 bold"><br/>
                        Please enter, carrier Consignment No. Cust. Ref. No. SSCC, GRAI or Tracking No.
                    </span><br/><br/>
                    <span role="button" class="btn btn-normal-blue" ng-class="{'no-active': !(search && search.length)}" type="submit" role="button" ng-click="sentSearchTracking()">
                        <span class="btn-text">TRACK SHIPMENT</span>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-1 grid-cell" ng-if="trackingTableData.info.content.length">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Search for original shipment</h3>
            <div ng-class="{'update-data': inLoadShipment}">
                <ng-intellectual-table table-data="trackingTableData"></ng-intellectual-table>
            </div>
        </div>
    </div>
</div>
<div class="grid-row padding-tb padding-lr-0-5 bottom-5em" ng-if="selectedShipment.tracking">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content form-field-set" ng-class="{'update-data': inLoadShipment}" ng-scroll-to="toTracking">
            <h3>Status Bar:</h3>
            <ul class="tracking-list">
                <li class="active">
                    Documentation Prepared
                </li>
                <li class="active">
                    Booking Aranged
                </li>
                <li class="active">
                    Collected
                </li>
                <li class="active track-3-line track-br-3-line">
                    In Transit
                </li>
                <li class="track-2-line track-3-line track-br-line">
                    Arrived at Destination
                </li>
                <li class="track-3-line track-2-line">
                    Out for Delivery
                </li>
                <li class="track-3-line track-2-line track-br-3-line">
                    Delivered
                </li>
                <li class="track-3-line track-2-line">
                    In Store
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content form-field-set" ng-class="{'update-data': inLoadShipment}">
            <h3>Display Maps:</h3>
            <div class="map-container" id="map-container" ng-init="initMap()"></div><br/>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content form-field-set" ng-class="{'update-data': inLoadShipment}">
            <h3>Order Details:</h3>
            <div class="map-container">
                <ul>
                    <li>
                        <b>From:</b>
                        {{selectedShipment.sourceAddress.addressLine1}}
                        {{selectedShipment.sourceAddress.addressLine2 ? ', ' + selectedShipment.sourceAddress.addressLine2 : ''}},
                        {{selectedShipment.sourceAddress.location.code || selectedShipment.sourceAddress.location.name}},
                        {{selectedShipment.sourceAddress.location.country.name}}
                        <br><br><br>
                    </li>
                    <li>
                        <b>To:</b>
                        {{selectedShipment.destinationAddress.addressLine1}}
                        {{selectedShipment.destinationAddress.addressLine2 ? ', ' + selectedShipment.destinationAddress.addressLine2 : ''}},
                        {{selectedShipment.destinationAddress.location.code || selectedShipment.destinationAddress.location.name}},
                        {{selectedShipment.destinationAddress.location.country.name}}
                        <br><br><br>
                    </li>
                    <li>
                        <b>Status:</b><b> {{ selectedShipment.tracking.bookingStatus }}</b><br><br><br>
                    </li>
                    <li>
                        <b>BBA Profile:</b><b> FIX ME</b><br><br><br>
                    </li>
                    <li>
                        <b>Carrier: </b> {{selectedShipment.serviceDetails.carrierName}} - {{selectedShipment.serviceDetails.serviceName}}
                    </li>
                </ul><br/>
                <a ng-href="{{selectedShipment.tracking.trackingUrl}}" target="_blank" class="bold track-link">{{selectedShipment.tracking.trackingUrl}}</a><br/>
                <sup>*</sup>Click for carrier website tracking for a more detailed view.
            </div><br/>
        </div>
    </div>
</div>