<h3>Shipment Summary:</h3>
<div class="size-1-25 bold">BBA0832341567</div><br/><br/>
<div class="grid-row padding-lr padding-tb-1-5 bottom-5em">
    <div class="grid-cell grid-1-3 grid-cell-bs-1-2 grid-cell-mxs-1 grid-cell-900-2-3">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Summary</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br><br>
                    <ul>
                        <li>
                            <b>BBA Reference Number:</b> BBA083232087083<br><br><br>
                        </li>
                        <li>
                            <b>Booking Status:</b> Processed<br><br><br>
                        </li>
                        <li>
                            <b>Customer Name:</b> Lemot<br><br><br>
                        </li>
                        <li>
                            <b>Email:</b> help@helping.com.au<br><br><br>
                        </li>
                        <li>
                            <b>Phone: </b>07 3737 9392
                        </li>
                    </ul><br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Processed Orders</h3>
            <ng-sortable-table table-data="ordersTable"></ng-sortable-table>
        </div>
    </div>
</div>