<h3>DIFOT Summary:</h3>
<div class="grid-row padding-tb">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
</div>