<h3>Shipment Details:</h3>
<div class="size-1-25 bold">BBA Reference No: BBA 1234567</div><br/><br/>
<div class="grid-row padding-lr-0-5 padding-tb-1-5 bottom-5em">
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Summary</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br/><br/>
                    <ul>
                        <li>
                            <b>BBA Profile 1:</b> BBA 12348<br/><br/><br/>
                        </li>
                        <li>
                            <b>First Mile:</b> Toll Road - Road Service<br/><br/><br/>
                        </li>
                        <li>
                            <b>Status:</b> Completed<br/><br/><br/>
                        </li>
                        <li>
                            <b>Linehaul:</b> ABC Air Cargo - Air Services<br/><br/><br/>
                        </li>
                        <li>
                            <b>Consignment No: <a href="#">12345678910</a></b><br/><br/><br/>
                        </li>
                        <li>
                            <b>Status:</b> Completed<br/><br/><br/>
                        </li>
                        <li>
                            <b>GRAI No.: <a href="#">12345678910</a></b><br/><br/><br/>
                        </li>
                        <li class="grid-row">
                            <span class="grid-cell grid-1-4">
                                <b>Linked GRAI No.:</b>
                            </span>
                            <span class="grid-cell grid-3-4">
                                <a class="bold" href="#">22222224 - BBA122456</a><br/><br/>
                                <a class="bold" href="#">22222224 - BBA122456</a><br/>
                            </span>
                        </li>
                    </ul><br/><br/>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Reciever Details</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br/><br/>
                    <ul>
                        <li>
                            <b>Company:</b> ABC Toys Pty Ltd<br/><br/><br/>
                        </li>
                        <li>
                            <b>Contact:</b> Trudy Bell<br/><br/><br/>
                        </li>
                        <li>
                            <b>Email:</b> Trudy@abctoys.com.au<br/><br/><br/>
                        </li>
                        <li>
                            <b>Phone:</b> 0414692140<br/><br/><br/>
                        </li>
                        <li>
                            <b>Address:</b> 23 Smith Street, Fortitude Valley, QLD, 4001<br/><br/><br/>
                        </li>
                        <li>
                            <b>&nbsp;</b>
                        </li>
                    </ul><br/><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1-2 clear-both">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-grey-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Last Mile</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br/><br/>
                    <ul>
                        <li>
                            <b>Carrier:</b> Couriers Please - Road Service<br/><br/><br/>
                        </li>
                        <li>
                            <b>Consignment No:</b> 43210BAB<br/><br/><br/>
                        </li>
                        <li>
                            <b>Manifest No:</b> <a href="#">1222112254</a><br/><br/><br/>
                        </li>
                        <li>
                            <b>Status:</b> In Transit
                        </li>
                    </ul><br/><br/>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-grey-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Payment Information</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br/><br/>
                    <ul>
                        <li>
                            <b>Shipping Cost:</b> $81.22 AUD<br/><br/><br/>
                        </li>
                        <li>
                            <b>Tax:</b> $8.02 AUD<br/><br/><br/>
                        </li>
                        <li>
                            <b>Amount Paid:</b>$89.60 AUD<br/><br/><br/>
                        </li>
                        <li>
                            <b>Duties, Taxes VAT:</b> $44.50 AUD
                        </li>
                    </ul><br/><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title grey-color size-1-5">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Track</h4>
                </div>
                <div class="tabbed-table-content form-field-set"><br/><br/>
                    <div class="grid-row">
                        <div class="grid-cell grid-1-2">
                            <ul>
                                <li>
                                    <b>Date and Time Booked:</b> 1/11/11 2:52pm<br/><br/><br/>
                                </li>
                                <li>
                                    <b>Date and Time Manifested:</b> 1/11/11 2:59pm<br/><br/><br/>
                                </li>
                                <li>
                                    <b>Optional Extras Selected:</b>Unattended Delivery, PO Box, Dangerous Goods<br/><br/><br/>
                                </li>
                                <li>
                                    <b>Shipping Rule Selected:</b> xxxx
                                </li>
                            </ul><br/><br/>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <ul>
                                <li class="grid-row">
                                    <span class="grid-cell grid-1-4">
                                        <b>SSCC No.:</b>
                                    </span>
                                    <span class="grid-cell grid-3-4">
                                        112233445 - Package 1<br/><br/>
                                        112233445 - Package 2<br/><br/>
                                        112233445 - Package 3<br/><br/><br/>
                                    </span>
                                </li>
                                <li class="grid-row">
                                    <span class="grid-cell grid-1-4">
                                        <b>Linked SSCC No.:</b>
                                    </span>
                                    <span class="grid-cell grid-3-4">
                                        22223333A - <a href="#" class="bold">BBA 1234567</a><br/><br/>
                                        11223344A - <a href="#" class="bold">BBA 1234566</a>
                                    </span><br/><br/><br/>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-cell grid-1 right-text">
                            <span role="button" class="btn btn-tracking">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/tracking_icon.svg"/>
                                </span>
                                <span class="btn-text">tracking manager</span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title blue-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Packages / Cartomisation</h4>
                </div>
                <div class="tabbed-table-content">
                    <table class="sortable-table" width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Name:</span>
                                    <div class="value-block bold">Package 1</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Measure:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Length:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Width:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Height:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Weight (kg):</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Name:</span>
                                    <div class="value-block bold">Package 2</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Measure:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Length:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Width:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Height:</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                            <td>
                                <div class="field-holder-form">
                                    <span class="label-name">Weight (kg):</span>
                                    <div class="value-block">10</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title yellow-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Items</h4>
                </div>
                <ng-sortable-table table-data="itemsTable"></ng-sortable-table>
            </div>
        </div>
    </div>

</div>