

<form class="grid-row padding-lr-0-5 bottom-5em padding-tb" name="inventoryForm" novalidate ng-init="getInventory()">
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-row">
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <!--- InventoryForm error --->
                    <div ng-errors="errorsForm" form-error class="no-margin-error"></div>
                    <!--- / InventoryForm error --->
                    <div class="form-field-set">
                        <h3>Inventory {{inventorySKU ? 'Edit' : 'Add New'}}:</h3>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">

                                <label class="field-container required">
                                    <span class="field-label">SKU / Part # (GTIN):</span>
                                    <input placeholder="1243452123" type="text" required="" ng-model="inventory.sku" ng-class="{'response-error': errorsForm.fieldErrors.sku }">
                                    <span class="error-field required-error field-label">Correct field is required</span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.sku}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container required">
                                    <span class="field-label">Description:</span>
                                    <input placeholder="Red Dress Small" required="" ng-model="inventory.description" type="text" ng-class="{'response-error': errorsForm.fieldErrors.description }">
                                    <span class="error-field required-error field-label">Correct "Description" is required</span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.description}}</span>

                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container">
                                    <span class="field-label">Length:</span>
                                    <span class="field-input">
                                        <span class="field-measure">{{GlobalProfile.measureUnit}}</span>
                                        <input placeholder="Eg. 10" pattern="^([0-9]*\.)?[0-9]([\d]+)?$"
                                               ng-model="inventory.length" type="text"
                                               ng-class="{'response-error': errorsForm.fieldErrors.length }">
                                    </span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.length}}</span>
                                </label>
                            </div>

                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container">
                                    <span class="field-label">Width:</span>
                                    <span class="field-input">
                                        <span class="field-measure">{{GlobalProfile.measureUnit}}</span>
                                        <input placeholder="Eg. 10" pattern="^([0-9]*\.)?[0-9]([\d]+)?$"
                                               ng-model="inventory.width" type="text"
                                               ng-class="{'response-error': errorsForm.fieldErrors.width }">
                                    </span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.width}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container">
                                    <span class="field-label">Height:</span>
                                    <span class="field-input">
                                        <span class="field-measure">{{GlobalProfile.measureUnit}}</span>
                                        <input placeholder="Eg. 10" pattern="^([0-9]*\.)?[0-9]([\d]+)?$"
                                               ng-model="inventory.height" type="text"
                                               ng-class="{'response-error': errorsForm.fieldErrors.height }">
                                    </span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.height}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">

                                <label class="field-container">
                                    <span class="field-label">Weight:</span>
                                    <span class="field-input">
                                        <span class="field-measure">{{GlobalProfile.weightUnit}}</span>
                                        <input placeholder="Eg. 2" pattern="^([0-9]*\.)?[0-9]([\d]+)?$"
                                               ng-model="inventory.weight" type="text"
                                               ng-class="{'response-error': errorsForm.fieldErrors.weight }">
                                    </span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.weight}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container required">
                                    <span class="field-label">Category:</span>
                                    <input placeholder="Busines" ng-model="inventory.category" required="" type="text" ng-class="{'response-error': errorsForm.fieldErrors.category }">
                                    <span class="error-field required-error field-label">Correct "Category" is required</span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.category}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container required">
                                    <span class="field-label">MFG Origin:</span>
                                    <span ng-autocomplete="{
                                            placeholder: 'Enter the country location',
                                            textField: 'name',
                                            searchField: 'name',
                                            service: 'Country',
                                            selectClass: 'select-2',
                                            required: true,
                                            fieldName: 'MFG Origin'
                                        }"
                                        ng-model="manufacturer"
                                    >
                                    </span>
                                    <input type="text" required="" class="no-visible" tabindex="-1" ng-class="{'response-error': errorsForm.fieldErrors.manufacturer }"/>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.manufacturer}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1 clear-both">
                                <label class="field-container required">
                                    <span class="field-label">Item Type:</span>
                                    <input placeholder="Gloves Market" required="" ng-model="inventory.itemType" type="text" ng-class="{'response-error': errorsForm.fieldErrors.itemType }">
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.itemType}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container">
                                    <span class="field-label">Item Value:</span>
                                    <span class="field-input">
                                        <span class="field-measure">$</span>
                                        <input placeholder="Eg. 10.00" pattern="^([0-9]*\.)?[0-9]([\d]+)?$"
                                               ng-model="inventory.value" type="text"
                                               ng-class="{'response-error': errorsForm.fieldErrors.value }">
                                    </span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.value}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell grid-1 right-text"><br/>
                <span role="button" class="btn btn-normal-blue" ng-click="saveInventory(inventoryForm)">
                    <span class="button-loader" ng-if="inventoryFormProgress"
                          ng-include="'/templates/elements/button-loader.html'"></span>
                    <span class="btn-text">{{inventorySKU ? 'Update' : 'Save'}}</span>
                </span>
                <span role="button" class="btn btn-red" ng-click="toBack()">
                    <span class="btn-text">{{inventorySKU ? 'Back' : 'Cancel'}}</span>
                </span>
            </div>
        </div>
    </div>

</form>