<div class="grid-row padding-lr bottom-5em">

    <div ng-errors="formError" form-error></div>

    <div class="grid-cell grid-1-2 grid-cell-1024-2-3 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Import Contacts:</h3>
                <br/><br/><br/>
                <p class="description-form">
                    <b>Download our inventory template CSV (Comma Seperated Values) file.</b><br/>
                    This file has the correct column headings the BBA System needs to import your address data.
                </p>
                <a href="/files/inventory-example.csv" target="_blank" class="btn btn-green">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/label_icon_light.svg"/>
                    </span>
                    <span class="btn-text">DOWNLOAD TEMPLATE</span>
                </a>
                <br/><br/><br/>
                <p class="bold">Select the file to import.</p><br/>
                <div class="field-label" ng-if="fileError">
                    <span class="notice-field float-left">{{ fileError }}</span>
                </div>
                <div class="form-table">
                    <div class="field-container">
                        <div class="field-input">
                            <div class="btn btn-grey">
                                <span class="btn-icon">
                                    <img src="/images/icons/buttons/download_icon.svg"/>
                                </span>
                                <span class="btn-text">CHOOSE</span>
                                <input type="file" class="file-field" custom-on-change data-handler="onChangeFile(params)" size="1048576" accept="text/csv" ng-model="file">
                            </div>
                        </div>
                        <div class="field-label">
                            <div class="file-name-span bold">{{file.name}}</div>
                        </div>
                    </div>
                </div>

                <br/><br/>
                <div class="right-text">
                    <a href="/configuration/inventory/" class="btn btn-close">
                        <span class="btn-text">Close</span>
                    </a>
                    <span role="button" class="btn btn-dark-grey" ng-class="{'no-active': fileError || !file}" ng-click="!fileError && file ? completeImport() : false">
                        <span class="btn-icon">
                            <img src="/images/icons/buttons/download_icon.svg"/>
                        </span>
                        <span class="btn-text">COMPLETE IMPORT</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>