<div class="bottom-5em">
    <div class="grid-row">
        <nav class="grid-cell grid-1-2">
            <div class="tabs">
                <ul class="tabs-navigation-desktop tabs-1-3">{{counter}}
                    <li class="tabs-navigation-button" data-ng-class="{active:tab=='general'}"
                        data-ng-click="toTab('general')">General
                    </li>
                    <li class="tabs-navigation-button" data-ng-class="{active:tab=='extras'}"
                        data-ng-click="toTab('extras')">Extras
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div ng-init="getWarehouse()">
        <div ng-hide="tab!='general'" class="grid-row padding-lr-0-5">
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1 bottom-1em">
                <form novalidate class="grid-cell-content" name="generalForm">
                    <!--- GeneralForm error --->
                    <div ng-errors="GeneralFormErrors" form-error class="no-margin-error"></div>
                    <!--- / GeneralForm error --->
                    <div class="form-field-set">
                        <h3>General Information:</h3>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2">
                                <label class="field-container required">
                                    <span class="field-label">First Name:</span>
                                    <input placeholder="What is your first name" required
                                           ng-model="warehouse.firstName">
                                    <span class="error-field required-error field-label">Correct "First Name" is required</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container required">
                                    <span class="field-label">Last Name:</span>
                                    <input placeholder="What is your last name" required ng-model="warehouse.lastName">
                                    <span class="error-field required-error field-label">Correct "Last Name" is required</span>
                                </label>
                            </div>

                            <div class="grid-cell grid-1">
                                <label class="field-container required">
                                    <span class="field-label">Email:</span>
                                    <input type="email" required ng-model="warehouse.email">
                                    <span class="error-field required-error field-label">Correct "Email" is required</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container required">
                                    <span class="field-label">Phone 1:</span>
                                    <input required ng-model="warehouse.phone">
                                    <span class="error-field required-error field-label">Correct "Phone 1" is required</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Phone 2:</span>
                                    <input ng-model="warehouse.phone2">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                <form novalidate class="grid-cell-content" name="addressForm">
                    <!--- GeneralForm error --->
                    <div ng-errors="AddressFormErrors" form-error class="no-margin-error"></div>
                    <!--- / GeneralForm error --->
                    <div class="form-field-set">
                        <h3>Address Details:</h3>
                        <div class="grid-row padding-lr-0-5">
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Company:</span>
                                    <input ng-model="warehouse.company" value="Lemot Pty Ltd">
                                </label>
                            </div>

                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                            <span class="field-label">
                                <span class="notice-field">(Leave blank if only warehouse)</span>
                                Priority:
                            </span>
                                    <input ng-model="warehouse.priority">
                                </label>
                            </div>
                            <div class="grid-cell grid-1">
                                <label class="field-container required">
                                    <span class="field-label">Address 1:</span>
                                    <input required ng-model="warehouse.addressLine1">
                                    <span class="error-field required-error field-label">Correct "Address 1" is required</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1">
                                <label class="field-container">
                                    <span class="field-label">Address 2:</span>
                                    <input ng-model="warehouse.addressLine2">
                                </label>
                            </div>
                        </div>

                        <ng-location
                                ng-model="warehouseLocation"
                                ng-params="locationParams"
                                ></ng-location>
                    </div>
                </form>
            </div>
        </div>
        <form class="grid-row" name="extrasForm" novalidate ng-hide="tab!='extras'">
            <div class="grid-cell grid-1-2">
                <div class="grid-cell-content">
                    <!--- ExtrasForm error --->
                    <div ng-errors="ExtrasFormErrors" form-error class="no-margin-error"></div>
                    <!--- / ExtrasForm error --->
                    <div class="form-field-set">
                        <h3>Edit Warehouse:</h3>
                        <label class="field-container required">
                            <span class="field-label">Name:</span>
                            <input value="Lemot Warehouse QLD" ng-model="warehouse.name" required>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-space-line size-0-5"></div>
            <div class="grid-cell grid-1">
                <div class="grid-row padding-lr-0-5 padding-tb">
                    <div class="grid-cell grid-1-3">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Receiver unattended delivery:</h3>
                                <p class="form-field-description">
                            <span>Please select for ALL receiver deliveries to be unattended.<br/>
                            (no signature required on delivery)</span>
                                </p>
                        <span class="field-container">
                            <label class="checkbox-form">
                                <input type="radio" name="field-1" ng-model="warehouse.unattendedDeliveryEnabled" ng-value=true>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">Yes</span>
                            </label>
                            <label class="checkbox-form">
                                <input type="radio" name="field-1" ng-model="warehouse.unattendedDeliveryEnabled" ng-value=false>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">No</span>
                            </label>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-3">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Receiver PO Box enabled:</h3>
                                <p class="form-field-description">
                                    <span>Enable the ability for PO Box Deliveries and to display in quoting and booking.</span>
                                </p>
                        <span class="field-container">
                            <label class="checkbox-form">
                                <input type="radio" name="field-2" ng-model="warehouse.poBoxEnabled" ng-value=true>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">Yes</span>
                            </label>
                            <label class="checkbox-form">
                                <input type="radio" name="field-2" ng-model="warehouse.poBoxEnabled" ng-value=false>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">No</span>
                            </label>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-3">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Dangerous goods enabled:</h3>
                                <p class="form-field-description">
                                    <span>Enable Dangerous Goods for quoting and booking purposes.</span>
                                </p>
                        <span class="field-container">
                            <label class="checkbox-form">
                                <input type="radio" name="field-3" ng-model="warehouse.dangerousGoodsEnabled" ng-value=true>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">Yes</span>
                            </label>
                            <label class="checkbox-form">
                                <input type="radio" name="field-3" ng-model="warehouse.dangerousGoodsEnabled" ng-value=false>
                                <span class="checkbox-decoration"></span>
                                <span class="label-text">No</span>
                            </label>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell grid-1-3">
                        <div class="grid-cell-content">
                            <div class="form-field-set">
                                <h3>Enable SSCC + RFID to warehouse:</h3>
                                <p class="form-field-description">
                                    <span>Please enable for SSCC + RFID to warehouse.</span>
                                </p>
                            <span class="field-container">
                                <label class="checkbox-form">
                                    <input type="radio" name="field-4" ng-model="warehouse.ssccEnabled" ng-value=true>
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">Yes</span>
                                </label>
                                <label class="checkbox-form">
                                    <input type="radio" name="field-4" ng-model="warehouse.ssccEnabled" ng-value=false>
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">No</span>
                                </label>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <div class="grid-row clear-both clear-fix">
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1" ng-if="tab == 'general'">&nbsp;</div>
            <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
                <div ng-class="{'right-text': tab == 'general'}">
                    <span role="button" class="btn btn-red" ng-click="toBack()">
                        <span class="btn-text">{{warehouseId ? 'Back' : 'Cancel'}}</span>
                    </span>
                    <span role="button" class="btn btn-normal-blue" ng-click="saveWarehouse(generalForm, addressForm, extrasForm)">
                            <span class="button-loader" ng-if="addressFormProgress"
                                  ng-include="'/templates/elements/button-loader.html'"></span>
                        <span class="btn-text">{{warehouseId ? 'Update' : 'Save'}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>