<div class="grid-row padding-lr-0-5 padding-tb bottom-1em">
    <div class="grid-cell grid-1-2">
        <div class="btn btn-red float-right">
            <span class="btn-text">EDIT SHIPMENT</span>
        </div>
        <h2>Shipment Booking</h2><br/>
        <div class="size-1-25 bold">Consignment No: B1234567890</div>
    </div>
    <div class="grid-cell grid-1-2 clear-both">
        <div class="grid-cell-content">

            <div class="tabbed-table">
                <div class="tabbed-table-title blue-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Order Summary</h4>
                </div>
                <div class="form-field-set">
                    <div class="grid-row padding-lr">
                        <div class="grid-cell grid-1-2">
                            <div class="tabbed-table-content"><br>
                                <ul>
                                    <li>
                                        <b>BBA Reference Number:</b> <span class="nowrap">BBA 12348</span><br><br><br>
                                    </li>
                                    <li>
                                        <b>Booking Status:</b> Processed<br><br><br>
                                    </li>
                                    <li>
                                        <b>Customer Name:</b> Lemot<br><br><br>
                                    </li>
                                    <li>
                                        <b>Phone: </b>07 3737 9392<br><br><br>
                                    </li>
                                    <li>
                                        <b>Email:</b> help@helping.com.au
                                    </li>
                                </ul><br><br>
                            </div>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container">
                                <span class="field-label">SSCC No.:</span>
                                <input value="1234567" readonly>
                            </label>
                            <label class="field-container">
                                <span class="field-label">GRAI No.:</span>
                                <input value="111222333" readonly>
                            </label>
                            <label class="field-container">
                                <span class="field-label">SSCC Linked No.:</span>
                                <input value="11223344" readonly>
                            </label>
                            <label class="field-container">
                                <span class="field-label">GRAI Linked No.:</span>
                                <input value="11223344" readonly>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 clear-both">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title red-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Collection Address</h4>
                </div>
                <div class="tabbed-table-content form-field-set">
                    <div class="grid-row padding-lr-0-5">
                        <div class="grid-cell grid-1">
                            <label class="field-container required">
                                <span class="field-label">Company:</span>
                                <input placeholder="Your company name" required>
                            </label>
                        </div>

                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">First Name:</span>
                                <input placeholder="What is your first name" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Last Name:</span>
                                <input placeholder="What is your last name" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Phone:</span>
                                <input placeholder="0455729239" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Email:</span>
                                <input placeholder="example@youremail.com" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1">
                            <label class="field-container required">
                                <span class="field-label">Address:</span>
                                <input value="" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1">
                            <label class="field-container">
                                <input value="">
                            </label>
                        </div>
                    </div>
                    <ng-location ng-model="collectionAddress.location" options="collectionAddressLocationOptions"></ng-location>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content">
            <div class="tabbed-table">
                <div class="tabbed-table-title yellow-color">
                    <div class="tabbed-table-arrow"></div>
                    <h4>Delivery Address:</h4>
                </div>
                <div class="tabbed-table-content form-field-set">
                    <div class="grid-row padding-lr-0-5">
                        <div class="grid-cell grid-1">
                            <label class="field-container required">
                                <span class="field-label">Company:</span>
                                <input placeholder="Your company name" required>
                            </label>
                        </div>

                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">First Name:</span>
                                <input placeholder="What is your first name" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Last Name:</span>
                                <input placeholder="What is your last name" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Phone:</span>
                                <input placeholder="0455729239" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1-2">
                            <label class="field-container required">
                                <span class="field-label">Email:</span>
                                <input placeholder="example@youremail.com" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1">
                            <label class="field-container required">
                                <span class="field-label">Address:</span>
                                <input value="" required>
                            </label>
                        </div>
                        <div class="grid-cell grid-1">
                            <label class="field-container">
                                <input value="">
                            </label>
                        </div>
                    </div>
                    <ng-location ng-model="deliveryAddress.location" options="deliveryAddressLocationOptions"></ng-location>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <span role="button" class="btn btn-normal-blue">
            <span class="btn-text">Save &amp; Continue</span>
        </span>
        <br/>
    </div>
</div>

<div class="tab-section">
    <div class="tab-section-line wrapper-padding-lr">
        <i class="fa fa-angle-down tab-arrow"></i>
        <h2>Shipment Details:</h2>
    </div>
    <div class="form-holder">
        <div class="grid-row padding-lr padding-tb-1-5 bottom-1em">
            <div class="grid-cell grid-2-3">
                <div class="grid-cell-content">
                    <div class="tabbed-table">
                        <div class="tabbed-table-title light-grey-color">
                            <div class="tabbed-table-arrow"></div>
                            <h4>Shipment Information</h4>
                        </div>
                        <div class="tabbed-table-content form-field-set"><br><br>
                            <ul>
                                <li>
                                    <b>Carrier:</b> Couriers Please<br><br><br>
                                </li>
                                <li>
                                    <b>Service:</b> Please Bag<br><br><br>
                                </li>
                                <li>
                                    <b>Packaging:</b> Bag 10x10x10<br><br><br>
                                </li>
                                <li>
                                    <b>Default Shipping Rule:</b> Local Delivery
                                </li>
                            </ul>

                            <span role="button" class="btn btn-normal-blue float-right toggle-carriers" ng-click="showCarriers = !showCarriers">
                                <span class="btn-icon-right">
                                    <i class="fa" ng-class="{'fa-caret-down': !showCarriers, 'fa-caret-up': showCarriers}"></i>
                                </span>
                                <span class="btn-text">Change Carrier</span>
                            </span>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>

                <div class="quotes-container" ng-show="showCarriers">
                    <ng-sortable-table table-data="quotes"></ng-sortable-table>
                    <br/><br/>
                    <div class="float-right nowrap">
                        <a href="#" class="btn btn-normal-blue">
                            <span class="btn-text">Save</span>
                        </a>&nbsp;
                        <a href="#" class="btn btn-red">
                            <span class="btn-text">Generate Label</span>
                        </a>
                    </div>
                    <div class="clear-both"></div><br/>
                </div>
            </div>
            <form name="packagesForm" novalidate ng-init="onInitPackages()" class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <div class="tabbed-table">
                        <div class="tabbed-table-title blue-color">
                            <div class="tabbed-table-arrow"></div>
                            <h4>Packages / Cartonisation</h4>
                        </div>
                        <div class="tabbed-table-content form-field-set">
                            <div ng-repeat="package in packages" class="grid-row padding-lr padding-tb-1-5">
                                <div class="grid-cell grid-1-4 float-right grid-cell-1280-left grid-cell-1280-1-3 grid-cell-mxs-1-2  grid-cell-ss-2-3 grid-cell-mbs-1 package-container">
                                    <label class="field-container">
                                        <span class="field-label">Change Package:</span>
                                        <select
                                                ng-model="package.selected"
                                                ng-select
                                                ng-parent="package-container"
                                                ng-if="loadedPackages" ng-size="5"
                                                ng-options="option.name for option in package.list track by option['id']"
                                                >
                                        </select>
                                    </label>
                                </div>

                                <div class="grid-cell grid-3-4 grid-cell-1280-1">
                                    <div class="grid-row padding-lr-0-5">
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container">
                                                <span class="field-label">Measure:</span>
                                                <div ng-show="package.selected.custom">
                                                    <select
                                                            ng-model="package.selected.measure"
                                                            ng-select ng-parent="grid-cell" ng-size="5"
                                                            ng-change="onSelectUnit(package.selected)"
                                                            ng-options="(option.values.measureUnit + '/' + option.values.weightUnit) for option in Units track by option['id']"
                                                            >
                                                    </select>
                                                </div>
                                                <input required value="{{package.selected.weightUnit}} / {{package.selected.measureUnit}}" readonly="readonly" ng-if="!package.selected.custom">
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Quantity:</span>
                                                <input placeholder="" required ng-model="package.quantity" pattern="^[1-9]([\d]+)?$">
                                                <span class="error-field required-error field-label">Correct quantity is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Max Weight:</span>
                                                <input placeholder="" required ng-model="package.selected.maxWeight" pattern="^[1-9]([\d]+)?$" ng-readonly="!package.selected.custom">
                                                <span class="error-field required-error field-label">Correct weight is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Length:</span>
                                                <input placeholder="" required ng-model="package.selected.length" pattern="^[1-9]([\d]+)?$" ng-readonly="!package.selected.custom">
                                                <span class="error-field required-error field-label">Correct length is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Width:</span>
                                                <input placeholder="" required ng-model="package.selected.width" pattern="^[1-9]([\d]+)?$" ng-readonly="!package.selected.custom">
                                                <span class="error-field required-error field-label">Correct width is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                        <div class="grid-cell grid-1-3 grid-cell-mxs-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                                            <label class="field-container required">
                                                <span class="field-label">Height:</span>
                                                <input placeholder="" required ng-model="package.selected.height" pattern="^[1-9]([\d]+)?$" ng-readonly="!package.selected.custom">
                                                <span class="error-field required-error field-label">Correct height is required</span>
                                                <span class="error-field valid-error field-label">Please enter a valid value</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div><br/><br/>
                        </div>
                    </div>
                </div><br/>
                <div>
                    <span role="button" class="btn btn-violette" ng-click="addPackage(packagesForm)">
                        <span class="btn-text">Add</span>
                    </span>
                    <sppan role="button" class="btn btn-red" ng-click="removePackage()" ng-class="{'no-active': packages.length < 2}">
                        <span class="btn-text">Remove</span>
                    </sppan>
                </div>
            </form>
            <div class="grid-cell grid-1">
                <div class="grid-cell-content">
                    <div class="tabbed-table">
                        <div class="tabbed-table-title yellow-color">
                            <div class="tabbed-table-arrow"></div>
                            <h4>Items</h4>
                        </div>
                        <div class="tabbed-table-content">
                            <br/><br/>
                            <ng-sortable-table table-data="itemsTable"></ng-sortable-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-1">
                <span role="button" class="btn btn-violette float-left" ng-click="addItem()">
                    <span class="btn-text">ADD</span>
                </span>
                <div class="float-right nowrap">
                    <span role="button" class="btn btn-normal-blue">
                        <span class="btn-text">SAVE</span>
                    </span>
                    <span role="button" class="btn btn-red">
                        <span class="btn-text">GENERATE LABEL</span>
                    </span>
                </div>
            </div>
            <div class="grid-cell grid-1-2">
                <div class="grid-cell-content">
                    <div class="tabbed-table">
                        <div class="tabbed-table-title black-color">
                            <div class="tabbed-table-arrow"></div>
                            <h4>Transfer complete order to linked warehouse</h4>
                        </div>
                        <div class="tabbed-table-content">
                            <div class="radio-row" ng-class="{'active':transfer==1}">
                                <label class="checkbox-form">
                                    <input type="radio" ng-model="transfer" checked="checked" value="1">
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">Super Factory Warehouse location (Sydney)</span>
                                </label>
                            </div>
                            <div class="radio-row" ng-class="{active: transfer==2}">
                                <label class="checkbox-form">
                                    <input type="radio" ng-model="transfer" value="2">
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">Super Luigie Tamagochi Warehouse location (Melbourne)</span>
                                </label>
                            </div>
                            <div class="radio-row" ng-class="{active: transfer==3}">
                                <label class="checkbox-form">
                                    <input type="radio" ng-model="transfer" value="3">
                                    <span class="checkbox-decoration"></span>
                                    <span class="label-text">Transfered Delectables Southern Chapter (TAS)</span>
                                </label>
                            </div>
                            <div class="radio-row article-content-wrapper right-text">
                                <a href="#" class="btn btn-yellow ">
                                    <span class="btn-text">TRANSFER ORIGIN</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
