<h2>Shipment Summary:</h2><br/>
<div class="size-1-25 bold">BBA Reference No. BBA 123458</div><br/><br/>
<div class="grid-row">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <br/>
            <div class="wrapper-padding-lr float-right adding-button">
                <a href="#" class="btn btn-red">
                    <span class="btn-text">Book</span>
                </a>
            </div>
            <ng-sortable-table table-data="detailsShipmentsTable"></ng-sortable-table>
        </div>
    </div>
</div>
</div>
