<div class="grid-row" ng-controller="PendingShipmentsProcessController">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="article-content-wrapper">
                <a href="#" class="btn btn-normal-blue disabled">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/download_icon.svg">
                    </span>
                    <span class="btn-text">Import</span>
                </a>
            </div>

            <div class="wrapper-padding-lr float-right adding-button">
                <a href="#" class="btn btn-red">
                    <span class="btn-text">Book</span>
                </a>
            </div>
            <ng-sortable-table table-data="pendingShipmentsTable"></ng-sortable-table>
        </div>
    </div>
</div>