<div class="grid-row" ng-controller="PendingShipmentsSplitController">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <br/>
            <div class="wrapper-padding-lr float-right adding-button">
                <a href="#" class="btn btn-red">
                    <span class="btn-text">Book</span>
                </a>
            </div>
            <ng-sortable-table table-data="splitShipmentsTable"></ng-sortable-table>          </div>
        </div>
    </div>
</div>