body, html {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 320px;
}
body {
    margin: 0;
    font: 14px 'Ubuntu', sans-serif;
    color: #fff;
    position: relative;
    background: url(/images/bba_login_background.jpg) center center no-repeat fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
}
footer {
    color: #cccbcb;
    font-size: 0.75em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.5%;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    padding: 0 4em;
}
footer ul li + li {
    border-left: 1px solid;
}
footer a {
    color: inherit;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


a img {
    border: 0 none;
}

.logotype-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    height: 15.5%;
}

.logotype {
    display: inline-block;
    height: 100%;
}
.logotype img {
    height: 100%;
    display: block;
}
h1 {
    font-size: 3.15em;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    margin: 0; /*2.55em 0 2.75em;*/
}
.form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 27.5%;
    margin-top: 4em;
}


.auth-form {
    background-color: #d7d8d9;
    padding: 4em 0 2em;
    width: 40em;
    max-width: 100%;
    margin: 0 auto;
}
.auth-form form {
    margin: 0 10%;
    color: #000;
    position: relative;
}
input[type="text"], input[type="password"] {
    border: 0 none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    height: 3.3em;
    width: 100%;
    padding: 0 1em;
    font-size: 1.5em;
}

input {
    font: inherit;
    -webkit-appearance: none;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}

.field-row + .field-row {
    margin-top: 2em;
}
.footer-form {
    line-height: 2em;
    margin-top: 3em;
}
.footer-form a {
    color: #0076bb;
    text-decoration: none;
    font-weight: bold;
}
.footer-form a:hover {
    text-decoration: underline;
}
input[type="submit"] {
    background-color: #0069cc;
    color: #fff;
    height: 2.85em;
    padding: 0 4.85em;
    border: 0 none;
    text-transform: uppercase;
    font-weight: bold;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -moz-box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.15);
    font-size: 1.3em;
}
input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #0084f0;
}
.checkbox {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.checkbox input {
    width: 1px;
    height: 1px;
    position: absolute;
    right: 100%;
    margin: 0;
    bottom: 100%;
    opacity: 0;
    -moz-opacity: 0;
}

.checkbox input + span {
    color: #a6a8ab;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    margin-right: 0.8em;
    vertical-align: middle;
}
.checkbox input:checked + span {
    color: #0070cf;
}
.checkbox span:before {
    content: "\f0c8";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.2em;
}
.checkbox input:checked + span:before {
    content: "\f14a";
}









@media screen and (min-width: 560px) and (max-height: 800px) and (min-height: 680px)  {
    .form-container {
        font-size: 0.75em;
    }
    h1 {
        font-size: 2.35em;
    }
}
@media screen and (min-width: 560px) and (max-height: 680px)  and (min-height: 560px) {
    .form-container {
        font-size: 0.6em;
    }
    h1 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 560px) and (min-width: 420px) {
    .form-container {
        font-size: 0.6em;
    }
    h1 {
        font-size: 1.9em;
    }
}
@media screen and (max-width: 420px) {
    .form-container {
        font-size: 0.6em;
    }
    h1 {
        font-size: 1.9em;
    }
}
@media screen and (max-width: 420px) and (max-height: 560px) {
    .logotype-container {
        position: relative;
        margin: 0 auto;
        text-align: left;
        font-size: 0.6em;
        width: 40em;
        max-width: 100%;
        height: auto;
    }
    .logotype {
        float: left;
        margin-left: 2%;
        width: 5.35em;
        margin-right: 5%;
    }
    h1 {
        position: relative;
        top: 5%;
        line-height: 4.5em;
        text-align: left;
    }
    .form-container {
        margin-top: 0;
        top: 23.5%;
    }
}
@media screen and (max-width: 764px) {
    footer ul li {
        display: block;
        padding: 0;
    }
    footer ul li + li {
        border-left: 0 none;
    }
}
@media screen and (max-width: 764px) and (min-width: 420px) {
    footer ul li + li {
        padding-top: 1.25em;
    }
}
@media screen and (max-width: 420px) {
    footer {
        bottom: 2%;
    }
    footer ul li + li {
        padding-top: 1em;
    }
}

@media screen and (max-height: 560px) and (min-height: 400px) {
    .logotype-container {
        position: relative;
        margin: 0 auto;
        text-align: left;
        font-size: 0.5em;
        width: 40em;
        max-width: 100%;
        height: auto;
    }
    .logotype {
        float: left;
        margin-left: 2%;
        width: 5.35em;
        margin-right: 5%;
    }
    h1 {
        position: relative;
        top: 5%;
        line-height: 4em;
        text-align: left;
        font-size: 1.8em;
    }
    .form-container {
        margin-top: 0;
        top: 23.5%;
        font-size: 0.5em;
    }
    footer {
        font-size: 0.5em;
    }
}

@media screen and (max-height: 400px) {
    .logotype-container {
        position: relative;
        margin: 0 auto;
        text-align: left;
        font-size: 0.4em;
        width: 40em;
        max-width: 100%;
        height: auto;
    }
    .logotype {
        float: left;
        margin-left: 2%;
        width: 5.35em;
        margin-right: 5%;
    }
    h1 {
        position: relative;
        top: 5%;
        line-height: 4em;
        text-align: left;
    }
    .form-container {
        margin-top: 0;
        top: 23.5%;
    }
    .form-container {
        font-size: 0.4em;
    }
    h1 {
        font-size: 1.5em;
    }
    footer {
        font-size: 0.4em;
    }
}
.form-error {
    color: #a00;
    line-height: 1.2em;
    top: -2.4em;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
}
