<div class="tabs">
    <div class="tabs-navigation-desktop">
        <a href="/dashboard/my-profile" class="tabs-navigation-button" data-ng-class="{active: activeTab == 'company'}">Company</a>
        <a href="/dashboard/my-profile/password" class="tabs-navigation-button"
           data-ng-class="{active: activeTab == 'password'}">Password Change</a>
        <a href="/dashboard/my-profile/marketplaces" class="tabs-navigation-button"
           data-ng-class="{active: activeTab == 'marketplaces'}">Marketplaces</a>
    </div>
    <a href="/dashboard/my-profile" class="tabs-navigation-button" data-ng-class="{active: activeTab == 'company'}">Company</a>
    <div class="tabs-content-item"
         ng-if="activeTab == 'company'">
        <div ng-include="'/templates/dashboard/my-profile/company.html'"
             ng-controller="DashboardProfileCompanyController"></div>
    </div>
    <a href="/dashboard/my-profile/password" class="tabs-navigation-button"
       data-ng-class="{active: activeTab == 'password'}">Password Change</a>

    <div class="tabs-content-item"
         ng-if="activeTab == 'password'">
        <div ng-include="'/templates/dashboard/my-profile/password.html'"
             ng-controller="DashboardProfilePasswordController"></div>
    </div>
    <a href="/dashboard/my-profile/marketplaces" class="tabs-navigation-button"
       data-ng-class="{active: activeTab == 'marketplaces'}">Marketplaces</a>

    <div class="tabs-content-item"
         ng-if="activeTab == 'marketplaces'">
        <div ng-include="marketplaceTemplate"
             ng-controller="DashboardProfileMarketplacesController"></div>
    </div>
</div>
