<div class="to-top bottom-2em">
    <div class="error-holder clear-fix">
        <!--- PackageForm error --->
        <div ng-errors="errorsForm" form-error></div>
        <!--- / PackageForm error --->
    </div>
</div>
<form class="grid-row  padding-lr-0-5 padding-tb-1-5 bottom-5em" name="packageForm" ng-init="getPackage()" novalidate>
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>{{packageId ? 'Edit' : 'New Package' }}:</h3>
                <div class="grid-row  padding-lr-0-5">
                    <div class="grid-cell grid-1 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Name:</span>
                            <input placeholder="" ng-model="package.name" required
                                   ng-class="{'response-error': errorsForm.fieldErrors.name }">
                            <span class="error-field required-error field-label">Correct name is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.name}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Length:</span>
                            <input placeholder="" ng-model="package.length" required pattern="^\d+(\.\d+)?$"
                                   ng-class="{'response-error': errorsForm.fieldErrors.length }">
                            <span class="error-field required-error field-label">Correct length is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.length}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Width:</span>
                            <input placeholder="" ng-model="package.width" required pattern="^\d+(\.\d+)?$"
                                   ng-class="{'response-error': errorsForm.fieldErrors.width }">
                            <span class="error-field required-error field-label">Correct width is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.width}}</span>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container">
                            <span class="field-label">Measure Unit:</span>
                            <select
                                    ng-select-class="select-2"
                                    ng-select ng-size="5"
                                    ng-model="package.measureUnit"
                                    ng-options="option.value as option.full for option in units.measure"
                                    ng-parent="grid-cell">
                            </select>
                        </label>
                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container required">
                            <span class="field-label">Height:</span>
                            <input placeholder="" ng-model="package.height" required pattern="^\d+(\.\d+)?$"
                                   ng-class="{'response-error': errorsForm.fieldErrors.height }">
                            <span class="error-field required-error field-label">Correct height is required</span>
                            <span class="error-field valid-error field-label">Please enter a valid value</span>
                            <span class="error-field response-error field-label">{{errorsForm.fieldErrors.height}}</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-2 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>Weight / Logic:</h3>
                <div class="grid-row  padding-lr-0-5">
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <div class="grid-row">
                            <div class="grid-cell grid-1">
                                <label class="field-container required">
                                    <span class="field-label">Max Weight:</span>
                                    <input placeholder="" ng-model="package.maxWeight" required pattern="^\d+(\.\d+)?$"
                                           ng-class="{'response-error': errorsForm.fieldErrors.weight }">
                                    <span class="error-field required-error field-label">Correct weight is required</span>
                                    <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.maxWeight}}</span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Cartonisation:</span>
                                    <span class="trigger-field no-text-transform">
                                        <input type="checkbox" ng-model="package.cartonisation">
                                        <span class="trigger-text trigger-on">Yes</span>
                                        <span class="trigger-text trigger-off">No</span>
                                        <span class="trigger-changer"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="grid-cell grid-1-2">
                                <label class="field-container">
                                    <span class="field-label">Display in drop down:</span>
                                    <span class="trigger-field no-text-transform">
                                        <input type="checkbox" ng-model="package.display">
                                        <span class="trigger-text trigger-on">Yes</span>
                                        <span class="trigger-text trigger-off">No</span>
                                        <span class="trigger-changer"></span>
                                    </span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="grid-cell grid-1-2 grid-cell-ss-2-3 grid-cell-mbs-1">
                        <label class="field-container">
                            <span class="field-label">Weight Unit:</span>
                            <select
                                    ng-select
                                    ng-select-class="select-2"
                                    ng-size="5"
                                    ng-model="package.weightUnit"
                                    ng-parent="grid-cell"
                                    ng-options="option.value as option.full for option in units.weight"
                                    >
                            </select>
                        </label>
                    </div>
                    <div class="grid-cell grid-1">
                        <div class="grid-row padding-lr">
                            <div class="grid-cell grid-1-2  grid-cell-ss-2-3 grid-cell-mbs-1">
                                <label class="field-container">
                                    <span class="field-label">If drop down is selected <span class="normal-weight-text">(Priority Ranking)</span>:</span>
                                    <input placeholder="Eg. 1 (Default packaging is 1)" ng-model="package.displayOrder"
                                           pattern="^\d+$"
                                           ng-class="{'response-error': errorsForm.fieldErrors.displayOrder }">
                                    <span class="error-field required-error field-label">Correct display order is required</span>
                                    <span class="error-field valid-error field-label">Please enter a valid value</span>
                                    <span class="error-field response-error field-label">{{errorsForm.fieldErrors.siplayOrder}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 grid-cell-ms-3-4 grid-cell-mxs-1">
        <div class="grid-cell-content">
            <div class="form-field-set">
                <h3>SSCC Enabled for outer package assigning only:</h3>
                <p class="form-field-description">
                    <span>Please enable for SSCC for outer package assigning only.</span>
                </p>
                <span class="field-container">
                    <span class="field-label">&nbsp;</span>
                    <label class="checkbox-form">
                        <input type="radio" ng-model="package.ssccEnabled" ng-value="true">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="checkbox-form">
                        <input type="radio" ng-model="package.ssccEnabled" ng-value="false">
                        <span class="checkbox-decoration"></span>
                        <span class="label-text">No</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1">
        <span role="button" class="btn btn-red" ng-click="Cancel()">
            <span class="btn-text">{{packageId ? 'Back' : 'Cancel'}}</span>
        </span>
            <span role="button" class="btn btn-normal-blue" ng-click="savePackage(packageForm)">
                <span class="button-loader" ng-if="addressFormProgress"
                      ng-include="'/templates/elements/button-loader.html'"></span>
            <span class="btn-text">{{packageId ? 'Update' : 'Save'}}</span>
        </span>
    </div>
</form>