{{ item.title }}
<div
        class="sorted-cell head-title-cell"
        ng-click="!item.noSort && !table.noSort ? applySort(item.sortName || item.viewName) : false"
        ng-class="{'active': (item.sortName || item.viewName) == activeSortName}">

    <div class="sort-btns" ng-if="!item.noSort && !table.noSort">
        <span class="sort-up" ng-class="{'active': (item.sortName || item.viewName) == activeSortName && sortASC}">
            <i class="fa fa-sort-up"></i>
        </span>
        <span class="sort-down" ng-class="{'active': (item.sortName || item.viewName) == activeSortName && !sortASC}">
            <i class="fa fa-sort-down"></i>
        </span>
    </div>
</div>

