<div class="grid-cell grid-1-2">

    <div class="marketplace-title-block">
        <div class="logotype-company shopify">
            <img src="/images/associated_company_logos/bigcommerce.svg"/>
        </div>
        <div class="marketplace-title-text">
            <h3>Connect with Bigcommerce</h3>
        </div>
    </div>
    <div class="form-table">
        <label class="field-container required">
            <span class="field-label  size-1">Name:</span>
            <span class="field-input">
                <input type="text" ng-model="data.name" required placeholder="Your account name">
            </span>
        </label>
        <label class="field-container required">
            <span class="field-label  size-1">Username:</span>
            <span class="field-input">
                <input type="text" ng-model="data.userName" required placeholder="Your Username">
            </span>
        </label>
        <label class="field-container required">
            <span class="field-label  size-1">API Path:</span>
            <span class="field-input">
                <input type="url" ng-model="data.apiPath" required placeholder="">
            </span>
        </label>
        <label class="field-container required">
            <span class="field-label  size-1">API Token:</span>
            <span class="field-input">
                <input type="text" ng-model="data.apiToken" required placeholder="">
            </span>
        </label>

        <span class="field-container" ng-include="buttonsTemplate"></span>
    </div>
</div>
<div class="grid-cell grid-1-2 instructions">
    <h3>Instruction for use:</h3>

    <p>Please follow the instructions outlined below to connect your Bigcommerce shop to the BBA system:</p>
    <ol>
        <li>Type in the name of your store in the “Name” field.</li>
        <li>Type in your Bigcommerce username in the “Username” field.</li>
        <li>Copy & Paste the API Path & API Token from Bigcommerce admin panel.</li>
        <li>Click on the “Connect” button.</li>
    </ol>
    <br/>

    <p>How to obtain API Path & Token</p>
    <ol>
        <li>Login to your Bigcommerce admin panel.</li>
        <li>Click on "Setup & Tools" tab (Top right corner of the screen).</li>
        <li>Click on "Legacy API accounts" tab.</li>
        <li>Click on the symbol and select ‘Edit’.</li>
        <li>Copy & Paste the API Path & API Token onto the API Path & API Token field.</li>
    </ol>
    <br/><br/>
    <!-- p>
        <b>Note: If you do not have a Legacy API Account, click here to see how you can create one.</b>
    </p -->
</div>
