<div class="grid-cell grid-1-2">
    <div class="marketplace-title-block">
        <div class="logotype-company ebay">
            <img src="/images/associated_company_logos/ebay.svg"/>
        </div>
        <div class="marketplace-title-text">
            <h3>Connect with eBay</h3>
        </div>
    </div>
    <div class="form-table">
        <label class="field-container required">
            <span class="field-label  size-1">Name:</span>
            <span class="field-input">
                <input type="text" required ng-model="data.name" placeholder="Your account name">
            </span>
        </label>

        <span class="field-container" ng-include="buttonsTemplate"></span>
    </div>
</div>
<div class="grid-cell grid-1-2 instructions">
    <h3>Instruction for use:</h3>

    <p>
        Please follow the instructions outlined below to connect your eBay shop with the BBA system:
    </p>
    <ol>
        <li>Type name of your store in the "Name" field.</li>
        <li>Click on the "Connect" Button.</li>
        <li>Login to your eBay account.</li>
        <li>Confirming authorization</li>
    </ol>
</div>