<div class="grid-cell grid-1-2 grid-cell-ms-1 grid-cell-mxs-1"
     ng-controller="DashboardProfileMarketplacesMagentoController">
    <button
            role="button"
            type="button"
            class="btn btn-red float-right"
            ng-click="deleteMarketplace(connectionData)"
            ng-if="connectionData.id">
                <span class="button-loader"
                      ng-if="deleteProgress"
                      ng-include="'/templates/elements/button-loader.html'"></span>
        <span class="btn-text">Delete Import</span>
    </button>
    <button type="button" class="btn btn-blue float-right" ng-click="enableMarketplace(connectionData.id)"
            ng-if="connectionData.verified && !connectionData.enabled">
         <span class="button-loader"
               ng-if="enableInProgress"
               ng-include="'/templates/elements/button-loader.html'"></span>
        <span class="btn-text">Enable import</span>
    </button>
    <button type="button" class="btn btn-dark-yellow float-right" ng-click="disableMarketplace(connectionData.id)"
            ng-if="connectionData.verified && connectionData.enabled">
         <span class="button-loader"
               ng-if="enableInProgress"
               ng-include="'/templates/elements/button-loader.html'"></span>
        <span class="btn-text">Suspend Import</span>
    </button>
    <h3>Market Place Connection</h3>
    <div class="marketplace-title-block">
        <div class="logotype-company magento">
            <img src="/images/associated_company_logos/magento.svg"/>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-cell grid-1 grid-cell-ms-2-3 grid-cell-mxs-1">
            <div class="form-table">
                <label class="field-container required">
                    <span class="field-label  size-1">Name:</span>
                    <span class="field-input">
                        <input type="text" required ng-model="connectionData.name" placeholder="Your account name">
                    </span>
                </label>
                <label class="field-container required">
                    <span class="field-label  size-1">Your Sync URL:</span>
                    <span class="field-input">
                        <input type="url" required ng-model="connectionData.attributes.url" placeholder="Your Sync URL">
                    </span>
                </label>
                <label class="field-container required">
                    <span class="field-label  size-1">Your API Key:</span>
                    <span class="field-input">
                        <input type="text"
                               ng-model="connectionData.attributes.api_key"
                               placeholder='Your API Key'
                               required="required">
                    </span>
                </label>
                <label class="field-container required">
                    <span class="field-label  size-1">Your API Secret:</span>
                    <span class="field-input">
                        <input type="text"
                               required="required"
                               ng-model="connectionData.attributes.api_secret"
                               placeholder="Your API Secret">
                    </span>
                </label>
                <span class="field-container" ng-include="buttonsTemplate"></span>
            </div>
        </div>
    </div>
</div>
<div class="grid-cell grid-1 grid-cell-ms-show">&nbsp;</div>
<div class="grid-cell grid-1-2 grid-cell-ms-1 instructions bottom-5em">
    <h3>Instruction for use:</h3>

    <p>Please follow the instructions outlined below to connect your Magento shop to the BBA system:</p>
    <ol>
        <li>Type in the Name of your Magento Store in the “Name” field.</li>
        <li>Copy & Paste your Sync URL & Sync Key into the Sync URL & Key fields.</li>
        <li>Click on the “Connect” button.</li>
    </ol>
    <br/>

    <p>How to obtain Sync URL & Sync Key:</p>
    <ol>
        <li>Login to your Magento admin panel.</li>
        <li>Install "BBA Logistics Order Sync" plugin.</li>
        <li>Click on "System" tab.</li>
        <li>Click on "Configuration" tab.</li>
        <li>Click on "BBA Logistics Order Sync" tab.</li>
        <li>Copy & Paste "Your Sync URL" into the "Your Sync URL" field.  i.e. <a>http://magento.myshop.com/order-sync/index.php/osync/rest/</a>
        </li>
        <li>Copy and paste “Your Sync Key” into the "Your Sync Key" field.</li>
    </ol>
</div>