<div class="grid-cell grid-1-2">

    <div class="marketplace-title-block">
        <div class="logotype-company rd3party">
            <img src="/images/associated_company_logos/3rd_party.svg"/>
        </div>
        <div class="marketplace-title-text">
            <h3>Connect with 3rd Party Sync</h3>
        </div>
    </div>
    <div class="form-table">
        <label class="field-container required">
            <span class="field-label  size-1">Name:</span>
            <span class="field-input">
                <input type="text" ng-model="data.name" placeholder="Your account name" required>
            </span>
        </label>
        <span class="field-container" ng-include="buttonsTemplate"></span>
    </div>
</div>
<div class="grid-cell grid-1-2 instructions">
    <h3>Instruction for use:</h3>

    <p>
        Please follow the instructions outlined below to connect your 3rd party system with the BBA system:
    </p>
    <ol>
        <li>Type name of your store in the "Name" field.</li>
        <li>Click on the "Connect" Button.</li>
        <li>Login to your 3rd party system account.</li>
        <li>Confirming authorization</li>
    </ol>
</div>
