<div class="grid-cell grid-1-2">
    <div class="marketplace-title-block">
        <div class="logotype-company shopify">
            <img src="/images/associated_company_logos/shopify.svg"/>
        </div>
        <div class="marketplace-title-text">
            <h3>Connect with Shopify</h3>
        </div>
    </div>
    <div class="form-table">
        <label class="field-container required">
            <span class="field-label  size-1">Name:</span>
            <span class="field-input">
                <input type="text" required ng-model="data.name" placeholder="Your account name">
            </span>
        </label>
        <label class="field-container required">
            <span class="field-label  size-1">URL:</span>
            <span class="field-input">
                <input type="url" required ng-model="data.accountUrl" placeholder="Your account URL">
            </span>
        </label>

        <span class="field-container" ng-include="buttonsTemplate"></span>
    </div>
</div>
<div class="grid-cell grid-1-2 instructions">
    <h3>Instruction for use:</h3>

    <p>Please follow the instructions outlined below to connect your Shopify shop with the BBA system:</p>
    <ol>
        <li>Type name of your store in the “Name” field.</li>
        <li>Enter the Shopify URL of your store in the “URL” field  i.e.
            <a href="https://myshop.myshopify.com/" class="bold">https://myshop.myshopify.com/</a>
        </li>
        <li>Click on the “Connect” Button.</li>
        <li>Login to your Shopify account.</li>
        <li>Click on "Install BBA Logistics" button.</li>
    </ol>
</div>
