<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Reciever Profiles:</h3>
            <div class="wrapper-padding-lr float-right nowrap adding-button">
                <a href="/configuration/address-book/import" class="btn btn-dark-grey">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/download_icon.svg">
                    </span>
                    <span class="btn-text">Import</span>
                </a>
                <span role="button" class="btn btn-grey" ng-click="exportCSV()">
                        <span class="btn-icon">
                            <img src="/images/icons/buttons/download_icon.svg">
                        </span>
                    <span class="btn-text">Export</span>
                </span>
                <a href="/configuration/address-book/edit" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg">
                    </span>
                    <span class="btn-text">Add Contacts</span>
                </a>
            </div>
            <ng-intellectual-table table-data="addressBookTableData"></ng-intellectual-table>
        </div>
    </div>
</div>
