<div class="grid-row">
    <div class="grid-cell grid-1-2">
        <div class="grid-cell-content form-field-set">
            <h3>Select Default Currency:</h3>
            <div class="size-0-75 bold">Freight Calculations to be displayed in:</div><br/>
            <div class="grid-row padding-lr">
                <div class="grid-cell grid-1-2">
                    <div class="field-holder-form">
                        <div class="label-name">Country Selector:</div>
                        <select ng-select ng-parent="field-holder-form">
                            <option>USA&nbsp;&nbsp;&nbsp;&nbsp;$US</option>
                            <option>USA&nbsp;&nbsp;&nbsp;&nbsp;$US</option>
                            <option>USA&nbsp;&nbsp;&nbsp;&nbsp;$US</option>
                            <option>USA&nbsp;&nbsp;&nbsp;&nbsp;$US</option>
                            <option>USA&nbsp;&nbsp;&nbsp;&nbsp;$US</option>
                        </select>
                    </div>
                    <div class="field-holder-form">
                        <div class="label-name">Unit of Measure:</div>
                        <select ng-select ng-parent="field-holder-form">
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                            <option>Pounds&nbsp;&nbsp;&nbsp;&nbsp;Inches</option>
                        </select>
                    </div>
                </div>
                <div class="grid-cell grid-1-2">
                    <div class="field-holder-form">
                        <div class="label-name">Unit of Measure:</div>
                        <label class="trigger-field">
                            <input type="checkbox">
                            <span class="trigger-text trigger-on">on</span>
                            <span class="trigger-text trigger-off">off</span>
                            <span class="trigger-changer"></span>
                        </label>
                    </div>
                </div>
                <div class="grid-cell grid-1">
                    <a href="#" class="float-right btn btn-normal-blue">
                        <span class="btn-text">Save</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>