<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Manage Products:</h3>
            <div class="wrapper-padding-lr float-right adding-button">
                <a href="/configuration/inventory/import" class="btn btn-dark-grey">
                        <span class="btn-icon">
                            <img src="/images/icons/buttons/upload_icon.svg">
                        </span>
                    <span class="btn-text">Import</span>
                </a>
                <span role="button" class="btn btn-grey" ng-click="exportCSV()">
                        <span class="btn-icon">
                            <img src="/images/icons/buttons/download_icon.svg">
                        </span>
                    <span class="btn-text">Export</span>
                </span>
                <a href="/configuration/inventory/edit" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg">
                    </span>
                    <span class="btn-text">Add Inventory</span>
                </a>
            </div>
            <ng-intellectual-table table-data="inventoryTableData"></ng-intellectual-table>
            <label class="checkbox-form float-right clear-both wrapper-padding-lr">
                <input type="checkbox" name="locale" ng-model="enableInQuote" ng-change="updateTable()">
                <span class="checkbox-decoration"></span>
                <span class="label-text">Enable in Quote and Book</span>
            </label>
            <div class="clear-both"></div><br/>
        </div>
    </div>
</div>
