<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <div class="clear-fix">
                <div class="float-left article-content-wrapper title-of-article">
                    <h3>Current Profiles</h3>
                </div>
                <span class="in-title-content field-container ">
                    <a href="/configuration/profile-manager/edit" class="btn btn-light-orange">
                        <span class="btn-icon">
                            <img src="/images/icons/buttons/add_new_icon.svg">
                        </span>
                        <span class="btn-text">Create</span>
                    </a>
                </span>
            </div>
            <ng-intellectual-table table-data="tableData"></ng-intellectual-table>
        </div>
    </div>
</div>
