<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Current Rules:</h3>
            <div class="wrapper-padding-lr float-right adding-button">
                <a href="/configuration/shipping-rules/edit" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg">
                    </span>
                    <span class="btn-text">Add Rule</span>
                </a>
            </div>
            <ng-sortable-table table-data="tableData"></ng-sortable-table>
        </div>
    </div>
</div>
