<div class="grid-row padding-tb bottom-5em">
    <div class="grid-cell grid-1">
        <div class="grid-cell-content">
            <h3 class="article-content-wrapper title-of-article">Current Warehouses:</h3>
            <div class="wrapper-padding-lr float-right adding-button">
                <a href="/configuration/warehouses/edit" class="btn btn-light-orange">
                    <span class="btn-icon">
                        <img src="/images/icons/buttons/add_new_icon.svg">
                    </span>
                    <span class="btn-text">Add new Warehouse</span>
                </a>
            </div>
            <ng-intellectual-table table-data="warehousesTableData"></ng-intellectual-table>
        </div>
    </div>
</div>
