<button role="button" class="btn btn-orange" ng-click="resetFilters();">
    <span class="btn-text">Reset Filters</span>
</button>
<div class="size-0-5" ng-if="item.filterButtons && item.filterButtons.length">&nbsp;</div>
<button role="button" ng-repeat="button in item.filterButtons track by $index" class="btn + {{ button.type }}" ng-class="{'no-active': !checkedItems.length}" ng-click="button.action(checkedItems, $event)">
    <span class="btn-icon" ng-if="button.icon">
        <img ng-src="/images/icons/buttons/{{button.icon}}.svg">
    </span>
    <span class="btn-text" ng-if="button.text">{{button.text}}</span>
</button>
