<label class="filter-field date-field">
    <input type="text" placeholder="From" ng-date-picker="">
    <span class="filter-buttons">
        <img src="/images/icons/buttons/calendar_icon.svg">
    </span>
</label>
<label class="filter-field date-field">
    <input type="text" placeholder="To" ng-date-picker="">
    <span class="filter-buttons">
        <img src="/images/icons/buttons/calendar_icon.svg">
    </span>
</label>