<form class="filter-field nowrap" ng-submit="applyFiltersCallback()">
    <input type="text" class=""
           placeholder="Search"
           ng-change="updatedFilters(true)"
           ng-model="activeFilters[item.filterName || item.viewName]"/>
    <button class="filter-buttons" tabindex="-1">
        <span class="sort-button"><i class="fa fa-sort-up"></i></span>
        <span class="sort-button"><i class="fa fa-sort-down"></i></span>
    </button>
</form>